<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>
<!-->
<html class="no-js">
<!--<![endif]-->
    <head>
        {% block header %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <title>{% block title %}Phraseanet{% endblock title %}</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <meta content="{{ app['phraseanet.registry'].get('GV_metaDescription') }}" name="description"/>
            <meta http-equiv="X-UA-Compatible" content="chrome=1">
            <meta content="{{ app['phraseanet.registry'].get('GV_metaKeywords') }}" name="keywords"/>
            <meta content="phraseanet" name="generator"/>

            {% block header_rss %}{% endblock %}

            {% block favicon %}
                <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
            {% endblock favicon %}

            {% block header_stylesheet %}
                <link rel="stylesheet" href="{{ path('minifier', { 'g' : 'authentication_css' }) }}">

                <!--[if IE 7]>
                    <link rel="stylesheet" href="{ path('minifier', { 'f' : 'assets/font-awesome/css/font-awesome-ie7.min.css' }) }}">
                <![endif]-->
            {% endblock header_stylesheet %}

            {% block header_javascript %}
                {# include backbone templates #}
                {% include "login/common/templates.html.twig" %}

                <script type="text/javascript" src="{{ path('minifier', {'g' : 'authentication'}) }}"></script>
            {% endblock header_javascript %}
        {% endblock header %}
    </head>
    <body>
        {% if app['phraseanet.registry']->get('GV_display_gcf') %}
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        {% endif %}
        <div class="container full-height">
            {% block content_scaffholding %}

            {% endblock %}
            {% block footer_scaffholding %}
                <div class="row-fluid">
                   <div class="span12">
                       <div class="footer well-small">
                           {% block footer %}
                               <div class="row-fluid">
                                   <div class="span9" >
                                       {% block footer_content %}
                                           <div class="footer-block">
                                               <ul class="inline footer-list unstyled">
                                                   <li class="item-first" >
                                                      <a href="{{ path("homepage") }}">{% trans "Home" %}</a>
                                                   </li>
                                                   <li>
                                                      <a href="#">{% trans "Help" %}</a>
                                                   </li>
                                                   {% if login.get_cgus(app) is not empty %}
                                                       <li>
                                                           {% block tou_link %}
                                                               <a href="{{ path("login_cgus") }}">{% trans "Terms of use" %}</a>
                                                           {% endblock tou_link %}
                                                       </li>
                                                   {% endif %}
                                                   <li>
                                                       {% block copyright %}
                                                          &copy; Copyright Alchemy 2005-{{ "now"|date("Y") }}
                                                       {% endblock copyright %}
                                                   </li>
                                               </ul>
                                           </div>
                                       {% endblock footer_content %}
                                   </div>
                                   <div class="span3">
                                       <div class="footer-block text-right">
                                           {% block footer_logo %}Phraseanet{% endblock footer_logo %}
                                       </div>
                                   </div>
                               </div>
                           {% endblock footer %}
                       </div>
                   </div>
               </div>
            {% endblock footer_scaffholding %}
        </div><!--/.fluid-container-->
        {% include 'common/analytics.html.twig' %}

        {% block scripts %}{% endblock %}
    </body>
</html>
