{% extends 'account/base.html.twig' %}

{% block content %}
<form name="updatingDemand" id="updatingDemand" action="/account/" method="post">
    <table border="0" style="table-layout: fixed; font-size: 11px;" cellspacing=0 width="100%">
        <tr>
            <td  style="width: 180px; text-align: right">&nbsp;</td>
            <td  width="15px" style="width: 15px">&nbsp;</td>
            <td  style="width: 180px;">&nbsp;</td>
        </tr>
        {% for sbasId, baseInsc in inscriptions %}
            {% if baseInsc['CollsRegistered'] or baseInsc['CollsRefuse'] or baseInsc['CollsWait'] or baseInsc['CollsIntime'] or baseInsc['CollsOuttime'] or baseInsc['CollsNonactif'] or baseInsc['CollsCGU'] or baseInsc['Colls'] %}
                <tr>
                    <td colspan="3" style="text-align: center;"><h3>{{ sbasId | sbas_names }}</h3></td>
                </tr>
            {% endif %}

            {% if baseInsc['CollsRegistered'] is not none %}
                {% for base in  baseInsc['CollsRegistered']%}
                    {% for collId, isTrue in base %}
                        {{ base_id == sbasId |base_from_coll(collId) }}
                        <tr>
                            <td colspan="3" style="text-align:center;">
                                {% trans 'login::register: acces authorise sur la collection ' %}{{ sbasId |sbas_names }}
                                {% if isTrue | trim != '' %}
                                    <a class="inscriptlink" href="/include/cguUtils.php?action=PRINT&bas={{sbasId}}&col='{{collId}}">{% trans 'login::register::CGU: lire les CGU' %}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                <tr style="height: 5px;">
                    <td>
                    </td>
                </tr>
            {% endif %}

            {% if baseInsc['CollsRefuse'] %}
                {% for collId, isTrue in baseInsc['CollsRefuse'] %}
                    {{ base_id == sbasId |base_from_coll(collId) }}
                    <tr>
                        <td colspan="3" style="text-align: center;">
                            <span style="color: red;">{% trans 'login::register: acces refuse sur la collection ' %}{{ sbasId |sbas_names }}</span>
                            {% if isTrue | trim != '' %}
                                <a class="inscriptlink" href="/include/cguUtils.php?action=PRINT&bas={{sbasId}}&col='{{collId}}">{% trans 'login::register::CGU: lire les CGU' %}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                <tr style="height: 5px;">
                    <td>
                    </td>
                </tr>
            {% endif %}

            {% if baseInsc['CollsWait'] %}
                {% for collId, isTrue in baseInsc['CollsWait'] %}
                    {{ base_id == sbasId |base_from_coll(collId) }}
                    <tr>
                        <td colspan="3" style="text-align: center;">
                            <span style="color: orange;">{% trans 'login::register: en attente d\'acces sur' %} {{ sbasId |sbas_names }}</span>
                            {% if isTrue | trim != '' %}
                                <a class="inscriptlink" href="/include/cguUtils.php?action=PRINT&bas={{sbasId}}&col='{{collId}}">{% trans 'login::register::CGU: lire les CGU' %}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                <tr style="height: 5px;"><td></td></tr>
            {% endif %}

            {% if baseInsc['CollsIntime'] %}
                {% for collId, isTrue in baseInsc['CollsIntime'] %}
                    {{ base_id == sbasId |base_from_coll(collId) }}
                    <tr>
                        <td colspan="3" style="text-align: center;">
                            <span>{% trans 'login::register: acces temporaire sur' %} {{ sbasId |sbas_names }}</span>
                            {% if isTrue |trim != '' %}
                                <a class="inscriptlink" href="/include/cguUtils.php?action=PRINT&bas={{sbasId}}&col='{{collId}}">{% trans 'login::register::CGU: lire les CGU' %}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                <tr style="height: 5px;"><td></td></tr>
            {% endif %}

            {% if baseInsc['CollsOuttime'] %}
                {% for collId, isTrue in baseInsc['CollsOuttime'] %}
                    {{ base_id == sbasId |base_from_coll(collId) }}
                    <tr>
                        <td colspan="3" style="text-align: center;">
                            <span style="color:red;">{% trans 'login::register: acces temporaire termine sur ' %}{{ sbasId |sbas_names }}</span>
                            {% if isTrue |trim != '' %}
                                <a class="inscriptlink" href="/include/cguUtils.php?action=PRINT&bas={{sbasId}}&col='{{collId}}">{% trans 'login::register::CGU: lire les CGU' %}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                <tr style="height: 5px;"><td></td></tr>
            {% endif %}

            {% if baseInsc['CollsNonactif'] %}
                {% for collId, isTrue in baseInsc['CollsNonactif'] %}
                    {{ base_id == (sbasId |base_from_coll(collId)) }}
                    <tr>
                        <td colspan="3" style="text-align: center;">
                            <span style="color:red;">{% trans 'login::register: acces supendu sur' %} {{ sbasId |sbas_names }}</span>
                            {% if isTrue |trim != '' %}
                                <a class="inscriptlink" href="/include/cguUtils.php?action=PRINT&bas={{sbasId}}&col='{{collId}}">{% trans 'login::register::CGU: lire les CGU' %}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                <tr style="height: 5px;"><td></td></tr>
            {% endif %}

            {% if (baseInsc['CollsCGU'] or baseInsc['Colls']) and baseInsc['inscript'] %}
                {{ noDemand == false }}
                {% if baseInsc['Colls'] %}
                    {% if baseInsc['CGU'] %}
                        <tr>
                            <td colspan="3" style="text-align: center;">{% trans 'login::register: L\'acces aux bases ci-dessous implique l\'acceptation des Conditions Generales d\'Utilisation (CGU) suivantes' %}</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="text-align: center;"><div style="width: 90%; height: 120px; text-align: left; overflow: auto;">{{ baseInsc['CGU'] }}</div></td>
                        </tr>
                    {% endif %}
                    {% for collId, collName in baseInsc['Colls'] %}
                        {{ base_id == sbasId |base_from_coll(collId) }}
                        <tr>
                            <td style="text-align: right;">{{ collName }}</td>
                            <td></td>
                            <td class="TD_R" style="width: 200px;">
                                <input style="width: 15px;" class="checkbox" type="checkbox" name="demand[]" value="{{ base_id }}" />
                                <span>{% trans 'login::register: Faire une demande d\'acces' %}</span>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% if baseInsc['CollsCGU'] %}
                    {% for collId, collDesc in baseInsc['CollsCGU'] %}
                        {{ base_id == sbasId |base_from_coll(collId) }}
                        <tr>
                            <td colspan="3" style="text-align: center;"><hr style="width: 80%"/></td>
                        </tr>
                        <tr>
                            <td colspan="3" style="text-align: center;">{% trans 'login::register: L\'acces aux bases ci-dessous implique l\'acceptation des Conditions Generales d\'Utilisation (CGU) suivantes' %}</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="text-align: center;">
                                <div style="width: 90%; height: 120px; text-align: left; overflow: auto;">{{ collDesc['CGU'] }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">{{ collDesc['name'] }}</td>
                            <td></td>
                            <td class="TD_R" style="width: 200px;">
                                <input style="width: 15px;" class="checkbox" type="checkbox" name="demand[]" value="{{ base_id }}" />
                                <span>{% trans 'login::register: Faire une demande d\'acces' %}</span>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </table>
    <input type="submit" class="btn btn-info" value="{% trans 'boutton::valider' %}"/>
</form>
{% endblock %}