{% extends "account/base.html.twig" %}

{% block title %}
    {{ "Granted bases" | trans }}
{% endblock %}

{% set selected = "access" %}

{% block content_account %}
    <form name="updatingDemand" id="updatingDemand" action="{{ path("submit_update_account") }}" method="post">
        <table style="table-layout: fixed; width:100%">
            <tr>
                <td  style="width: 180px; text-align: right">&nbsp;</td>
                <td  width="15px" style="width: 15px">&nbsp;</td>
                <td  style="width: 180px;">&nbsp;</td>
            </tr>
            {% for sbasId, baseInfo in inscriptions %}
                {% set sbasName = sbasId | sbas_labels(app) %}
                <tr>
                    <td colspan="3" style="text-align: center;"><h3>{{ sbasName }}</h3></td>
                </tr>
                {% if baseInfo["registrations"]["by-type"]["accepted"]|length > 0 %}
                    {% for baseId in baseInfo["registrations"]["by-type"]["accepted"] %}
                        <tr>
                            <td colspan="3" style="text-align:center;">
                                {{ "login::register: acces authorise sur la collection" | trans }}{{ sbasName }}
                                <a class="inscriptlink" href="{{ path('get_tou', {'to_display[]' : sbasId}) }}">
                                    {{ "login::register::CGU: lire les CGU" | trans }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr style="height: 5px;">
                        <td>
                        </td>
                    </tr>
                {% endif %}
                {% if baseInfo["registrations"]["by-type"]["rejected"]|length > 0 %}
                    {% for baseId in baseInfo["registrations"]["by-type"]["rejected"] %}
                        <tr>
                            <td colspan="3" style="text-align:center;">
                                <span style="color: red;">{{ "login::register: acces refuse sur la collection" | trans }}{{ sbasName }}
                                <a class="inscriptlink" href="{{ path('get_tou', {'to_display[]' : sbasId}) }}">
                                    {{ "login::register::CGU: lire les CGU" | trans }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr style="height: 5px;">
                        <td>
                        </td>
                    </tr>
                {% endif %}
                {% if baseInfo["registrations"]["by-type"]["pending"]|length > 0 %}
                    {% for baseId in baseInfo["registrations"]["by-type"]["pending"] %}
                        <tr>
                            <td colspan="3" style="text-align:center;">
                                <span style="color: orange;">{{ "login::register: en attente d\'acces sur" | trans }} {{ sbasId |sbas_labels(app) }}</span>
                                <a class="inscriptlink" href="{{ path('get_tou', {'to_display[]' : sbasId}) }}">
                                    {{ "login::register::CGU: lire les CGU" | trans }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr style="height: 5px;">
                        <td>
                        </td>
                    </tr>
                {% endif %}
                {% if baseInfo["registrations"]["by-type"]["in-time"]|length > 0 %}
                    {% for baseId in baseInfo["registrations"]["by-type"]["in-time"] %}
                        <tr>
                            <td colspan="3" style="text-align:center;">
                                <span>{{ "login::register: acces temporaire sur" | trans }} {{ sbasId |sbas_labels(app) }}</span>
                                <a class="inscriptlink" href="{{ path('get_tou', {'to_display[]' : sbasId}) }}">
                                    {{ "login::register::CGU: lire les CGU" | trans }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr style="height: 5px;">
                        <td>
                        </td>
                    </tr>
                {% endif %}
                {% if baseInfo["registrations"]["by-type"]["out-dated"]|length > 0 %}
                    {% for baseId in baseInfo["registrations"]["by-type"]["out-dated"] %}
                        <tr>
                            <td colspan="3" style="text-align:center;">
                                <span style="color:red;">{{ "login::register: acces temporaire termine sur" | trans }}{{ sbasId |sbas_labels(app) }}</span>
                                <a class="inscriptlink" href="{{ path('get_tou', {'to_display[]' : sbasId}) }}">
                                    {{ "login::register::CGU: lire les CGU" | trans }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr style="height: 5px;">
                        <td>
                        </td>
                    </tr>
                {% endif %}
                {% if baseInfo["registrations"]["by-type"]["inactive"]|length > 0 %}
                    {% for baseId in baseInfo["registrations"]["by-type"]["inactive"] %}
                        <tr>
                            <td colspan="3" style="text-align:center;">
                                <span style="color:red;">{{ "login::register: acces supendu sur" | trans }} {{ sbasId |sbas_labels(app) }}</span>
                                <a class="inscriptlink" href="{{ path('get_tou', {'to_display[]' : sbasId}) }}">
                                    {{ "login::register::CGU: lire les CGU" | trans }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr style="height: 5px;">
                        <td>
                        </td>
                    </tr>
                {% endif %}
            {%  endfor %}


            {% for sbasId, baseInfo in inscriptions %}
                {% if baseInfo["config"]["cgu"] is not none %}
                    <tr>
                        <td colspan="3" style="text-align: center;">{{ "login::register: L\'acces aux bases ci-dessous implique l\'acceptation des Conditions Generales d\'Utilisation (CGU) suivantes" | trans }}</td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align: center;"><div style="width: 90%; height: 120px; text-align: left; overflow: auto;">{{ baseInfo["config"]["cgu"] }}</div></td>
                    </tr>
                {% endif %}
                {% for baseId, collInfo in baseInfo["config"]["collections"] if (collInfo['registration'] is none and collInfo['can-register']) %}
                    {% if collInfo["cgu"] is not none %}
                        <tr>
                            <td colspan="3" style="text-align: center;">{{ "login::register: L\'acces aux bases ci-dessous implique l\'acceptation des Conditions Generales d\'Utilisation (CGU) suivantes" | trans }}</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="text-align: center;"><div style="width: 90%; height: 120px; text-align: left; overflow: auto;">{{ baseInsc["CGU"] }}</div></td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td style="text-align: right;">{{ collInfo["coll-name"] }}</td>
                        <td></td>
                        <td class="TD_R" style="width: 200px;">
                            <input style="width: 15px;" class="checkbox" type="checkbox" name="registrations[]" value="{{ baseId }}" />
                            <span>{{ "login::register: Faire une demande d\'acces" | trans }}</span>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
        <div class="form-actions">
            <input type="submit" class="btn btn-info" value="{{ "boutton::valider" | trans }}">
        </div>
    </form>
{% endblock %}
