{% extends "login/layout/sidebar-layout.html.twig" %}

{% import "common/macros.html.twig" as account_macro %}
{% import "login/common/macros.html.twig" as auth_macro %}

{% block title %}
    {% trans "Renew password" %}
{% endblock %}

{% block sidebar %}
    <div class="well-large sidebar-block">
        <div class="row-fluid">
            <div class="span12 authentication-sidebar-title">
                <div class="text-title">
                    {% trans "Choose a new password" %}
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                {{ account_macro.flashes() }}
                <form
                    novalidate
                    name="passwordChangeForm"
                    method="POST"
                    action="{{ path('reset_password') }}"
                >
                    <div class="row-fluid">
                        <div class="span12">
                            {{ form_errors(form) }}
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            {{ auth_macro.fieldInput(form.oldPassword, "passwordChangeForm", 'icon-lock') }}
                        </div>
                    </div>

                    {{ auth_macro.repeatedInput(form.password, "passwordChangeForm", 'icon-lock') }}

                    {{ form_rest(form) }}
                    <div class="row-fluid">
                        <div class="span12">
                            <button type="submit" class="btn btn-success btn-trigger ">
                                {% trans "Save" %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ path('minifier', {'f': 'assets/zxcvbn/zxcvbn-async.js'}) }}"></script>
    <script type="text/javascript" src="{{ path('minifier', {'f': 'scripts/apps/login/home/renewPassword.js'}) }}"></script>
{% endblock %}
