<html lang="{{ session.get_I18n() }}">
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="/login/home.css" />
        <title>{% trans 'admin::compte-utilisateur changer mon mot de passe' %}</title>
    </head>
    <body>
        <div style="width: 950px;margin: 0 auto;">
            <div style="margin-top: 70px;height: 35px;">
                <table style="width: 100%;">
                    <tr style="height: 35px;">
                        <td style="width: auto;"><div style="font-size: 28px; color: #b1b1b1;">{{ registry.get('GV_homeTitle') }}</div></td>
                        <td style="color: #b1b1b1; text-align: right;">
                        </td>
                    </tr>
                </table>
            </div>
            <div style="height: 530px; background-color: #525252;">
                <div id="id-main" class="tab-content" style="display: block;">
                    <!--<div style="width: 560px; float: left; height: 490px;">
                        <img src="/skins/icons/home.jpg" style="margin: 85px 10px; width: 540px;"/>
                    </div>-->
                    <div xstyle="width:360px;float:right;height:490px;">
                        <div style="margin: 40px 25px; float: left; width: 880px;">

                            {% if tokenize %}
                                <script type="text/javascript" language="javascript" src="/include/minify/f=include/jslibs/jquery-1.7.1.js"></script>
                                <script type="text/javascript" language="javascript" src="/include/minify/f=include/jslibs/jquery.validate.js"></script>
                                <script type="text/javascript" language="javascript" src="/include/minify/f=include/jslibs/jquery.validate.password.js"></script>

                                <script type="text/javascript" >
                                    <?php
                                    ?>
                                        $(document).ready(function() {

                                            $.validator.passwordRating.messages = {
                                                "similar-to-username": "{% trans 'forms::le mot de passe est trop similaire a l\'identifiant' %}",
                                                "too-short": "{% trans 'forms::la valeur donnee est trop courte' %}",
                                                "very-weak": "{% trans 'forms::le mot de passe est trop simple' %}",
                                                "weak": "{% trans 'forms::le mot de passe est trop simple' %}",
                                                "good": "{% trans 'forms::le mot de passe est bon' %}",
                                                "strong": "{% trans 'forms::le mot de passe est tres bon' %}"
                                            }

                                            $("#password-reset").validate(
                                            {
                                                rules: {
                                                    form_password_confirm: {
                                                        required:true
                                                    }
                                                },
                                                messages: {
                                                    form_password_confirm : {
                                                        equalTo:'{% trans 'forms::les mots de passe ne correspondent pas' %}'
                                                    }
                                                },
                                                errorPlacement: function(error, element) {
                                                    error.prependTo( element.parent().parent().next().find('.form_alert') );
                                                }
                                            }
                                        );

                                            $('#form_password').rules("add",{
                                                password: "#form_login"
                                            });

                                            $('#form_password_confirm').rules("add",{
                                                equalTo: "#form_password"
                                            });

                                            $("#form_password").valid();

                                        });
                                        </script>

                                {% if app.request.get('salt') %}
                                    <div class="notice" style="text-align: center; margin: 20px 40px; padding: 10px; font-weight: bold; font-size: 14px;">
                                        {% trans 'Pour ameliorer la securite de l\'application, vous devez mettre a jour votre mot de passe.' %}<br/>
                                        {% trans 'Cette tache ne pouvant etre automatisee, merci de bien vouloir la realiser.' %}
                                    </div>
                                {% endif %}

                                <form name="send" action="/account/forgot-password/" method="POST" id="password-reset" style="width: 600px; margin: 0 auto;">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tr style="height: 30px;">
                                            <td style="width: 33%;"><label for="form_password">{% trans 'admin::compte-utilisateur nouveau mot de passe' %} :</label></td>
                                            <td style="width: 33%;">
                                                <div class="form_input">
                                                    <input autocomplete="off" type="password" value="" id="form_password" name="form_password"/>
                                                </div>
                                            </td>
                                            <td style="width: 33%;">
                                                <div class="form_alert">
                                                    {% if passwordMsg is not none  %}
                                                        {{ passwordMsg }}
                                                    {% endif %}
                                                    <div class="password-meter">
                                                        <div class="password-meter-message">&nbsp;</div>
                                                        <div class="password-meter-bg">
                                                            <div class="password-meter-bar"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr style="height: 30px;">
                                            <td>
                                                <label for="form_password" >{% trans 'admin::compte-utilisateur confirmer le mot de passe' %} :</label></td>
                                            <td>
                                                <div class="form_input">
                                                    <input autocomplete="off" type="password" value="" id="form_password_confirm" name="form_password_confirm"/>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form_alert">
                                                    {% if passwordMsg is not none  %}
                                                        {{ passwordMsg }}
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                        <tr style="height: 30px;">
                                            <td></td>
                                            <td>
                                                <input type="hidden" value="{{ app.request.get('token') }}" name="token"/>
                                                <input type="submit" value="valider"/>
                                            </td>
                                            <td>
                                                <a class="link" href="/" target="_self">{% trans 'login:: Retour a l\'accueil' %}</a>
                                            </td>
                                        </tr>
                                    </table>
                                </form>

                            {% endif %}

                            {% if not tokenize %}
                                <form name="send" action="/account/forgot-password/" method="POST" style="width: 600px; margin: 0 auto;">
                                    {% if errorMsg is not none  %}
                                        <div style="background:#00a8FF;">{{ errorMsg }}</div>
                                    {% endif %}

                                    {% if sentMsg is not none %}
                                        <div style="background:#00a8FF;">{{ sentMsg }}</div>
                                    {% endif %}

                                    <div style="margin-top: 20px; font-size: 16px; font-weight: bold;">
                                        {% trans 'login:: Forgot your password' %}
                                    </div>
                                    <div style="margin-top: 20px;">
                                        {% trans 'login:: Entrez votre adresse email' %}
                                    </div>
                                    <div style="margin-top: 20px;">
                                        <input name="mail" type="text" style="width:100%">
                                    </div>
                                    <div style="margin-top: 10px;">
                                        <input type="submit" value="{% trans 'boutton::valider' %}"/>
                                        <a style="margin-left: 120px;" class="link" href="/" target="_self">{% trans 'login:: Retour a l\'accueil' %}</a>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div style="text-align: right; position: relative; margin: 18px 10px 0 0; font-size: 10px; font-weight: normal;">
                    <span>&copy; Copyright Alchemy 2005-{{ "now"|date("Y") }}</span>
                </div>
            </div>
        </div>
    </body>
</html>
