{% extends "account/base.html.twig" %}

{% import "common/macros.html.twig" as auth_macro %}

{% block title %}
    {% trans "Change my email address" %}
{% endblock %}

{% block head %}
    {% include "account/templates.html.twig" %}
{% endblock %}

{% set selected  = "" %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            {{ auth_macro.flashes() }}
            <form method="POST" action="{{ path("reset_email") }}" id="mainform" name="changeEmail" class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="form_login">{% trans "admin::compte-utilisateur identifiant" %}</label>
                    <div class="controls">
                        <p id="form_login" style="line-height: 30px;">{{ app["authentication"].getUser().get_login() }}</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="form_password">{% trans "admin::compte-utilisateur mot de passe" %}</label>
                    <div class="controls">
                        <input type="password" id="form_password" name="form_password" autocomplete="off" />
                        <div class="error-view"></div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="form_email">{% trans "admin::compte-utilisateur nouvelle adresse email" %}</label>
                    <div class="controls">
                        <input type="text" id="form_email" name="form_email" />
                        <div class="error-view"></div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="form_email_confirm">{% trans "admin::compte-utilisateur confirmer la nouvelle adresse email" %}</label>
                    <div class="controls">
                        <input type="text" id="form_email_confirm" name="form_email_confirm" autocomplete="off" />
                        <div class="error-view"></div>
                    </div>
                </div>
                <div class="form-actions" style="background-color: transparent;">
                    <input type="submit" class="btn btn-success" value="{% trans "boutton::valider" %}" style="margin: 20px auto;" />
                    <input type="button" class="btn" value="{% trans "boutton::annuler" %}" onclick="self.location.replace('/account/');" />
                </div>
            </form>
            <div class="well well-small alert-info">
                {% trans "admin::compte-utilisateur: Pourquoi me demande-t-on mon mot de passe pour changer mon adresse email ?"%}
                <br />
                {% trans "admin::compte-utilisateur: Votre adresse e-mail sera utilisee lors de la perte de votre mot de passe afin de pouvoir le reinitialiser, il est important que vous soyez la seule personne a pouvoir la changer."%}
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ path('minifier', {'f': 'assets/requirejs/require.js,/scripts/apps/login/home/config.js,/scripts/apps/login/home/renewEmail.js'}) }}"></script>
{% endblock %}
