{% extends 'account/base.html.twig' %}

{% block title %}
    {% trans 'Access history' %}
{% endblock %}

{% set selected = "sessions" %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <table class="table table-striped">
                <thead>
                     <tr>
                        <th></th>
                        <th>
                            {% trans 'Date de connexion' %}
                        </th>
                        <th>
                            {% trans 'Dernier access' %}
                        </th>
                        <th>
                            {% trans 'IP' %}
                        </th>
                        <th>
                            {% trans 'Browser' %}
                        </th>
                        <th>
                            {% trans 'ecran' %}
                        </th>
                        <th>
                            {% trans 'Session persistante' %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for session in sessions %}
                        {% set row = session['session'] %}
                        <tr>
                            <td>
                                {% if app['session'].get('phrasea_session_id') != row.Id() %}
                                    <img src="/skins/icons/delete.png"/>
                                {% endif %}
                            </td>
                            <td>
                                {{ app['date-formatter'].getDate(row.getCreated()) }}
                            </td>
                            <td>
                                {{ app['date-formatter'].getDate(row.getUpdated()) }}
                            </td>
                            <td>
                                {{ row.getIpAddress() }}
                                {{ session['info'] }}
                            </td>
                            <td>
                                {{ row.getBrowserName() }} {{ row.getBrowserVersion() }}
                            </td>
                            <td>
                                {{ row.getScreenWidth() }} x {{ row.getScreenHeight() }}
                            </td>
                            <td>
                                {% if row.getToken %}{{ yes }}{% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
