{% import 'common/thumbnail.html.twig' as thumbnail %}
<div class="well">
    <div>
        <button class="order_launcher">&lt; {% trans 'Retour aux commandes' %}</button>
    </div>
    <div>
        <table class="table">
            <tr>
                <td>{% trans 'Destinataire' %}</td>
                <td>{{ order.get_user().get_display_name() }}({{ order.get_user().get_email() }})</td>
            </tr>
            <tr>
                <td>{% trans 'Date de commande' %}</td>
                <td>{{ order.get_created_on() | prettyDate }}</td>
            </tr>
            <tr>
                <td>{% trans 'Deadline' %}</td>
                <td>{{ order.get_deadline() | prettyDate }}</td>
            </tr>
            <tr>
                <td>{% trans 'Utilisation prevue' %}</td>
                <td>{{ order.get_usage()|raw }}</td>
            </tr>
            <tr>
                <td>{% trans 'Nombre total d\'element commandes' %}</td>
                <td>{{ order.get_total() }}</td>
            </tr>
        </table>
    </div>
    <div>
        {% trans 'Il se peux que vous ne voyez pas tous les elements. Vous ne verrez que les  elements correspondants aux collections sur lesquelles vous gerez les commandes' %}
    </div>
    <div>
        <div>
            {% trans 'Selectionnez des documents et ' %}
            <button class="btn btn-primary" class="send">Envoyer</button>
            <button class="btn" class="deny">Refuser</button>
            <img src="/skins/icons/loader000000.gif" class="activity_indicator" style="display:none;"/>
        </div>
        <div class="order_list">
            {% for order_element_id,element in order %}
                <div id="order_wrapper_{{order.get_order_id()}}_{{element.get_base_id()}}_{{element.get_record_id()}}" class="ui-corner-all order_wrapper {% if element.get_order_master_id() == false %}selectable{% endif %}">
                    <div style="position:absolute;top:0;right:0">
                        {% if element.get_order_master_id() %}
                            {% set name = element.get_order_master_name() %}
                            {% if element.get_deny() == 1 %}
                                {% set title %}
                                    {% trans %}Document refuse par {{name}} {% endtrans %}
                                {% endset %}
                                {% set title_send %}
                                    {% trans %}Forcer l'envoi du document{% endtrans %}
                                {% endset %}
                                <img style="cursor:help;" src="/skins/icons/delete.png" title="{{title|e}}" />
                                <img style="cursor:pointer;" class="force_sender" src="/skins/icons/reload.png" title="{{title_send|e}}" />
                            {% else %}
                                {% set title %}
                                    {% trans %}Document envoye par {{name}} {% endtrans %}
                                {% endset %}
                                <img style="cursor:help;" src="/skins/icons/ok.png" title="{{title|e}}" />
                            {% endif %}
                        {% endif %}
                    </div>
                    {{ thumbnail.format(element.get_thumbnail,80, 80, '', session, true) }}
                    <input type="hidden" name="order_element_id" value="{{order_element_id}}"/>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
