<div>
    {% if ordermanager.get_previous_page() != false %}
        <button onclick="load_orders(false,{{ordermanager.get_previous_page()}});">&lt;</button>
    {% endif %}
    {% set current_page = ordermanager.get_page() %}
    {% trans %}Page {{current_page}}{% endtrans %}
    {% if ordermanager.get_next_page() != false %}
        <button onclick="load_orders(false,{{ordermanager.get_next_page()}});">&gt;</button>
    {% endif %}

    <table style="width:100%;" cellspacing="0" cellpadding="0" border="0">
        <thead>
            <tr>
                <th>
                    {% trans 'Utilisateur' %}
                </th>
                <th>
                    {% trans 'Date de demande' %}
                </th>
                <th>
                    {% trans 'Deadline' %}
                </th>
                <th>{% trans 'Utilisation prevue' %}</th>
                <th>{% trans 'Statut' %}</th>
            </tr>
        </thead>
        <tbody>
    {% for order in ordermanager %}
        {% set deadline = order.get_deadline() | prettyDate %}
        <tr id="order_{{order.get_order_id()}}" class="order_row">
            <td>{{order.get_user().get_display_name()}}</td>
            <td>{{order.get_created_on() | prettyDate }}</td>
            <td>
                {% if deadline != '' %}
                    {{deadline}}
                {% else %}
                    {% trans 'Aucune' %}
                {% endif %}

            </td>
            <td>{{order.get_usage()|raw}}</td>
            <td>{% if order.get_todo() == 0%}<img src="/skins/icons/ok.png" />{% endif %}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
