{% set success = app['request'].query.get('success') %}
{% set action = app['request'].query.get('action') %}

<div id="order_manager">
    {% if  success == '1' %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {% if action == 'order' %}
                {{ 'The records have been properly ordered' | trans }}
            {% elseif action == 'send' %}
                {{ 'Order has been sent' | trans }}
            {% elseif action == 'deny' %}
                {{ 'Order has been denied' | trans }}
            {% endif %}
        </div>
    {% elseif   success == '0' %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ 'An error occured, please retry or contact an admin if problem persists' | trans }}
        </div>
    {% endif %}


    <div id="ORDERPREVIEW">
        <a id="filter" href="#">click</a>
        <div>
            <form>
                <table cellspacing="0" cellpadding="0" style="display:block;" id="filter_box">
                    <tbody>
                        <tr>
                            <td>
                                <button class="toggle-button-text full-width text-align-right" type="button">This week</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="toggle-button-text full-width text-align-right" type="button">Past week</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="toggle-button-text full-width text-align-right" type="button">Past month</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="toggle-button-text" type="button">Before</button>
                                <button class="toggle-button-text" type="button">After</button>
                                <div class="input-prepend">
                                    <span class="add-on"><i class="icon icon-calendar"></i></span>
                                    <input id="dateselection" name="dateselection" style="font-size: 14px;width:220px;" size="10" type="text" placeholder="{{ "from"|trans }}" value="{{ "-1 month"|date("Y-m-d") }}">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button id="filter-button">Apply</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <ul style="height:30px;bottom:auto;">
            <li><a href="#TODO-ORDER">{{ 'order:: Pending' | trans }}
                    <span class="icon-stack infoTips">
                    <i class="icon-circle icon-stack-base" style="color:#7CD11E"></i>
                    <i class="icon-exclamation" style="color:#FFF"></i>
                    </span></a></li>
            <li><a href="#PROCESSED-ORDER">{{ 'order:: Processed' | trans }}
                    <span class="icon-stack infoTips">
                    <i class="icon-circle icon-stack-base" style="color:#999"></i>
                    <i class="icon-check" style="color:#FFF"></i>
                    </span></a></li></a></li>
        </ul>
        <div id="TODO-ORDER" class="order_preview_box">
            <div id="TODOVIEW">
                <table class="table">
                    <tbody>
                    {% for order in orders %}
                        {% set deadline = app['date-formatter'].getPrettyString(order.getDeadline()) %}
                        <tr id="order_{{ order.getId() }}" class="order_row" {{ current_date > order.getDeadline() ? "style=color:#777": "" }}>
                            <td> <span class="icon-stack infoTips">
                                    <i class="icon-circle icon-stack-base" style="color:#999"></i>
                                    <i class="icon-check" style="color:#FFF"></i>
                                    </span></td>
                            <td style="width: 50%">
                                <h4>{{ order.getOrderUsage() | nl2br }}</h4>
                                <span class="text_block">{{ order.getUser().getDisplayName() }}</span>
                            </td>
                            <td>
                                <span class="text_block">{{ 'Date de demande' | trans }}</span>
                                <span class="text_block_bold">{{ app['date-formatter'].getPrettyString(order.getCreatedOn()) }}</span>
                            </td>
                            <td>
                                <span class="text_block">{{ 'Deadline' | trans }}</span>
                                <span class="text_block_bold">
                                {% if deadline != '' %}
                                    {{deadline}}
                                {% else %}
                                    {{ 'Aucune' | trans }}
                                {% endif %}
                                </span>
                            </td>
                            <td>
                                <span class="text_block">Treated Documents</span>
                                <span class="text_block_bold">0/3</span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="PROCESSED-ORDER" class="order_preview_box">
            <div id="PROCESSEDVIEW">
                <table class="table">
                    <tbody>
                    {% for order in orders_todo %}
                        {% set deadline = app['date-formatter'].getPrettyString(order.getDeadline()) %}
                        <tr id="order_{{ order.getId() }}" class="order_row" {{ current_date > order.getDeadline() ? "style=color:#777": "" }}>
                            <td> <span class="icon-stack infoTips">
                                    <i class="icon-circle icon-stack-base" style="color:#999"></i>
                                    <i class="icon-check" style="color:#FFF"></i>
                                    </span></td>
                            <td style="width: 50%">
                                <h4>{{ order.getOrderUsage() | nl2br }}</h4>
                                <span class="text_block">{{ order.getUser().getDisplayName() }}</span>
                            </td>
                            <td>
                                <span class="text_block">{{ 'Date de demande' | trans }}</span>
                                <span class="text_block_bold">{{ app['date-formatter'].getPrettyString(order.getCreatedOn()) }}</span>
                            </td>
                            <td>
                                <span class="text_block">{{ 'Deadline' | trans }}</span>
                                <span class="text_block_bold">
                                {% if deadline != '' %}
                                    {{deadline}}
                                {% else %}
                                    {{ 'Aucune' | trans }}
                                {% endif %}
                                </span>
                            </td>
                            <td>
                                <span class="text_block">Treated Documents</span>
                                <span class="text_block_bold">0/3</span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class='well-small'>
        <ul class="pager">
          {% if previousPage %}
              <li  class="previous"><a class="self-ajax btn btn-inverse" href="{{ path('prod_orders', {'page': previousPage, 'per-page': perPage}) }}">{{ 'Previous' | trans }}&nbsp;<i class="icon-arrow-left"></i></a></li>
          {% endif %}

          {% if nextPage %}
              <li class="next"><a class="self-ajax btn btn-inverse" href="{{ path('prod_orders', {'page': nextPage, 'per-page': perPage}) }}"><i class="icon-arrow-right"></i>&nbsp;{{ 'Next' | trans }}</a></li>
          {% endif %}
        </ul>
    </div>
</div>

<script type="text/javascript">

$(document).ready(function(){
    $('#ORDERPREVIEW').tabs();
	var dialog = p4.Dialog.get(1);

    var info = {};
    info['todo'] = '';
    info['start'] = '';
    info['end'] = '';

    $('a.self-ajax', dialog.getDomElement()).bind('click', function(e){
        e.preventDefault();
        var url = $(this).attr('href');
        dialog.load(url);
    });

    $('tr.order_row', dialog.getDomElement()).bind('click', function(e){
        e.preventDefault();
        var id = $(this).attr('id').split('_').pop();
        dialog.load('/prod/order/' + id +'/');
    }).addClass('clickable');

    $('#filterDateStart').change(function() {
        info['start'] = $('#filterDateStart').val();
        var data_to_send = info;
        console.log(data_to_send);
        $.ajax({
            type: 'POST',
            url: '../prod/order/search/',
            data: data_to_send,
            success: function (data) {
                $('#right-ajax').removeClass('loading').empty().html(data);
            }
        });
    });

    $('#filterDateEnd').change(function() {
        info['end'] = $('#filterDateEnd').val();
        var data_to_send = info;
        console.log(data_to_send);
        $.ajax({
            type: 'POST',
            url: '../prod/order/search/',
            data: data_to_send,
            success: function (data) {
                $('#right-ajax').removeClass('loading').empty().html(data);
            }
        });
    });

    $('#filterStatus').change(function() {
        info['todo'] = $('#filterStatus').val();
        var data_to_send = info;
        console.log(data_to_send);
        $.ajax({
            type: 'POST',
            url: '../prod/order/search/',
            data: data_to_send,
            success: function (data) {
                $('#order_manager').empty().append(data);
            }
        });
    });

});

</script>
