{% set success = app['request'].query.get('success') %}
{% set action = app['request'].query.get('action') %}

<div id="order_manager">
    {% if  success == '1' %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {% if action == 'order' %}
                {{ 'The records have been properly ordered' | trans }}
            {% elseif action == 'send' %}
                {{ 'Order has been sent' | trans }}
            {% elseif action == 'deny' %}
                {{ 'Order has been denied' | trans }}
            {% endif %}
        </div>
    {% elseif   success == '0' %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ 'An error occured, please retry or contact an admin if problem persists' | trans }}
        </div>
    {% endif %}

    <div class='well' style="color:#333">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        {% trans with {'%page%' : page} %}Page %page%{% endtrans %}
                    </th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th>{{ 'Utilisateur' | trans }}</th>
                    <th>{{ 'Date de demande' | trans }}</th>
                    <th>{{ 'Deadline' | trans }}</th>
                    <th>{{ 'Utilisation prevue' | trans }}</th>
                    <th>{{ 'Statut' | trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    {% set deadline = app['date-formatter'].getPrettyString(order.getDeadline()) %}
                    <tr id="order_{{ order.getId() }}" class="order_row" {{ current_date > order.getDeadline() ? "style=color:#777": "" }}>
                        <td>{{ order.getUser(app).get_display_name() }}</td>
                        <td>{{ app['date-formatter'].getPrettyString(order.getCreatedOn()) }}</td>
                        <td>
                            {% if deadline != '' %}
                                {{deadline}}
                            {% else %}
                                {{ 'Aucune' | trans }}
                            {% endif %}
                        </td>
                        <td>{{ order.getOrderUsage() | nl2br }}</td>
                        <td>{% if order.getTodo() == 0 %}<img src="/skins/icons/ok.png" />{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class='well-small'>
        <ul class="pager">
          {% if previousPage %}
              <li  class="previous"><a class='self-ajax' href="{{ path('prod_orders', {'page': previousPage}) }}"><i class="icon-arrow-left"></i>{{ 'Previous' | trans }}</a></li>
          {% endif %}

          {% if nextPage %}
              <li class="next"><a class='self-ajax' href="{{ path('prod_orders', {'page': nextPage}) }}"><i class="icon-arrow-right"></i>{{ 'Next' | trans }}</a></li>
          {% endif %}
        </ul>
    </div>
</div>

<script type="text/javascript">

$(document).ready(function(){
	var dialog = p4.Dialog.get(1);

    $('a.self-ajax', dialog.getDomElement()).bind('click', function(){
        var url = $(this).attr('href');
        dialog.load(url);
    });

    $('tr.order_row', dialog.getDomElement()).bind('click', function(e){
        var id = $(this).attr('id').split('_').pop();
        dialog.load('/prod/order/' + id +'/');
    }).addClass('clickable');
});

</script>
