    <div style="text-align:center;margin:30px 0px;">
        <form onsubmit="return false" action="/prod/records/movecollection/apply/" method="post">
        {% if action.has_many_sbas() %}
            {% trans 'prod::Les enregistrements ne provienent pas tous de la meme base et ne peuvent donc etre traites ensemble' %}
            <div style="text-align:center;">
                <button class="move_cancel">{% trans 'boutton::annuler' %}</button>
            </div>
        {% elseif action.get_count_actionable() == 0 %}
            {% trans 'prod::Vous n\'avez le droit d\'effectuer l\'operation sur aucun document' %}
            <div style="text-align:center;">
                <button class="move_cancel">{% trans 'boutton::annuler' %}</button>
            </div>
        {% elseif action.is_possible() is empty %}
            {% trans 'erreur : Vous n\'avez pas les droits' %}
            <div style="text-align:center;">
                <button class="move_cancel">{% trans 'boutton::annuler' %}</button>
            </div>
        {% else %}
            <div>
                {% if action.get_count_not_actionable() != 0 %}
                    {% set countable = action.get_count_not_actionable() %}
                    {% trans %}
                    prod::collection {{countable}} documents ne pouvant etres mofiies
                    {% endtrans %}
                {% endif %}
            </div>

            {% if action.is_possible() %}
                {% set countable = action.get_count_actionable() %}
                {% trans %}
                    prod::collection {{countable}} documents a deplacer
                {% endtrans %}
                <br/>
                <br/>
                <select name="base_id">
                    {% for base_id in action.available_destination() %}
                        <option value="{{base_id}}">{{base_id|bas_names}}</option>
                    {% endfor %}
                </select>
                <br/>
                <br/>
                <br/>
                {% if action.get_count_actionable_groupings() %}
                    <table style="border:#ff0000 1px solid;">
                        <tr>
                        <td style="width:25px;"><input type="checkbox" value="1" name="chg_coll_son"/>
                        </td>
                        <td style="width:250px; text-align:left">
                            {% trans 'prod::collection deplacer egalement les documents rattaches a ce(s) regroupement(s)' %}
                        </td>
                        </tr>
                    </table>
                {% endif %}
            {% endif %}

            <input type="hidden" name="act" value="WORK">
            <input type="hidden" name="lst" value="{{ action.get_serialize_list() }}">
        {% endif %}
    </form>
</div>

<script type="text/javascript">

$(document).ready(function(){

    $dialog = p4.Dialog.get(1);

    var $form = $dialog.getDomElement();

    var buttons = {};

    buttons[language.valider] = function(){

        var coll_son = $('input[name="chg_coll_son"]:checked', $form).length > 0 ? '1' : '0';
        var datas = {
            lst: $('input[name="lst"]', $form).val(),
            base_id: $('select[name="base_id"]', $form).val(),
            chg_coll_son: coll_son
        };

        var buttonPanel = $dialog.getDomElement()
        .closest('.ui-dialog')
        .find('.ui-dialog-buttonpane');

        $.ajax({
            type: "POST",
            url: "/prod/records/movecollection/apply/",
            dataType: 'json',
            data: datas,
            beforeSend: function() {
                $(":button:contains('" + language.valider + "')", buttonPanel)
                .attr("disabled", true).addClass("ui-state-disabled");
            },
            success: function(data){
                $dialog.Close();
                if(data.success) {
                    humane.info(data.message);
                } else {
                    humane.error(data.message);
                }
            },
            complete: function(){
                $(":button:contains('" + language.valider + "')", buttonPanel)
                .attr("disabled", false).removeClass("ui-state-disabled");
            }
        });

        return false;
    };

    $dialog.setOption('buttons', buttons);
});
</script>
