{% set nbReceived = records.received().count() %}
{% set nbEligibleDocuments = records.count() %}

{% set nbTrash = filteredRecord.trash|length %}
{% set nbDelete = filteredRecord.delete|length %}

{% if nbEligibleDocuments > 0 %}
    {% if nbReceived != records.count() %}
        <div class="well-small" style="text-align:center;">
            <span class="label label-info">{{ "You do not have rights to remove all selected documents. Are you sure ?" | trans }}</span>
        </div>
    {% endif %}

    <form id="delete-record-form" style="margin: 0;" method="POST" action="{{ path('record_delete') }}">
        <input type="hidden" value="{{ records.serializedList() }}" name="lst"/>
        {% if nbTrash > 0 %}
            <div class="well-small label-important"
                 style="background-color: #ffef22;">
                <div class="dialog-left-section">
                    <img src="/assets/common/images/icons/icon_collection_bin.png"/>
                </div>
                <div class="dialog-right-section" style="margin-top: 8px;">
                    <span>{{ nbTrash }} {{ "prod:app trash: record-move-to-trash" | trans }}</span>
                </div>
                {% if records.stories().count() %}
                    <label class="checkbox story">
                        <input type="checkbox" id="del_children" name="del_children"
                               value="1"> {{ "prod:app trash: also-move-record" | trans }}
                    </label>
                {% endif %}
            </div>
        {% endif %}
        {% if nbDelete > 0 %}
            <div class="well-small label-important"
                 style="background-color: #ed1c24;">
                <div class="dialog-left-section">
                    <img src="/assets/common/images/icons/icon_empty_bin.png"/>
                </div>
                <div class="dialog-right-section">
                    <span class="to_delete_count">{{ nbDelete }}</span> {{ "prod:app trash: record-to-delete" | trans }}
                </div>
                {% if records.stories().count() %}
                    <label class="checkbox story">
                        <input type="checkbox" id="del_children" name="del_children"
                               value="1"> {{ "Also delete records that rely on groupings." | trans }}
                    </label>
                {% endif %}
            </div>
        {% endif %}
        <div class="form-actions" style="background-color:transparent;">
            <button type="button" class="btn btn-danger submiter">{{ "Ok" | trans }}</button>
            <button type="button" class="btn cancel">{{ "Cancel" | trans }}</button>
        </div>
    </form>

    <script type="text/javascript">
        var $dialog = p4.Dialog.get(1);
        var $dialogBox = $dialog.getDomElement();
        var $closeButton = $("button.ui-dialog-titlebar-close", $dialogBox.parent());
        var $cancelButton = $("button.cancel", $dialogBox);
        var titleBox = $(".ui-dialog-title", $dialogBox.parent());
        titleBox.prepend('<i class="icon-warning-sign" style="margin-right: 10px"></i>');

        $cancelButton.bind("click", function () {
            $dialog.Close();
        });

        $("button.submiter", $dialogBox).bind("click", function () {
            var $this = $(this);
            var form = $(this).closest("form");
            var $to_delete_count = form.find(".to_delete_count");

            $this.prop('disabled', true);
            $this.hide();
            $closeButton.bind("click", function () {
                lst = [];
                toDelCount = 0;
            });
            $cancelButton.bind("click", function () {
                lst = [];
                toDelCount = 0;
            });
            $dialog.setOption('closeOnEscape', false);

            var del_children = $("input[name='del_children']", form).is(':checked');
            var lst = $("input[name='lst']", form).val().split(';');
            var toDelCount = lst.length;
            var requests = [];
            var iChunk = 0;

            var f = function (autoloop) {
                $.ajax({
                        type:     form.attr("method"),
                        url:      form.attr("action"),
                        data:     {
                            'lst':          lst.splice(0, 3).join(';'),
                            'del_children': del_children
                        },
                        dataType: "json",
                        'xhr': function() {
                            var xhr = $.ajaxSettings.xhr();
                            requests[iChunk++] = xhr;
                            console.log("xhr:", xhr);
                            return xhr;
                        }
                    }
                ).done(function (data, textStatus, jqXHR) {
                    $.each(data, function (i, n) {
                        var imgt = $('#IMGT_' + n),
                            chim = $('.CHIM_' + n),
                            stories = $('.STORY_' + n);

                        $('.doc_infos', imgt).remove();

                        imgt.unbind("click")
                            .removeAttr("ondblclick")
                            .removeClass("selected")
                            .draggable("destroy")
                            .removeClass("IMGT")
                            .find("img")
                            .unbind();

                        imgt.find(".thumb img")
                            .attr("src", "/assets/common/images/icons/deleted.png")
                            .css({
                                width:  '100%',
                                height: 'auto',
                                margin: '0 10px',
                                top:    '0'
                            });

                        chim.parent().slideUp().remove();

                        imgt.find(".status,.title,.bottom").empty();

                        p4.Results.Selection.remove(n);

                        if (stories.length > 0) {
                            p4.WorkZone.refresh();
                        }
                        else {
                            p4.WorkZone.Selection.remove(n);
                        }
                    });

                }).then(function (data, textStatus, jqXHR) {
                    $to_delete_count.html(toDelCount);
                    toDelCount -= 3;
                    if (lst.length === 0 && toDelCount <= 0) {
                        console.log("---- fini ----");
                        requests.map(function(r) { if(r.readyState < 2) { r.abort(); } });
                        $dialog.Close();
                        viewNbSelect();
                    }
                    else if (autoloop) {
                        window.setTimeout(f, 1, autoloop);
                    }
                });
            };

            if (false) {
                // delete in serial
                f(true);
            }
            else {
                // delete in //
                while (lst.length > 0) {
                    f(false);
                }
            }
        });
    </script>
{% elseif nbReceived == 0 %}
    <div class="well-small" style="text-align:center;">
        <span class="label label-important">{{ "No document selected" | trans }}</span>
    </div>
{% else %}
    <div class="well-small" style="text-align:center;">
        <span class="label label-info">{{ "You do not have rights to remove selected documents" | trans }}</span>
    </div>
{% endif %}