{% if records.count() > 0 %}
    {% if records.rejected().count() > 0 %}
        <div class="well-small" style="text-align:center;">
            {{ "You do not have rights to remove all selected documents. Are you sure ?" | trans }}
        </div>
    {% endif %}

    <form id="delete-record-form" style="margin: 0;" method="POST" action="{{ path('record_delete') }}">
        <input type="hidden" value="{{ records.serializedList(true) }}" name="lst"/>

        {% if trashableCount > 0 %}
            <div class="well-small label-important"
                 style="background-color: #ffef22;">
                <div class="dialog-left-section">
                    <img src="/assets/common/images/icons/icon_collection_bin.png"/>
                </div>
                <div class="dialog-right-section" style="margin-top: 8px;">
                    <span class="to_trash_count">{{ trashableCount }}</span> {{ "prod:app trash: record-move-to-trash" | trans }}
                </div>
            </div>
        {% endif %}
        {% if deletableCount > 0 %}
            <div class="well-small label-important"
                 style="background-color: #ed1c24;">
                <div class="dialog-left-section">
                    <img src="/assets/common/images/icons/icon_empty_bin.png"/>
                </div>
                <div class="dialog-right-section">
                    <span class="to_delete_count">{{ deletableCount }}</span> {{ "prod:app trash: record-to-delete" | trans }}
                </div>
            </div>
        {% endif %}
        <div class="form-actions" style="background-color:transparent;">
            <button type="button" class="btn btn-danger submiter">{{ "Ok" | trans }}</button>
            <button type="button" class="btn cancel">{{ "Cancel" | trans }}</button>
            <span class="form-action-loader" style="display:none;">
                <img src="/assets/common/images/icons/loader000.gif"/>
            </span>
        </div>
    </form>
{% elseif records.received().count() == 0 %}
    <div class="well-small" style="text-align:center;">
        <span class="label label-important">{{ "No document selected" | trans }}</span>
    </div>
{% else %}
    <div class="well-small" style="text-align:center;">
        <span class="label label-info">{{ "You do not have rights to remove selected documents" | trans }}</span>
    </div>
{% endif %}