{% set nbReceived = records.received().count() %}
{% set nbEligibleDocuments = records.count() %}

{% set nbTrash = filteredRecord.trash|length %}
{% set nbDelete = filteredRecord.delete|length %}

{% if nbEligibleDocuments > 0 %}
    {% if nbReceived != records.count() %}
        <div class="well-small" style="text-align:center;">
            <span class="label label-info">{{ "You do not have rights to remove all selected documents. Are you sure ?" | trans }}</span>
        </div>
    {% endif %}

    <form id="delete-record-form" style="margin: 0;" method="POST" action="{{ path('record_delete') }}">
        <input type="hidden" value="{{ records.serializedList() }}" name="lst"/>
        {% if nbTrash > 0 %}
            <div class="well-small label-important"
                 style="background-color: #ffef22;">
                <div class="dialog-left-section">
                    <img src="/assets/common/images/icons/icon_collection_bin.png"/>
                </div>
                <div class="dialog-right-section" style="margin-top: 8px;">
                    <span>{{ nbTrash }} {{ "prod:app trash: record-move-to-trash" | trans }}</span>
                </div>
                {% if records.stories().count() %}
                    <label class="checkbox story">
                        <input type="checkbox" id="del_children" name="del_children"
                               value="1"> {{ "prod:app trash: also-move-record" | trans }}
                    </label>
                {% endif %}
            </div>
        {% endif %}
        {% if nbDelete > 0 %}
            <div class="well-small label-important"
                 style="background-color: #ed1c24;">
                <div class="dialog-left-section">
                    <img src="/assets/common/images/icons/icon_empty_bin.png"/>
                </div>
                <div class="dialog-right-section">
                    <span class="to_delete_count">{{ nbDelete }}</span> {{ "prod:app trash: record-to-delete" | trans }}
                </div>
                {% if records.stories().count() %}
                    <label class="checkbox story">
                        <input type="checkbox" id="del_children" name="del_children"
                               value="1"> {{ "Also delete records that rely on groupings." | trans }}
                    </label>
                {% endif %}
            </div>
        {% endif %}
        <div class="form-actions" style="background-color:transparent;">
            <button type="button" class="btn btn-danger submiter">{{ "Ok" | trans }}</button>
            <button type="button" class="btn cancel">{{ "Cancel" | trans }}</button>
            <span class="form-action-loader" style="display:none;">
                <img src="/assets/common/images/icons/loader000.gif"/>
            </span>
        </div>
    </form>

    <script type="text/javascript">
        var $dialog = p4.Dialog.get(1);
        var $dialogBox = $dialog.getDomElement();
        var $closeButton = $("button.ui-dialog-titlebar-close", $dialogBox.parent());
        var $cancelButton = $("button.cancel", $dialogBox);
        var titleBox = $(".ui-dialog-title", $dialogBox.parent());

        titleBox.prepend('<i class="icon-warning-sign" style="margin-right: 10px"></i>');

        $cancelButton.bind("click", function () {
            // while no task is running, simply close the dlg
            $dialog.Close();
        });

        $("button.submiter", $dialogBox).bind("click", function () {
            var CHUNKSIZE = 3;
            var MAXTASKS  = 1;

            var $this = $(this);
            var form = $(this).closest("form");
            var $to_delete_count = form.find(".to_delete_count");
            var $loader = form.find(".form-action-loader");
            var canceling = false;

            $this.prop('disabled', true);
            $this.hide();

            var fCancel = function() {
                // since tasks are running we wait for the end
                $closeButton.hide();
                $cancelButton.hide();
                $loader.show();
                // lst = [];   // this will cause every task to end up
                canceling = true;
            };

            // cancel or close the dlg is the same : wait
            $dialog.setOption('closeOnEscape', false);
            $closeButton.unbind("click").bind("click", fCancel);
            $cancelButton.unbind("click").bind("click", fCancel);

            var del_children = $("input[name='del_children']", form).is(':checked');
            var lst = $("input[name='lst']", form).val().split(';');
            var runningTasks;

            // task fct : will loop itself while there is job to do
            var f = function (itask) {
                console.log("batch[" + itask + "] : l=" + lst.length);
                if(canceling) {
                    return;
                }
                $.ajax(
                    {
                        type:     form.attr("method"),
                        url:      form.attr("action"),
                        data:     {
                            'lst':          lst.splice(0, CHUNKSIZE).join(';'), // pop & truncate
                            'del_children': del_children
                        },
                        dataType: "json"
                    }
                ).done(function (data) {     // prod feedback only if ok

                    $.each(data, function (i, n) {
                        var imgt = $('#IMGT_' + n),
                            chim = $('.CHIM_' + n),
                            stories = $('.STORY_' + n);

                        $('.doc_infos', imgt).remove();

                        imgt.unbind("click")
                            .removeAttr("ondblclick")
                            .removeClass("selected")
                            .draggable("destroy")
                            .removeClass("IMGT")
                            .find("img")
                            .unbind();

                        imgt.find(".thumb img")
                            .attr("src", "/assets/common/images/icons/deleted.png")
                            .css({
                                width:  '100%',
                                height: 'auto',
                                margin: '0 10px',
                                top:    '0'
                            });

                        chim.parent().slideUp().remove();

                        imgt.find(".status,.title,.bottom").empty();

                        p4.Results.Selection.remove(n);

                        if (stories.length > 0) {
                            p4.WorkZone.refresh();
                        }
                        else {
                            p4.WorkZone.Selection.remove(n);
                        }
                    });

                }).then(function () {    // go on even if case of error

                    // countdown
                    $to_delete_count.html(lst.length);

                    if (lst.length === 0 || canceling) {
                        // end of a task
                        console.log("task " + itask + " end");
                        runningTasks--;

                        if(runningTasks === 0) {
                            console.log("closing dialog");
                            $dialog.Close();
                            viewNbSelect();
                        }
                    }
                    else {
                        // don't recurse, give a delay to running fct to end
                        window.setTimeout(f, 10, itask);
                    }

                });
            };

            // run a bunch of tasks in //
            for(runningTasks=0; runningTasks<MAXTASKS; runningTasks++) {
                f(runningTasks);    // pass the task his index to get nice console logs
            }

        });
    </script>
{% elseif nbReceived == 0 %}
    <div class="well-small" style="text-align:center;">
        <span class="label label-important">{{ "No document selected" | trans }}</span>
    </div>
{% else %}
    <div class="well-small" style="text-align:center;">
        <span class="label label-info">{{ "You do not have rights to remove selected documents" | trans }}</span>
    </div>
{% endif %}