{% if push.get_count_actionable() == 0 %}
    <div class="PNB">
        <div style="text-align:center;margin-top:150px;">
            {% if context == 'Push' %}
                {% trans %}None of the selected records can be pushed.{% endtrans %}
            {% elseif context == 'Sharebasket' %}
                {% trans %}None of the selected records can be shared.{% endtrans %}
            {% else %}
                {% trans %}None of the selected records can be sent for feedback.{% endtrans %}
            {% endif %}
        </div>
        <div style="text-align:center;margin-top:15px;">
            <button class="btn btn-inverse close-dialog-action">{{ "boutton::fermer" | trans }}</button>
        </div>
    </div>
{% else %}
    <div class="PNB PushBox" id="PushBox">
        <div class="PNB" style="width:220px;">
            <div class="PNB10 LeftColumn">
                <div class="PNB" style="text-align:center;">
                    <img style="width: 36px; height: 36px"
                         src="/assets/common/images/icons/{{ context|lower }}-icon.png"/>
                </div>
                <div class="PNB content" style="top:45px; overflow-y:auto;">
                    <div style="padding:10px">
                        <span class="main-title">
                            <!--
                            <img src="/assets/common/images/icons/hand-grey.png"/>
                            -->
                            <span class="fa fa-hand-stop-o"></span>
                            {{ 'Grant rights' | trans }}
                        </span>
                        <ul class="general_togglers">
                            {% if context == 'Feedback' or context == 'Sharebasket' %}
                                <li>
                                    {# in case of feedback, the "pen" allows to vote #}
                                    {# in case of sharebasket, the "pen" allows to edit the basket #}
                                    {# todo : share dedicated buttons (add-items, delete-items) ? #}
                                    <button type="button" class="general_toggler colored with_icon" feature="agree">
                                        <!--
                                        <img src="/assets/common/images/icons/green-pen.png" class="image-normal"/>
                                        <img src="/assets/common/images/icons/white-pen.png" class="image-hover"/>
                                        -->
                                        <span class="fa fa-pencil"></span>
                                        {{ 'Contributor' | trans }}
                                    </button>
                                </li>
                            {% endif %}
                            {% if context == 'Feedback' %}
                                <li>
                                    <button type="button" class="general_toggler colored with_icon" feature="see_others">
                                        <!--
                                        <img src="/assets/common/images/icons/green-user.png" class="image-normal"/>
                                        <img src="/assets/common/images/icons/white-user.png" class="image-hover"/>
                                        -->
                                        <span class="fa fa-users"></span>
                                        {{ 'See others' | trans }}
                                    </button>
                                </li>
                            {% endif %}
                            <li>
                                <button type="button" class="general_toggler colored with_icon" feature="HD">
                                    <!--
                                    {% if context == 'Push' %}
                                        <img src="/assets/common/images/icons/download-blue.png" class="image-normal"/>
                                    {% else %}
                                        {# for now use the same green color to feedback / sharebasket #}
                                        <img src="/assets/common/images/icons/download-green.png" class="image-normal"/>
                                    {% endif %}
                                    <img src="/assets/common/images/icons/download-white.png" class="image-hover"/>
                                    -->
                                    <span class="fa fa-download"></span>
                                    {{ 'HD Download' | trans }}
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div style="padding: 10px 10px 0;">
                        <span class="main-title">
                            <!--
                            <img src="/assets/common/images/icons/list-grey.png"/>
                            -->
                            <span class="fa fa-users"></span>
                            {{ 'Lists' | trans }}
                        </span>
                        <a href="{{ path('prod_lists_all') }}" title="Refresh list"
                           class="list_refresh push-refresh-list-action btn pull-right" style="margin-top: -2px;">
                            <!--
                            {% if context == 'Push' %}
                                <img src="/assets/common/images/icons/blue-refresh.png" alt="Refresh list"
                                     class="image-normal">
                            {% else %}
                                {# for now use the same green color to feedback / sharebasket #}
                                <img src="/assets/common/images/icons/green-refresh.png" alt="Refresh list"
                                     class="image-normal">
                            {% endif %}
                            <img src="/assets/common/images/icons/white-refresh.png" alt="Refresh list"
                                 class="image-hover">
                            -->
                            <span class="fa fa-refresh"></span>
                        </a>
                    </div>
                    <ul class="lists">
                        {% for list in lists %}
                            <li class="list" style="padding: 0; position: relative;"
                                data-list-id= {{ list.getId() }}>
                                <a class="list_push_loader list_link"
                                   href="{{ path('prod_push_lists_list', { 'list_id' : list.getId() }) }}">
                                    {# {% if list.getOwner(app.getAuthenticatedUser()).getRole() >= constant('Alchemy\\Phrasea\\Model\\Entities\\UsrListOwner::ROLE_EDITOR') %} #}
                                    {# <img src="/assets/prod/images/Push/list-icon.png" /> #}
                                    {# {% else %} #}
                                    {# <img src="/assets/common/images/icons/SHARE16.png" /> #}
                                    {# {% endif %} #}
                                    {{ list.getName() }}
                                    ({{ list.getEntries().count() }})
                                </a>
                                <!--
                                <button class="list-trash-btn" style="display: none;">
                                    <img src="/assets/common/images/icons/delete-black.png" class="image-normal"/>
                                    <img src="/assets/common/images/icons/delete-white.png" class="image-hover"/>
                                </button>
                                -->
                                <span class="list-trash-btn fa fa-trash" style="font-size: 170%; cursor: pointer; display: none;"></span>
                            </li>
                        {% endfor %}
                    </ul>
                    <span style="width:100%; display:block; text-align:center;">
                    <a href="#" class="btn list_manager">
                        <span class="fa fa-list"></span>&nbsp;
                        <b>{{ 'List Manager' | trans }}</b>
                    </a>
                </span>
                </div>
            </div>
        </div>
        <div class="PNB" style="left:220px;">
            <div class="PNB10" style="height:46px;bottom:auto;line-height:26px;padding:0 20px 0 18px;">
                <div style="float: left;">
                    <div id="find-user">
                        <input class="search" name="users-search" placeholder="{{ 'Users' | trans }}" type="text"
                               style="width:210px;"/>
                    </div>
                    <p id="recommanded-users">
                        {% set recommendation = '' %}
                        {% set total = RecommendedUsers|length %}

                        {% for user in RecommendedUsers %}
                            {% if total <= 4 or loop.index <= 4 %}
                                {% if recommendation != '' and not loop.last %}
                                    {% set recommendation = recommendation ~ ', ' %}
                                {% elseif recommendation != '' and loop.last %}
                                    {% set recommendation = recommendation %}
                                {% endif %}
                                {% set recommendation = recommendation
                                    ~ ' <a href="#" class="recommended_users UserTips" tooltipsrc="' ~ path('prod_tooltip_user', { 'usr_id' : user.getId() }) ~ '">'
                                    ~ '<input type="hidden" name="usr_id" value="' ~ user.getId() ~ '" />'
                                    ~ user.getDisplayName() | e
                                    ~ '</a>' %}
                            {% endif %}
                        {% endfor %}

                        {% if total > 4 %}
                            {% set n = total - 4 %}
                            {% set and_many_more %}
                                {% trans with {'%n%' : n} %}and %n% more peoples{% endtrans %}
                            {% endset %}
                            {% set recommendation = recommendation
                                ~ '<a href="#" class="recommended_users_list">'
                                ~ and_many_more ~ '</a>' %}
                        {% endif %}

                        {% if recommendation != '' %}
                            {% set recommendation = '<br/>' ~ recommendation %}
                            {% if context == 'Push' %}
                                {% trans with {'%recommendation%' : recommendation} %}Please consider send this push to the following users : %recommendation%{% endtrans %}
                            {% elseif context == 'Sharebasket' %}
                                {% trans with {'%recommendation%' : recommendation} %}Please consider share this basket with the following users : %recommendation%{% endtrans %}
                            {% else %}
                                {% trans with {'%recommendation%' : recommendation} %}Please consider send this validation to the following users : %recommendation%{% endtrans %}
                            {% endif %}
                        {% endif %}
                    </p>

                    <div style="display:none;" id="push_user_recommendations" title="{{ 'Users suggestion' | trans }}">
                        <table class="users" style="width:100%;">
                            {% for user in RecommendedUsers %}
                                <tr>
                                    <td>
                                        <img src="/assets/common/images/icons/user.png"/>
                                    </td>
                                    <td>
                                        {{ user.getDisplayName() }}
                                        <input type="hidden" name="usr_id" value="{{ user.getId() }}"/>
                                    </td>
                                    <td>
                                        <a href="#" class="adder">{{ 'Add' | trans }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>

                <div style="float: left;">
                    {% if app.getAclForUser(app.getAuthenticatedUser()).has_right(constant('\\ACL::CANADMIN')) %}
                        <button type="button" class="colored with_icon push-add-user">
                            <span class="fa fa-plus"></span>&nbsp;
                            {{ 'Add user' | trans }}
                        </button>
                    {% endif %}
                </div>

                <span style="font-size: 21px;font-family: Roboto;margin-left: 30px;font-weight: 700; {% if context == 'Push' %}color: #2196f3;{% else %}color: #8bc34a;{% endif %}">
                    {% if push.get_original_basket() %}{{ push.get_original_basket().getName() }}{% endif %}
                </span>
                <img id="info-box-trigger" src="/assets/common/images/icons/Info-white.png" width="18" height="18">
                <div id="info-box" style="display: none">
                    <p>
                        {% if context == 'Push' %}
                            {{ 'Push::unpush permet d\'envoyer un lot d\'image a des destinataires' | trans }}
                        {% elseif context == 'Sharebasket' %}
                            {{ 'Push::a basket share allows participants to see/act on a common basket' | trans }}
                        {% else %}
                            {{ 'Push::une validation est une demande d\'appreciation a d\'autres personnes' | trans }}
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="PNB10" style="top:55px;">
                <div class="PNB content user_content grey-bg">
                    <div class="PNB10 header">
                        <table style="table-layout:auto;">
                            <tr>
                                <td>
                                <span class="text">
                                    {% set nb_push_items = push.get_count_actionable() %}
                                    {% set nb_not_available = push.get_count_not_actionable() %}
                                    {% if context == 'Push' %}
                                        {% if nb_not_available == 0 %}
                                            {% trans with {'%nb_push_items%' : nb_push_items} %}You are about to push %nb_push_items% records.{% endtrans %}
                                        {% else %}
                                            {% trans with {'%nb_push_items%' : nb_push_items, '%nb_not_available%' : nb_not_available} %}You are about to push %nb_push_items% records, %nb_not_available% records can not be processed.{% endtrans %}
                                        {% endif %}
                                    {% elseif context == 'Sharebasket' %}
                                        {% if nb_not_available == 0 %}
                                            {% trans with {'%nb_push_items%' : nb_push_items} %}You are about to share a basket with %nb_push_items% records.{% endtrans %}
                                        {% else %}
                                            {% trans with {'%nb_push_items%' : nb_push_items, '%nb_not_available%' : nb_not_available} %}You are about to share a basket with %nb_push_items% records, %nb_not_available% records can not be processed.{% endtrans %}
                                        {% endif %}
                                    {% else %}
                                        {% if nb_not_available == 0 %}
                                            {% trans with {'%nb_push_items%' : nb_push_items} %}You are about to ask for feedback for %nb_push_items% records.{% endtrans %}
                                        {% else %}
                                            {% trans with {'%nb_push_items%' : nb_push_items, '%nb_not_available%' : nb_not_available} %}You are about to ask for feedback for %nb_push_items% records, %nb_not_available% records can not be processed.{% endtrans %}
                                        {% endif %}
                                    {% endif %}
                                </span>
                                </td>
                                <td class="options">
                                    <button class="select-all colored"
                                            style="margin-right: 10px;">{{ 'Select all' | trans }}</button>
                                    <button class="unselect-all colored">{{ 'Deselect all' | trans }}</button>
                                    <button class="delete-selection">{{ 'prod:push: delete selection' | trans }}</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <form name="FeedBackForm" method="post"
                            {# todo : name routes from context : no more "if" ! #}
                            {% if context == 'Push' %}
                                action="{{ path('prod_push_send') }}"
                            {% elseif context == 'Sharebasket' %}
                                action="{{ path('prod_push_send_sharebasket') }}"
                            {% else %}
                                action="{{ path('prod_push_validate') }}"
                            {% endif %}
                    >
                        <input name="lst" type="hidden" value="{{ push.get_serialize_list() }}"/>
                        <input name="ssel" type="hidden"
                               value="{% if push.get_original_basket() %}{{ push.get_original_basket().getId() }}{% endif %}"/>
                        <input name="name" type="hidden"
                               value="{% if push.get_original_basket() %}{{ push.get_original_basket().getName() }}{% endif %}"/>
                        <input name="feedbackAction" type="hidden" value="{{ feedbackAction }}"/>
                        <input name="notify" type="hidden" value="1"/>
                        {% if feedbackAction == 'adduser' %}
                            <input id="participantsUserIds" type="hidden" value="{{ participantUserIds }}"/>
                            <input id="newParticipantsUser" type="hidden" value=""/>
                        {% endif %}
                        <textarea name="message" style="display:none;"></textarea>
                        <input type="hidden" name="duration" value=""/>
                        <input type="checkbox" value="1" name="recept" style="display:none;"/>
                        <input type="checkbox" value="1" name="force_authentication" style="display:none;"/>
                        <div class="PNB10 badges">
                            {% if context == 'Feedback' or context == 'Sharebasket' %}
                                {% for participant in participants | sort | reverse %}
                                    {% set userId = participant.getUser().getId() %}
                                    <div class="badge {{ 'badge_' ~ userId }} %>">
                                        {% if initiatorUserId != userId %}
                                            <a href="#" class="deleter">
                                                <i class="fa fa-times-circle"></i>
                                            </a>
                                        {% endif %}
                                        <input name="id" value="{{ userId }}" type="hidden"/>
                                        <table>
                                            <tr>
                                                <td class="icon" {% if initiatorUserId == userId %} style="background-color: #673AB7!important;" {% endif %}>
                                                    <i class="fa fa-user"></i>
                                                </td>
                                                <td class="infos">
                                                    <div>
                                                        <input type="hidden" name="participants[{{ userId }}][usr_id]"
                                                               value="{{ userId }}"/>
                                                        <table>
                                                            <tr>
                                                                <td colspan="3">
                                                                    <span class="name">{{ participant.getUser().getDisplayName() }}</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3">
                                                                    {% set subtitle =  [participant.getUser().getJob(), participant.getUser().getCompany()] | join(', ') %}
                                                                    <span class="subtite">{% if subtitle != ', ' %} {{ subtitle }} {% endif %}</span>
                                                                </td>
                                                            </tr>
                                                            <tr class="toggles">
                                                                <td>
                                                                    {% if context == 'Feedback' %}
                                                                        {% set msg = 'User contribute to the feedback'|trans %}
                                                                    {% else %}
                                                                        {% set msg = 'User can modify the basket'|trans %}
                                                                    {% endif %}
                                                                    <a href="#" class="fa fa-pencil colored toggle toggle_agree {{ participant.getCanAgree() ? 'status_on' : 'status_off' }}" title="{{ msg }}"></a>
                                                                    <input type="hidden"
                                                                           name="participants[{{ userId }}][agree]"
                                                                           value="{{ participant.getCanAgree() ? '1' : '0' }}"/>
                                                                </td>

                                                                <td>
                                                                    {% if context == 'Feedback' %}
                                                                        {% set msg = 'User can see others choices'|trans %}
                                                                        <a href="#" class="fa fa-users colored toggle toggle_see_others {{ participant.getCanSeeOthers() ? 'status_on' : 'status_off' }}" title="{{ msg }}"></a>
                                                                        <input type="hidden"
                                                                               name="participants[{{ userId }}][see_others]"
                                                                               value="{{ participant.getCanSeeOthers() ? '1' : '0' }}"/>
                                                                    {% endif %}
                                                                </td>

                                                                <td>
                                                                    {% set msg = 'User can download HD'|trans %}
                                                                    <a href="#" class="fa fa-download colored toggle toggle_HD status_off" title="{{ msg }}"></a>
                                                                    <input type="hidden"
                                                                           name="participants[{{ userId }}][HD]"
                                                                           value="0"/>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </form>
                    <div class="PNB10 footer">
                        <form class="list_saver">
                            <div class="btn-toolbar">
                                <input type="text" name="list_name" placeholder="{{ 'Save this list' | trans }}"/>
                                <button class="colored inverse with_icon saveList">
                                    <span class="fa fa-heart"></span>
                                </button>
                            </div>
                        </form>
                        {% if context == 'Push' %}
                            <button class="colored inverse FeedbackSend">{{ "Send" | trans }}</button>
                        {% else %}
                            {# only Feedback and Sharebasket manage users and may have a "feedbackaction" #}
                            {# todo !!!!!!!!! see if "push" ignores feedbackaction so we can remove the "if context" #}
                            <button class="colored inverse FeedbackSend" data-feedback-action={{ feedbackAction }}>{{ "Send" | trans }}</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="ListManager" class="PNB PushBox ListManager" style="display:none;">
        <div class="PNB" style="width:220px;">
            <div style="padding:10px">
                <a class="back_link btn colored with_icon">
                    <span class="fa fa-arrow-left"></span>
                    {{ 'Back' | trans }}
                </a>
            </div>
            <div class="PNB10 all-lists LeftColumn" style="top:55px;">
                {% include 'prod/actions/Feedback/lists-all.html.twig' %}
            </div>
        </div>
        <div class="PNB" style="left:220px;">
            <div class="editor PNB">
                <div class="PNB" style="top: 45px;">
                    <div class="PNB10 content user_content grey-bg">
                        <div class="welcome">
                            <h1>{{ 'Welcome to the ListManager !' | trans }}</h1>
                            {% if lists|length == 0 %}
                                <p class="welcome">
                                    {{ 'Start by creating one by using the "add" button on the left !' | trans }}
                                </p>
                            {% else %}
                                <p class="welcome">
                                    {{ 'Select a list on the left and edit it !' | trans }}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="FeedbackSendForm">
        <form method="post"></form>
    </div>

    {% include "prod/templates/push.html.twig" %}
{% endif %}
