<div class="PNB PushBox" id="PushBox" >
  <div class="PNB" style="width:205px;">
    <div class="PNB10 LeftColumn">
      <div class="PNB" style="height:130px;bottom:auto;text-align:center;">
        {% if context == 'Push' %}
        <img style="margin:30px 0;" src="/skins/icons/push64.png"/>
        {% else %}
        <img style="margin:30px 0;" src="/skins/icons/Feedback60.png"/>
        {% endif %}
      </div>
      <div class="PNB content" style="top:150px;">
        <div class="PNB10" style="bottom:0;height:90px;">
          <h1>{% trans 'Grant rights' %}</h1>
          <ul class="general_togglers">
            {% if context == 'Feedback' %}
            <li>
              <a class="general_toggler" feature="agree" href="#">
                <img src="/skins/prod/Push/contributeur_menu.png" />
                {% trans 'Contributor' %}
              </a>
            </li>
            <li>
              <a class="general_toggler" feature="see_others" href="#">
                <img src="/skins/prod/Push/see_other_menu.png" />
                {% trans 'See others' %}
              </a>
            </li>
            {% endif %}
            <li>
              <a class="general_toggler" feature="HD" href="#">
                <img src="/skins/prod/Push/download_menu.png" />
                {% trans 'HD Download' %}
              </a>
            </li>
          </ul>
        </div>
        <div class="PNB10" style="top:110px;overflow-y:auto;">
          <h1>
            {% trans 'Lists' %}
          </h1>
          <a href="#" class="link list_manager">
            {% trans 'List Manager' %}
          </a>
          <ul>
            {% for list in lists %}
              <li>
                <a href="#" class="list_loader" href="/prod/push/lists/list/{{ list.getId() }}/">
                  {% if list.getOwner(user).getRole() >= constant('\\Entities\\UsrListOwner::ROLE_EDITOR') %}
                    <img src="/skins/prod/Push/list-icon.png" />
                  {% else %}
                    <img src="/skins/icons/SHARE16.png" />
                  {% endif %}
                  {{ list.getName() }}
                  ({{ list.getEntries().count() }})
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="PNB" style="left:205px;">
    <div class="PNB" style="height:150px;bottom:auto;">
      <div class="PNB10">
        <table>
          <tr>
            <td>
              <input class="search" name="users-search" placeholder="{% trans 'Users' %}" type="text" />

              <a href="/prod/push/add-user/" class="user_adder link">{% trans 'Add user' %}</a>

              <button class="FeedbackSend">{% trans "Send" %}</button>
              <p>

                {% set recommendation = '' %}

                {% set total = RecommendedUsers|length %}

                {% for user in RecommendedUsers %}

                  {% if total <= 4 or loop.index <= 4 %}
                    {% if recommendation != '' %}
                      {% set recommendation = recommendation ~ ', ' %}
                    {% endif %}
                    {% set recommendation = recommendation
                    ~ ' <a href="#" class="recommended_users" tooltipsrc="/prod/tooltip/user/'
                    ~ user.get_id() ~ '/" class="UserTips"/">'
                    ~ '<input type="hidden" name="usr_id" value="' ~ user.get_id() ~ '" />'
                    ~ user.get_display_name()
                    ~ '</a>' %}
                  {% endif %}

                {% endfor %}

                {% if total > 4 %}
                  {% set n = total - 4%}
                  {% set and_many_more %}
                    {% trans %}
                      and {{ n }} more peoples
                    {% endtrans %}
                  {% endset %}
                  {% set recommendation = recommendation
                              ~ '<a href="#">'
                              ~ and_many_more ~ '</a>' %}
                {% endif %}


                {% if recommendation != '' %}
                  {% trans %}
                    Please consider send this validation to the following users : {{ recommendation }}
                  {% endtrans %}
                {% endif %}
              </p>
            </td>
            <td style="width:600px;">
              <p>
                {% if context == 'Push' %}
                  {% trans 'Push::unpush permet d\'envoyer un lot d\'image a des destinataires' %}
                {% else %}
                  {% trans 'Push::une validation est une demande d\'appreciation a d\'autres personnes' %}
                {% endif %}
              </p>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="PNB" style="top:150px;">
      <div class="PNB10 content user_content">
        <div class="PNB10 header">
          <table>
            <tr>
              <td>
                <form class="list_saver">
                  <input name="name" placeholder="{% trans 'Save this list' %}"/>
                  <button>
                    <img src="/skins/prod/Push/save_list_as.png" />
                  </button>
                </form>
              </td>
              <td class="options">
                <button class="select-all">{% trans 'Select all' %}</button>
                <button class="unselect-all">{% trans 'Deselect all' %}</button>
              </td>
            </tr>
          </table>
        </div>
        <form name="FeedBackForm" method="post"
          {% if context == 'Push' %}
          action="/prod/push/send/"
          {% else %}
          action="/prod/push/validate/"
          {% endif %}
          >
          <input name="lst" type="hidden" value="{{ push.get_serialize_list() }}" />
          <input name="ssel" type="hidden" value="{% if push.get_original_basket() %}{{ push.get_original_basket().getId() }}{% endif %}" />
          <input name="name" type="hidden" value="{% if push.get_original_basket() %}{{ push.get_original_basket().getName() }}{% endif %}" />
          <textarea name="message" style="display:none;"></textarea>
          <div class="PNB badges">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="ListManager" class="PNB PushBox" style="display:none;">
  <div class="PNB" style="left:10px;height:30px;bottom:auto;">
    <h1>
      <button class="back_link">
        &lt;
        {% if context == 'Push' %}
          {% trans 'Back to Push' %}
        {% else %}
          {% trans 'Back to Feedback' %}
        {% endif %}
      </button>
      <span class="title">
        {% trans 'List Manager' %}
      </span>
    </h1>
  </div>
  <div class="PNB" style="top:30px;">
    <div class="PNB" style="width:320px;right:auto;">
      <div class="PNB10 content all-lists LeftColumn">
        {% include 'prod/actions/Feedback/lists-all.html.twig' %}
      </div>
    </div>
    <div class="editor PNB" style="left:320px;">
      <div class="welcome">
        <h1>{% trans 'Welcome to the ListManager !' %}</h1>
        {% if lists|length == 0 %}
        <p class="welcome">
          {% trans 'Start by creating one by using the "add" button on the left !' %}
        </p>
        {% else %}
        <p class="welcome">
          {% trans 'Select a list on the left and edit it !' %}
        </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div id="FeedbackSendForm">
  <form method="post">


  </form>
</div>
<script type="text/javascript">
  $(document).ready(function(){

    p4.Feedback = new Feedback($('#PushBox'), '{{ context }}');
    p4.ListManager = new ListManager($('#ListManager'));

  });
</script>
