{% macro board_sub_section(requirements) %}
    <h2>{{ requirements.getName() }}</h2>
    <ul class="setup">
        {% if requirements.getRequirements() is not empty %}
            <li><strong>{% trans 'Requirements' %}</strong></li>
            {% for requirement in requirements.getRequirements() %}
                <li class="{% if not requirement.isFulfilled() %}{% if not requirement.isOptional() %}blocker{% else %}non-blocker{% endif %}{% else %}good-enough{% endif %}">
                    {{ requirement.getTestMessage }}

                    <p>
                    {% if not requirement.isFulfilled() %}
                        {{ requirement.getHelpHtml() | raw }}
                    {% endif %}
                    </p>
                </li>
            {% endfor %}
        {% endif %}
        {% if requirements.getRecommendations() is not empty %}
            <li><strong>{% trans 'Recommendations' %}</strong></li>
            {% for requirement in requirements.getRecommendations() %}
                <li class="{% if not requirement.isFulfilled() %}{% if not requirement.isOptional() %}blocker{% else %}non-blocker{% endif %}{% else %}good-enough{% endif %}">
                    {{ requirement.getTestMessage }}

                    <p>
                    {% if not requirement.isFulfilled() %}
                        {{ requirement.getHelpHtml() | raw }}
                    {% endif %}
                    </p>
                </li>
            {% endfor %}
        {% endif %}
        {% if requirements.getInformations() is not empty %}
            <li><strong>{% trans 'Informations' %}</strong></li>
            {% for information in requirements.getInformations() %}
                <li>
                    {{ information.getName() }} : {{ information.getValue() }}
                </li>
            {% endfor %}
        {% endif %}
    </ul>
{% endmacro %}

<style type="text/css">
    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        /* add padding to account for vertical scrollbar */
        padding-right: 20px;
    }
    /* IE 6 doesn't support max-height
        * we use height instead, but this forces the menu to always be this tall
    */
    * html .ui-autocomplete {
        height: 200px;
    }
    .ui-autocomplete-loading { background: white url('/skins/icons/ui-anim_basic_16x16.gif') right center no-repeat; }
</style>


<script type="text/javascript">

    $(document).ready(function(){

        var container = $('#right-ajax');
        $( ".admin_adder", container ).autocomplete({
            source: "/admin/users/typeahead/search/",
            minLength: 2,
            select: function( event, ui ) {
                var form = $('#admin_adder');
                $('input.new[name="admins[]"]', form).val(ui.item.id);
                form.submit();
            }
        }).data( "autocomplete" )._renderItem = function( ul, item ) {
            var email = item.email ? '<br/>'+item.email : '';
            var login = item.login != item.name ? " ("+ item.login +")" : '';

            return $( "<li></li>" )
            .data( "item.autocomplete", item )
            .append( "<a>" + item.name + login + email + "</a>" )
            .appendTo( ul );
        };

    });
</script>



{% if cache_flushed %}
    <div>
        {% trans 'all caches services have been flushed' %}
    </div>
{% endif %}


<div class="board_section">
    <h1>{% trans 'setup:: administrateurs de l\'application' %}</h1>
    <form id="admin_adder" action="{{ path('admin_dashboard_add_admins') }}" method="post">
        <ul>
        {% for usr_id, usr_login in admins %}
            <li>
                <label class="checkbox" for="adm_{{ usr_id }}">
                    <input type="checkbox" id="adm_{{ usr_id }}" name="admins[]" value="{{ usr_id }}" checked />
                    {{ usr_login }}
                </label>
            </li>
        {% endfor %}
        </ul>
        <label>{% trans 'setup:: ajouter un administrateur de l\'application' %} :</label>
        <input class="admin_adder input-large" />
        <input type="hidden" class="new" name="admins[]" />
        <input type="submit" class="btn btn-warning" value="{% trans 'boutton::valider' %}" />
    </form>
    <h2>{% trans 'setup:: Reinitialisation des droits admins' %}</h2>
    <form id="admin_reset" action="{{ path('admin_dashboard_reset_admin_rights') }}" method="post">
        <input type="submit" class="btn btn-warning" value="{% trans 'boutton::reinitialiser' %}" />
    </form>
</div>

<div class="board_section">
    <h1 style="margin-bottom: 0;">{% trans 'setup:: Reglages generaux' %}</h1>
    <h2 style="margin-top: 0; font-style: italic;">{% trans 'setup::Votre configuration' %}</h2>
    <div class="section">

        <h2>{% trans 'setup::Tests d\'envois d\'emails' %}</h2>
        <form id="mail_checker" method="post" action="{{ path('admin_dashboard_test_mail') }}" target="_self">
            <label>Email : </label><input name="email" type="text" />
            <input type="submit" class="btn btn-warning" value="{% trans 'boutton::valider' %}"/>
            {% if email_status %}
                <p>{% trans %}Email test result : {{ email_status }}{% endtrans %}</p>
            {% endif %}
        </form>

        {% if app['cache'].isServer() %}
            <form id="cache_flusher" method="post" action="{{ path('admin_dashboard_flush_cache') }}">
                <input type="submit" id="flush_button" class="btn btn-warning" value="Flush All Caches" />
            </form>
        {% endif %}

        {% for requirements in app['phraseanet.configuration-tester'].getRequirements() %}
            {{ _self.board_sub_section(requirements) }}
        {% endfor %}
    </div>
</div>
