{% if update_post_datas is not none %}
    <div class='alert'>
        {{ update_post_datas }}
    </div>
{% endif %}

<form class="form-horizontal" id="GV_form_head">
    <div class="control-group">
        <label class="control-label">Adresse : </label>
        <div class="controls">
            <input type="text" class="input-xlarge" readonly="readonly" value="<?php echo $registry->get('GV_ServerName'); ?>"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Installation : </label>
        <div class="controls">
            <input type="text" class="input-xlarge" readonly="readonly" value="<?php echo $registry->get('GV_RootPath'); ?>"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Maintenance : </label>
        <div class="controls">
            <input type="checkbox" readonly="readonly" disabled="disabled" <?php echo $registry->get('GV_maintenance') == true ? "checked='checked'" : ''; ?>/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Debug : </label>
        <div class="controls">
            <input type="checkbox" readonly="readonly" disabled="disabled" <?php echo $registry->get('GV_debug') == true ? "checked='checked'" : ''; ?>/>
        </div>
    </div>
</form>

{% set rules = [] %}
{% set messages = [] %}

<form id="GV_form" class="form-horizontal" method="post" action = "/admin/globals/">
    {% for section in GV %}
        <div class="section">
            <h1> {{ section['section'] }} </h1>

            {% for value in section['vars'] %}

                {% if value['required'] is defined %}
                    {% set rules = rules | merge({value['name'] : {'required' : value['required']}})%}
                    {% set messages = messages | merge({value['name'] : {'required' : 'Required field'| trans }})%}
                {% endif %}

                {% set readonly = true %}
                {% if value['readonly'] is defined and value['readonly'] == true %}
                    {% set readonly = false %}
                {% endif %}

                {% set value = '' %}
                {% set is_new = false %}
                {% if app.registry.is_set(value['name']) %}
                    {% set value =  app.registry.get(value['name']) %}
                    {% set is_new = true %}
                {% elseif value['default'] is defined %}
                    {% set value = value['default'] %}
                {% endif %}

                <div class="control-group">
                    <div class="controls">
                        <label class="control-label" for="id_{{ value['name'] }}"><span class="NEW">{{ is_new === false ? 'NEW' : '' }} </span>{{ value['comment'] }}</label>
                        {% if value['type'] == 'boolean' %}
                            <label class="radio inline" for="id_{{ value['name'] }}_no"><input {{ readonly ? 'readonly="readonly"' : '' }} {{ currentValue == '0' ? 'checked="selected"' : '' }} type="radio"  name="{{ value['name'] }}" value="False" id="id_{{ value['name'] }}_no" />False</label>
                            <label class="radio inline" for="id_{{ value['name'] }}_yes"><input {{ readonly ? 'readonly="readonly"' : '' }} {{ currentValue == '1' ? 'checked="checked"' : '' }} type="radio"  name="{{ value['name'] }}" value="True" id="id_{{ value['name'] }}_tes" />True</label>
                        {% elseif value['type'] == 'string' %}
                            <input {{ readonly ? 'readonly="readonly"' : '' }} name=" {{ value['name'] }}" id="id_{{ value['name'] }}" type="text" value="{{ currentValue }}"/>
                        {% elseif value['type'] == 'text' %}
                            <textarea {{ readonly ? 'readonly="readonly"' : '' }} name="{{ value['name'] }}" id="id_{{ value['name'] }}">{{ currentValue }}</textarea>
                        {% elseif value['type'] == 'enum' %}
                            <select {{ readonly ? 'readonly="readonly"' : '' }} name="{{ value['name'] }}" id="id_{{ value['name'] }}">
                                {% if value['available'] is defined and value['available'] | keys is defined %}
                                    {% for key, value in value['available'] %}
                                        <option value="{{ key }}" {{ currentValue === key ? 'selected="selected"' : '' }} >{{ value }}</option>
                                    {% endfor %}
                                {% else %}
                                    <p style="color:red;">
                                        {% trans %}
                                            erreur avec la valeur {{ value['name'] }}
                                        {% endtrans %}
                                    </p>
                                {% endif %}
                            </select>
                        {% elseif value['type'] == 'enum_multi' %}
                            {% if value['available'] is defined and value['available'] | keys is defined %}
                                {% for key, value in value['available'] %}
                                    <label class="checkbox">
                                        <input type="checkbox" name="{{ value['name'] ~ '[]' }}" {{ readonly ? 'readonly="readonly"' : ''}} value="{{ key }}" {{ currentValue | keys is not defined or key in currentValue| keys ? 'checked="checked"' : '' }} /> {{ value }}</label>
                                {% endfor %}
                            {% else %}
                                <p style="color:red;">
                                    {% trans %}
                                        erreur avec la valeur {{ value['name'] }}
                                    {% endtrans %}
                                </p>
                            {% endif %}
                        {% elseif value['type'] == 'integer' %}
                                <input {{ readonly ? 'readonly="readonly"' : '' }} name="{{ value['name'] }}" id="id_{{ value['name'] }}" type="text" value="{{ currentValue }}"/>
                        {% elseif value['type'] == 'password' %}
                                <input {{ readonly ? 'readonly="readonly"' : '' }} name="{{ value['name'] }}" id="id_{{ value['name'] }}" type="password" value="{{ currentValue }}"/>
                        {% elseif value['type'] == 'timezone' %}
                            {% if currentValue is not empty %}
                                {% set date = date() %}
                                {% set currentValue = date.getTimezone().getName() %}
                            {% endif %}
                                <select name="{{ value['name'] }}" id="id_{{ value['name'] }}">
                                    {% set times = [] %}
                                    {% for k, v in listTimeZone() %}
                                        {% for value in v %}
                                            {% if v['timzeone_id'] | trim is not empty and v['timzeone_id'] is not in times %}
                                                {% set times = times|merge([v['timzeone_id']]) %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}

                                    {% for time in times %}
                                        <option {{ selected == time ? "selected" : "" }} value="{{ time }}"> {{ time }} </option>
                                    {% endfor %}
                                </select>
                        {% endif %}
                     </div>
                </div>
            {% endfor %}

            {% if section['javascript'] is defined %}
                <div><input type='button' onclick='{{ section['javascript'] ~ '(this);' }}' value='Tester' /></div>
            {% endif %}
        </div>
    {% endfor %}
</form>