<div class="page-header">
    <h1>{{ 'Setup' | trans }}</h1>
</div>

<form class="form-horizontal" id="GV_form_head">
    <div class="control-group">
        <label class="control-label">Adress : </label>
        <div class="controls">
            <input type="text" class="input-xxlarge" readonly="readonly" value="{{ app['conf'].get('servername') }}" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Installation : </label>
        <div class="controls">
            <input type="text" class="input-xxlarge" readonly="readonly" value="{{ app['root.path'] }}" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Maintenance : </label>
        <div class="controls">
            <input type="checkbox" readonly="readonly" disabled="disabled"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Debug : </label>
        <div class="controls">
            <input type="checkbox" readonly="readonly" disabled="disabled" {{ app['debug'] ? "checked='checked'" : '' }} />
        </div>
    </div>
</form>



{{ form_start(form, {'method': 'POST', 'action' : path('setup_display_globals'), 'attr': {'autocomplete' : 'off', 'class' : 'form-horizontal'}}) }}
{{ form_errors(form) }}
{% for daform in form %}
    {% if daform.vars['label'] != null %}
        <fieldset>
            <legend>{{ daform.vars['label'] }}</legend>
            {% for formdata in daform %}
                <div class="control-group">
                    {{ form_errors(formdata) }}
                    {{ form_label(formdata, null, { 'label_attr': {'class' : 'control-label'} } ) }}
                    <div class="controls">
                        {{ form_widget(formdata, {'attr': {'class': 'input-xxlarge'}}) }}
                    </div>

                    <div>{{ formdata.vars['help_message'] }}</div>
                    {{ form_rest(formdata) }}
                </div>
            {% endfor %}
            {{ form_rest(daform) }}
        </fieldset>
    {% endif %}
{%  endfor %}
<legend>{{ "setup::custom-link:title-custom-link" | trans }}</legend>
<table id="custom-link-table">
</table>
<button id="add-row" class="btn btn-success">{{ "setup::custom-link:add-link" }}</button>
<div style="clear: both;"></div>
<div class="well well-large">
    <div style="max-width: 400px;margin: 0 auto 10px;">
        <input type="submit" class="btn btn-primary btn-block btn-large" value="{{ 'boutton::valider' | trans }}"/>
    </div>
</div>
{{ form_end(form) }}

<script type='text/javascript'>
    {% autoescape false %}
    $(document).ready(function() {
        // use html5 fallback validation if browser do not support required attribute
        var form = $("#GV_form");
        var inputs = form.find("input, select, textarea");
        // if required not supported, emulate it
        if (!Modernizr.input.required) {
            form.bind("submit", function (event) {
                var required = [];
                // loop through input elements looking for required
                $.each(inputs, function(k, input){
                    var input = $(input);
                    if (typeof input.attr('required') !== "undefined") {
                        // if the value is empty, add to required array
                        if (input.val().replace(/^\s+|\s+$/g, '') === '') {
                            required.push(input.attr('name'));
                        }
                    }
                });

                // show popover if required array contains any elements
                if (required.length > 0) {
                    $.each(required, function(k, name) {
                        var $this = $("input[name="+name+"], select[name="+name+"], textarea[name="+name+"]");
                        $this.popover({ title: language.attention, content: language.requiredValue, placement:"bottom" })
                                .blur(function () {
                                    $this.popover('hide');
                                });
                        $this.popover("show");
                    });
                    // prevent the form from being submitted
                    event.stopImmediatePropagation();
                    return false;
                }
            });
        }

        $("#add-row").click(function () {
            //check if first row, then add header and body
            var rowCount = $('#custom-link-table tr').length;
            if (rowCount < 1) {
                var header = '<thead><th>{{ "setup::custom-link:name-link" | trans }}</th><th>{{ "setup::custom-link:language-link" | trans }}</th>' +
                    '<th>{{ "setup::custom-link:link-url" | trans }}</th><th>{{ "setup::custom-link:location-link" | trans }}</th><th>{{ "setup::custom-link:order-link" | trans }}</th>' +
                    '<th></th></thead>';

                $("#custom-link-table").append(header);
                $("#custom-link-table").append('<tbody></tbody>');
            }

            addRow(null);
            return false;
        });
        $("#custom-link-table").on('click', '.close-row', function () {
            $(this).closest('tr').remove();
            var rowCount = $('#custom-link-table tr').length;
            //remove header if no more rows
            if (rowCount <= 1) {
                $("#custom-link-table").empty();
                id = 0;
            }
            return false;
        });

        $('form').on('submit', function () {
            // do validation for custom link
            var customLinks = [];

            $('#custom-link-table tbody tr').each(function (i, row) {
                var rowData = getDataOfRow(row);
                customLinks.push(rowData);
            });
            $('#custom-links').val(JSON.stringify(customLinks));
        });

        function addRow(rowData) {
            //custom link
            var rowForCustomLink = '<tr><td><input type="text" placeholder="Alchemy store" name="link-name" maxlength="30" required></td>' +
                '<td><select name="link-language" required><option value="">{{ "setup::custom-link:select-language" | trans }}</option>' +
                '<option value="all">{{ "All" | trans }}</option><option value="fr">FR</option><option value="en">EN</option><option value="es">ES</option>' +
                '<option value="ar">AR</option><option value="de">DE</option><option value="du">DU</option></select></td>' +
                '<td><input type="url" placeholder="https://alchemy.odoo.com" name="link-url" required></td><td><select name="link-location" required>' +
                '<option value="">{{ "setup::custom-link:location" | trans }}</option><option value="help-menu">{{ "setup::custom-link:help-menu" | trans }}</option>' +
                '<option value="navigation-bar">{{ "setup::custom-link:navigation-bar" | trans }}</option></select></td>' +
                '<td><input type="number" min="1" name="link-order"></td><td><button class="btn btn-default close-row">' +
                '<span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span></button></td></tr>';

            if (rowData != null) {
                rowForCustomLink = '<tr><td><input type="text" value="' + rowData.linkName + '" placeholder="Alchemy store" name="link-name" maxlength="30" required></td>' +
                    '<td><select name="link-language" required><option value="">{{ "setup::custom-link:select-language" | trans }}</option>' +
                    '<option value="all"' + (rowData.linkLanguage == 'all' ? "selected" : "") + '>{{ "All" | trans }}</option><option value="fr"' +
                    (rowData.linkLanguage == 'fr' ? "selected" : "") + '>FR</option><option value="en"' + (rowData.linkLanguage == 'en' ? "selected" : "") + '>EN</option><option value="es">ES</option>' +
                    '<option value="ar"' + (rowData.linkLanguage == 'fr' ? "ar" : "") + '>AR</option><option value="de"' + (rowData.linkLanguage == 'de' ? "selected" : "") +
                    '>DE</option><option value="du"' + (rowData.linkLanguage == 'du' ? "selected" : "") + '>DU</option></select></td>' +
                    '<td><input type="url" value="' + rowData.linkUrl + '" placeholder="https://alchemy.odoo.com" name="link-url" required></td><td><select name="link-location" required>' +
                    '<option value="">{{ "setup::custom-link:location" | trans }}</option><option value="help-menu" ' + (rowData.linkLocation == 'help-menu' ? "selected" : "") + '>{{ "setup::custom-link:help-menu" | trans }}</option>' +
                    '<option value="navigation-bar" ' + (rowData.linkLocation == 'navigation-bar' ? "selected" : "") + '>{{ "setup::custom-link:navigation-bar" | trans }}</option></select></td>' +
                    '<td><input type="number" min="1" name="link-order" value="' + rowData.linkOrder + '"></td><td><button class="btn btn-default close-row">' +
                    '<span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span></button></td></tr>';
            }

            $("#custom-link-table").append(rowForCustomLink);
        }


        function getDataOfRow(row) {
            var row = $(row);

            var linkObject = {};
            linkObject.linkName = row.find($('input[name="link-name"]')).val();
            linkObject.linkLanguage = row.find($('select[name="link-language"]')).val();
            linkObject.linkUrl = row.find($('input[name="link-url"]')).val();
            linkObject.linkLocation = row.find($('select[name="link-location"]')).val();
            linkObject.linkOrder = row.find($('input[name="link-order"]')).val() | 1;

            return linkObject;
        }


        //create custom link table if data exist
        var customLinksData = JSON.parse($('#custom-links').val());
        if (customLinksData.length > 0) {
            var rowCount = $('#custom-link-table tr').length;
            if (rowCount < 1) {
                var header = '<thead><th>{{ "setup::custom-link:name-link" | trans }}</th><th>{{ "setup::custom-link:language-link" | trans }}</th>' +
                    '<th>{{ "setup::custom-link:link-url" | trans }}</th><th>{{ "setup::custom-link:location-link" | trans }}</th><th>{{ "setup::custom-link:order-link" | trans }}</th>' +
                    '<th></th></thead>';

                $("#custom-link-table").append(header);
                $("#custom-link-table").append('<tbody></tbody>');
            }

            _.each(customLinksData, function (linkData) {
                addRow(linkData);
            })
        }

    });
    {% endautoescape %}
</script>
