{# empty Twig template #}

<ul id="tree" class="filetree">

  {% if user.is_admin() %}
  <li>
    <a target="right" href="sitestruct.php" class="ajax">
      <img src="/skins/admin/Dashboard.png" />
      <span>{% trans 'Tableau de bord' %}</span>
    </a>
  </li>
  {% else %}
  <li>
    <span>{{ registry.get('GV_ServerName') }}</span>
  </li>
  {% endif %}

  {% if user.is_admin() %}
  <li>
    <a target="right" href="/admin/global_values.php" class="ajax">
      <img src="/skins/admin/Setup.png" />
      <span>Setup</span>
    </a>
  </li>
    {% if registry.get('GV_sphinx') %}
  <li>
    <a target="right" href="/admin/sphinxconf.php">
      <span>Sphinx Conf</span>
    </a>
  </li>
    {% endif %}
  {% endif %}

  <li class="{% if feature == 'connected' %}selected{% endif %}">
    <a target="right" href="/admin/connected-users/" class="ajax zone_online_users">
      <img src="/skins/admin/Connected.png" />
      <span>{% trans 'admin::utilisateurs: utilisateurs connectes' %}</span>
    </a>
  </li>

  {% if user.ACL().has_right('manageusers') %}
  <li class="{% if feature == 'users' %}selected{% endif %}">
    <a target="right" href="/admin/users/search/" class="ajax zone_editusers">
      <img src="/skins/admin/Users.png" />
      <span>{% trans 'admin::utilisateurs: utilisateurs' %}</span>
    </a>
  </li>
  <li class="{% if feature == 'registrations' %}selected{% endif %}">
    <a target="right" href="demand.php?act=LISTUSERS">
      <img src="/skins/admin/Demandes.png" />
      <span>{% trans 'admin::utilisateurs: demandes en cours' %}</span>
    </a>
  </li>
  {% endif %}

  {% if user.ACL().has_right('bas_chupub') %}
  <li class="">
    <a target="right" href="/admin/publications/list/" class="ajax">
      <img src="/skins/icons/rss16.png" />
      <span>{% trans 'Publications' %}</span>
    </a>
  </li>
  {% endif %}

  {% if user.ACL().has_right('taskmanager') %}
  <li class="{% if feature == 'taskmanager' %}selected{% endif %}">
    <a target="right" href="taskmanager.php">
      <img src="/skins/admin/TaskManager.png" />
      <span>{% trans 'admin::utilisateurs: gestionnaire de taches' %}</span>
    </a>
  </li>
  {% endif %}

  <li class="open">
    <div class="{% if feature == 'bases' %}selected{% endif %}" style="padding:0 0 2px 0;">
      <a id="TREE_DATABASES" target="right" href="databases.php" class="ajax">
        <img src="/skins/admin/DatabasesAvailable.png" />
        <span>{% trans 'admin::utilisateurs: bases de donnees' %}</span>
      </a>
    </div>
    <ul>

    {% for databox in databoxes %}

      {% set sbas_id = databox.get_sbas_id() %}

      {% if feature in ['base', 'collection', 'user'] and featured == sbas_id %}
        {% set this_is_open = true %}
      {% else %}
        {% set this_is_open = false %}
      {% endif %}

      {% if this_is_open and feature == 'base' %}
        {% set this_is_selected = true %}
      {% else %}
        {% set this_is_selected = false %}
      {% endif %}

      <li class="{% if this_is_open %}open{% endif %}">
        <div style="padding:0 0 2px 0;" class="{% if this_is_selected %}selected{% endif %}">
          <a target="right" href="database.php?p0={{ sbas_id }}" class="ajax">
            <img src="/skins/admin/Database.png"/>
            <span>{{ databox.get_viewname() }}</span>
          </a>
        </div>
        <ul>

        {% if user.ACL().has_right_on_sbas( sbas_id , 'bas_modify_struct') %}
          <li>
            <a target="right" href="structure.php?act=STRUCTURE&p0={{ sbas_id }}">
              <img src="/skins/icons/miniadjust01.gif"/>
              <span>{% trans 'admin::structure: reglage de la structure' %}</span>
            </a>
          </li>
          <li>
            <a target="right" href="/admin/description/{{ sbas_id }}/" class="ajax">
              <img src="/skins/icons/miniadjust01.gif"/>
              <span>{% trans 'CHAMPS' %}</span>
            </a>
          </li>
          <li>
            <a target="right" href="/admin/subdefs/{{ sbas_id }}/">
              <img src="/skins/icons/miniadjust01.gif"/>
              <span>{% trans 'SUBDEFS' %}</span>
            </a>
          </li>
          <li>
            <a target="right" href="statbits.php?act=STATBITS&p0={{ sbas_id }}">
              <img src="/skins/icons/miniadjust02.gif"/>
              <span>{% trans 'admin::status: reglage des status' %}</span>
            </a>
          </li>
          <li>
            <a target="right" href="cgus.php?p0={{ sbas_id }}">
              <span>{% trans 'admin:: CGUs' %}</span>
            </a>
          </li>
          <li>
            <a target="right" href="collorder.php?p0={{ sbas_id }}">
              <img src="/skins/icons/miniadjust03.gif"/>
              <span>{% trans 'admin::collection: ordre des collections' %}</span>
            </a>
          </li>
        {% endif %}

        {% set seeUsrGene = false %}

        {% for coll in databox.get_collections() %}
          {% if user.ACL.has_right_on_base( coll.get_base_id() , 'canadmin') %}
            {% set seeUsrGene = true %}
          {% endif %}
        {% endfor %}

        {% if seeUsrGene %}
          <li>
            <a target="right" href="/admin/users/search/?sbas_id[]={{ sbas_id }}" class="ajax">
              <img src="/skins/admin/Users.png"/>
              <span>{% trans 'admin::utilisateurs: utilisateurs' %}</span>
            </a>
          </li>
        {% endif %}

        {% for collection in databox.get_collections() %}
          {% if (collection.get_base_id() in user.ACL.get_granted_base(['canadmin'])|keys
              or collection.get_base_id() in user.ACL.get_granted_base(['manage'])|keys
              or collection.get_base_id() in user.ACL.get_granted_base(['modify_struct'])|keys) %}

          <li>
            <div style="padding:0 0 2px 0;">
              <a target="right" href="collection.php?act=COLLECTION&p0={{ sbas_id }}&p1={{ collection.get_base_id() }}">
                <span>{{ collection.get_name() }}</span>
              </a>
            </div>
            <ul>

            {% if (user.ACL.has_right_on_base(collection.get_base_id(), 'modify_struct')) %}
              <li>
                <a target="right" href="sugval.php?p0={{ sbas_id }}&p1={{ collection.get_base_id() }}">
                  <img src="/skins/icons/foldph20open_0.gif"/>
                  <span>{% trans 'admin::base: preferences de collection' %}</span>
                </a>
              </li>
            {% endif %}

            {% if (user.ACL.has_right_on_base( collection.get_base_id(), 'canadmin')) %}
              {% if (user.ACL.has_right_on_base( collection.get_base_id(), 'canmodifrecord')
                 and user.ACL.has_right_on_base( collection.get_base_id(), 'manage')
                 and user.ACL.has_right_on_sbas( sbas_id, 'bas_manage') ) %}
              <li>
                <a target="right" href="/admin/users/search/?base_id[]={{ collection.get_base_id() }}" class="ajax">
                  <img src="/skins/admin/Users.png"/>
                  <span>{% trans 'admin::utilisateurs: utilisateurs' %}</span>
                </a>
              </li>
              {% endif %}
            {% endif %}

            </ul>
          </li>

          {% endif %}
        {% endfor %}

        </ul>
      </li>
    {% endfor %}

    </ul>
  </li>

  {% for databox in off_databoxes %}
  <li>
    <img src="/skins/icons/db-remove.png"/>
    ' . $row["dbname"] . '(' . $row["host"] . ':' . $row["port"] . ')
  </li>
  {% endfor %}
</ul>
