
{% if parents.get_count() > 0 %}
<ul>
  <li class="title">{{ 'Apparait aussi dans ces reportages' | trans }}</li>
  {% for par in parents %}
    <li data-kind="REG"
        data-position="0"
        data-id="{{par.get_serialize_key()}}"
        data-reload="true"
        class="otherRegToolTip to-open-preview-action" {% if app['conf'].get(['registry', 'classic', 'stories-preview']) %}tooltipsrc="{{ path('prod_tooltip_caption', { 'sbas_id' : par.get_sbas_id(), 'record_id' : par.get_record_id(), 'context' : 'basket' }) }}" {% endif %}>

        {% if par.get_thumbnail().is_physically_present() %}
          <img src="{{par.get_thumbnail().get_url()}}" style="width:25px;height:25px;"/>
        {% else %}
            <i class="icomoon icon-stack story"></i>
        {% endif %}

      <span class="title" title="{{ par.get_title() }}"> {{ par.get_title() }} </span>
    </li>
  {% endfor %}
  </ul>
{% endif %}

{% if baskets|length > 0 %}
<ul>
  <li class="title">{{ 'Apparait aussi dans ces paniers' | trans }}</li>
{% for basket in baskets %}
  <li data-kind="BASK"
      data-position="0"
      data-id="{{basket.getId()}}"
      data-reload="true"
      class="otherBaskToolTip to-open-preview-action" title="{{basket.getDescription()}}">
    {#<img style="vertical-align:middle" src="/assets/common/images/icons/basket.png" width="16">#}


    {% if basket.getPusher() %}
      <i class="fa fa-gift push_rec" style="padding-left: 6px; padding-top: 3px; padding-bottom: 2px; margin-right: 0px;"></i>
    {% endif %}

    {# check if a shared basket#}
    {% if basket.getUser().getId() != app.getAuthenticatedUser().getId() and basket.isParticipant(app.getAuthenticatedUser()) %}
      {% if basket.isVoteBasket() %}
          <i class="fa fa-comment vote_rec"></i>
      {% else %}
          <i class="fa fa-users share_rec" style=""></i>
      {% endif %}
    {% elseif basket.getUser().getId() == app.getAuthenticatedUser().getId() and basket.getParticipants | length > 0 %}
        {% if basket.isVoteBasket() %}
            <i class="fa fa-bullhorn vote_sent"></i>
        {% else %}
            <i class="fa fa-share share_sent"></i>
        {% endif %}
    {% else %}
        <i class="icomoon icon-stackoverflow basket"></i>
    {% endif %}

    <span class="title">{{basket.getName()}}</span>
  </li>
{% endfor %}
</ul>
{% endif %}
