{% import 'common/macros.html.twig' as macro %}

  {% if app['acl'].get(app['authentication'].getUser()).has_right_on_base(record.get_base_id, 'canmodifrecord') %}
    <div class="edit_button" style="text-align:right">
      <a href="#" onclick="editThis('IMGT','{{record.get_serialize_key()}}');">
        <img style="vertical-align:middle" src="/skins/prod/000000/images/ppen_history.png" width="16"/>
        {{ 'action : editer' | trans }}
      </a>
    </div>
  {% endif %}
  <div style="text-align:center;">
    {% for flag in record_flags(record) %}
      <img src="{{ flag.path }}" title="{{ attribute(flag.labels, app.locale) }}" />
    {% endfor %}
  </div>
  {% set business =  app['acl'].get(app['authentication'].getUser()).has_right_on_base(record.get_base_id(), 'canmodifrecord') %}
  {% if record.is_from_reg()  %}
    {{macro.format_caption(record, '', null, null, business, false, true)}}
  {% else %}
    {{macro.format_caption(record, null, null, business, false, true)}}
  {% endif %}
