{% import 'common/macros.html.twig' as macro %}

  {% set can_edit = granted_on_collection(record.baseId, constant('\\ACL::CANMODIFRECORD')) %}
  {% set can_see_business = can_edit %}

  {% if can_edit %}
    <div class="edit_button" style="text-align:right">
        <a href="#" onclick="editThis('IMGT','{{ record.get_serialize_key }}');">
        <img style="vertical-align:middle" src="/assets/common/images/icons/ppen_history.png" width="16" class="btn-image"/>
        {{ 'action : editer' | trans }}
      </a>
    </div>
  {% endif %}
  <div style="text-align:center;">
    {% for flag in record_flags(record) %}
      <img src="{{ flag.path }}" title="{{ attribute(flag.labels, app.locale) }}" />
    {% endfor %}
  </div>

  {% if record.is_from_reg()  %}
    {{macro.caption(record, can_see_business)}}
  {% else %}
    {{macro.caption(record, can_see_business)}}
  {% endif %}
