{% extends "common/index_bootstrap.html.twig" %}

{% block stylesheet %}
    <link type="text/css" rel="stylesheet" href="/assets/report/css/report{% if not app.debug %}.min{% endif %}.css?v={{ assetFileVersion }}" media="screen">
{% endblock stylesheet %}

{% block icon %}
    <link rel="shortcut icon" type="image/x-icon" href="/assets/report/images/favicon.ico" />
{% endblock  icon%}

{% block javascript %}
    <script type="text/javascript" src="/assets/vendors/jquery-ui/jquery-ui{% if not app.debug %}.min{% endif %}.js"></script>
    <script type="text/javascript">
        $.widget.bridge('uitooltip', $.ui.tooltip);
    </script>
    <script type="text/javascript" >

            var usrId = '{{ app.getAuthenticator().user.getId }}' ;

            var language = {
                valider : '{{ "boutton::valider" | trans }}',
                choix_collection : '{{ "veuillez choisir au minimum une collection" | trans }}',
                annuler : '{{ "boutton::annuler" | trans }}',
                fermer : '{{ "boutton::fermer" | trans }}',
                connexion : '{{ "report:: Connexion" | trans }}',
                heure : '{{ "report::Heures" | trans }}'
            };

            var dashboard ={
                title_connexion : '{{ "report::Nombre de connexions" | trans }}',
                title_jour : '{{ "report:: jour" | trans }}',
                title_heure : '{{ "report:: Heures" | trans }}',
                title_doc_add: '{{ "report::Nombre de document ajoute" | trans }}',
                title_doc_edit:'{{ "report::Nombre de document edite" | trans }}'
            }

    </script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="/assets/common/js/common{% if not app.debug %}.min{% endif %}.js?v={{ assetFileVersion }}"></script>
    <script type="text/javascript" src="/assets/report/js/report{% if not app.debug %}.min{% endif %}.js?v={{ assetFileVersion }}"></script>

{% endblock javascript%}

{% block content %}
    {% block report_layout %}{% endblock report_layout %}
    <div id="DIALOG" style="color:white;"></div>
{% endblock content %}

