{% block colFilter %}
    <form>
        <fieldset>
            <select name='filtre'>
                <option value="{{ field }}">{{ "report:: Enlever le filtre" | trans }}</option>
                {% for value in result %}
                    <option value="{{ value.value }}">
                    {% if value.val == "" %}
                        {{ "report:: non-renseigne" | trans }}
                    {% else %}
                        {{ value.val }}
                    {% endif %}
                    </option>
                {% else %}
                    <option value="">{{ "report:: non-renseigne" | trans }}</option>
                {%endfor %}
            </select>
        </fieldset>
    </form>
{% endblock %}
