
{% block form_date_and_base %}
    <div class="form1">
        <div class="form_titre">{% trans "report:: 1 - Periode" %}</div>
        <div class="control-group">
            <label for="dmin">{% trans "report:: Du (date)" %}</label>
            <div class="controls" style="display:inline-block">
                <input class= "dmin" name="dmin" type="text" value="{{ dashboard.dmin}}" size="10" style='width:100px'/>
            </div>
        </div>
        <div class="control-group">
             <label for="dmax">{% trans "report:: Au (date)" %}</label>
            <div class="controls" style="display:inline-block">
                <input class="dmax" name="dmax" type="text" value="{{dashboard.dmax}}" size="10" style='width:100px'/>
            </div>
        </div>
    </div>
 {% set all_coll = dashboard.getAllColl() %}
    <div class="form2">
        <div class="form_titre">{% trans "report:: 2 - Bases" %}</div>
        <div id="select_one">
            <ul class="multiselect" style="max-height: 150px; overflow-y: auto; overflow-x: hidden;">
                <li>
                    <a href="javascript:void(0);" class="select-all">
                        {% trans %}Select all{% endtrans %}
                    </a>
                    <a href="javascript:void(0);" class="deselect-all">
                        {% trans %}Deselect all{% endtrans %}
                    </a>
                </li>
                {% for the_base_coll in all_coll %}
                    <li><label data-group-id="{{ loop.index }}" class="multiselect-group"><b>{{ the_base_coll.name_sbas }}</b></label></li>
                    {% for a_coll in the_base_coll.sbas_collections %}
                        <li>
                            <a href="javascript:void(0);">
                                <label class="checkbox">
                                    <input name="popbases[]" checked="checked" type="checkbox" class="coll-checkbox checkbox-{{ loop.parent.loop.index }}" value="{{ a_coll.sbas_id}}_{{ a_coll.coll_id }}">
                                    {{ a_coll.name }}
                                </label>
                            </a>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock form_date_and_base %}



