{% block form_date_and_base %}
    <div class="form1 span2">
        <div class="form_titre">{{ "report:: 1 - Periode" | trans }}</div>
        <div class="control-group">
            <label for="dmin">{{ "report:: Du (date)" | trans }}</label>
            <div class="controls" style="display:inline-block">
                <input class= "dmin" name="dmin" type="text" value="{{ "-1 month"|date("Y-m-d") }}" size="10" style='width:100px'/>
            </div>
        </div>
        <div class="control-group">
             <label for="dmax">{{ "report:: Au (date)" | trans }}</label>
            <div class="controls" style="display:inline-block">
                <input class="dmax" name="dmax" type="text" value="{{ "now"|date("Y-m-d") }}" size="10" style='width:100px'/>
            </div>
        </div>
    </div>
    <div class="form2 span3">
        <div class="form_titre">{{ "report:: 2 - Base" | trans }}</div>
        <div class="select_one">
            <ul style="max-height: 150px; overflow-y: auto; overflow-x: hidden;">
                {% for sbas_id,databox in granted_bases %}
                <li>
                    <label class="radio">
                        <input type="radio" name="sbas" class="sbas-radio" data-sbasid="{{ sbas_id }}" data-action="{{ path(route, {'sbasId': sbas_id}) }}">
                        {{ databox.name }}
                    </label>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="form2 span3">
        {% if displayCollections == true %}
        <div class="form_titre">
            {{ "report:: 3 - Collections" | trans }}
        </div>
        {% for sbas_id,databox in granted_bases %}
        <div class="collist collist-{{ sbas_id }}">
            <button class="select-all btn btn-mini" data-target_selector="#chkcol-{{ tab }}-{{ sbas_id }} input:checkbox">
                {% trans %}Select all{% endtrans %}
            </button>
            <button class="unselect-all btn btn-mini" data-target_selector="#chkcol-{{ tab }}-{{ sbas_id }} input:checkbox">
                {% trans %}Deselect all{% endtrans %}
            </button>

            <ul id="chkcol-{{ tab }}-{{ sbas_id }}" style="max-height: 150px; overflow-y: auto; overflow-x: hidden;">
                {% for collection in databox.collections %}
                <li>
                    <label class="checkbox">
                        <input name="base[]" checked="checked" type="checkbox" value="{{ collection.base_id }}">
                        {{ collection.name }}
                    </label>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
        {% endif %}
    </div>
{% endblock form_date_and_base %}



