
{% block form_date_and_base %}
    <div class="form1">
        <div class="form_titre">{{ "report:: 1 - Periode" | trans }}</div>
        <div class="control-group">
            <label for="dmin">{{ "report:: Du (date)" | trans }}</label>
            <div class="controls" style="display:inline-block">
                <input class= "dmin" name="dmin" type="text" value="{{ "-1 month"|date("Y-m-d") }}" size="10" style='width:100px'/>
            </div>
        </div>
        <div class="control-group">
             <label for="dmax">{{ "report:: Au (date)" | trans }}</label>
            <div class="controls" style="display:inline-block">
                <input class="dmax" name="dmax" type="text" value="{{ "now"|date("Y-m-d") }}" size="10" style='width:100px'/>
            </div>
        </div>
    </div>
    <div class="form2">
        <div class="form_titre">{{ "report:: 2 - Bases" | trans }}</div>
        <div id="select_one">
            <ul class="multiselect" style="max-height: 150px; overflow-y: auto; overflow-x: hidden;">
                <li style="visibility: hidden">
                    <a href="javascript:void(0);" class="select-all">
                        {% trans %}Select all{% endtrans %}
                    </a>
                    <a href="javascript:void(0);" class="deselect-all">
                        {% trans %}Deselect all{% endtrans %}
                    </a>
                </li>
                {% for sbas_id,databox in granted_bases %}
                    <li><label data-group-id="{{ loop.index }}" class="multiselect-group"><b>{{ databox.name }}</b></label></li>
                    {% for collection in databox.collections %}
                        <li style="visibility: hidden">
                            <a href="javascript:void(0);">
                                <label class="checkbox">
                                    <input name="popbases[]" checked="checked" type="checkbox" class="coll-checkbox checkbox-{{ loop.parent.loop.index }}" value="{{ sbas_id }}_{{ collection.id }}">
                                    {{ collection.name }}
                                </label>
                            </a>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock form_date_and_base %}



