{% extends "report/report_layout.html.twig" %}

{% block report_dashboard_layout %}
    <div id="dash" class="inside-container">
        <div class="answers container-fluid">
            <div class="content">
                <div class="row-fluid">
                    <div class="well-large well" style="background: #313131;margin-top:20px;border:none;">
                        <form id="dashboard-form" class="form-inline" method="GET" action="{{ path("report_dashboard") }}">
                            <label for="dminDash" style="color:#eee">{{ "from"|trans|title }}</label>
                            <div class="input-prepend">
                                <span class="add-on"><i class="icon icon-calendar"></i></span>
                                <input id="dminDash" name="dmin" style="font-size: 14px;width:220px;" size="10" type="text" placeholder="{{ "from"|trans }}" value="{{ "-1 month"|date("Y-m-d") }}">
                            </div>
                            <label for="dmaxDash" style="color:#eee">{{ "to"|trans|title }}</label>
                            <div class="input-prepend">
                                to
                                <span class="add-on"><i class="icon icon-calendar"></i></span>
                                <input id="dmaxDash" name="dmax" style="font-size: 14px;width:220px;" size="10" type="text" placeholder="{{ "to"|trans }}" value="{{ "now"|date("Y-m-d") }}">
                            </div>
                            <button class="btn submit-dashboard" type="button">{{ "Generate" | trans }}</button>
                        </form>
                        <div>
                            <span class="text-info" style="font-style: italic">
                                <i class="icon icon-warning-sign"></i>
                                {{
                                    "Report generation may take a long time to generate, depending on the number of collections and the period selected." | trans
                                }}
                            </span>
                        </div>
                    </div>
                </div>
                <div id='dashboard' class="well well-large text-center" style="background-color:#696969;border:none;">
                    <button class="btn btn-primary submit-dashboard" style="
                        padding: 18px 28px;
                        font-size: 22px; //change this to your desired size
                        line-height: normal;
                        -webkit-border-radius: 8px;
                           -moz-border-radius: 8px;
                                border-radius: 8px;"
                    >
                        {{ "Generate dashboard" | trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock report_dashboard_layout %}

{% block report_connexion_layout %}
    <div id="report-connexions" class="inside-container">
        <form class="form clearfix" >
            {% include "report/form_date_and_base.html.twig" %}
            {% block form_connexion %}
                <div class="form3">
                    <div class="form_titre">{% trans "report:: 3 - Type de report" %} </div>
                    {% if not anonymous %}
                        <div>
                            <input name="tbl" type="radio" value="CNXU" data-action="{{ path('report_activity_users_connexions') }}" id="CNXU-input" class="formsubmiter" />
                            <label for="CNXU-input">{% trans "report:: (connexions) Par utilisateurs" %}</label>
                        </div>
                    {% else %}
                        <div>
                            <input name="tbl" type="radio" value="CNXU" data-action="{{ path('report_activity_users_connexions') }}" id="CNXU-input" class="formsubmiter" />
                            <label for="CNXU-input">{% trans "report:: Grouper par" %}</label>
                            <select class="options" style="display:inline;display:none;" id="list-select" name="on" >
                                <option selected ="selected" value="fonction" class="formsubmiter">{% trans "report:: fonction" %}</option>
                                <option value="societe" class="formsubmiter">{% trans "report:: societe" %}</option>
                                <option value="activite" class="formsubmiter">{% trans "report:: activite" %}</option>
                                <option value="pays" class="formsubmiter">{% trans "report:: pays" %}</option>
                            </select>
                        </div>
                    {% endif %}
                    <div>
                        <input name="tbl" type="radio" value="CNX" data-action="{{ path('report_connexions') }}" id="CNX-input" class="formsubmiter" />
                        <label for="CNX-input">{% trans "report:: (connexions) Globales" %}</label>
                    </div>
                    <div>
                        <input name="tbl" type="radio" value="CNXB" data-action="{{ path('report_clients') }}" id="CNXB-input" class="formsubmiter" />
                        <label for="CNXB-input">{% trans "report:: (connexions) OS et navigateurs" %}</label>
                    </div>
                </div>
            {% endblock form_connexion %}
        </form>
        {% include "report/panel_hide_button.html.twig" %}
        <div class="answers">
            <div class="content">
                {% if ajax %}
                    {% include "report/ajax_report_content.html.twig" %}
                {%endif%}
            </div>
        </div>
    </div>
{% endblock report_connexion_layout %}

{% block report_telechargement_layout %}
    <div id="report-telechargement" class="inside-container">
        <form class="form"  >
            {% include "report/form_date_and_base.html.twig" %}
            {% block form_telechargement %}
                <div  class="form3">
                    <div class="form_titre">{%trans "report:: 3 - Type de report" %}</div>
                    {% if anonymous %}
                        <div>
                            <input name="tbl" type="radio" value="USR" data-action="{{ path('report_activity_users_downloads') }}" id="USR-dl" class="formsubmiter" />
                            <label for="USR-dl">{% trans "report:: Grouper par" %}</label>
                            <select class="options" style="display:inline;display:none;" id="list-select2" name="on" >
                                <option selected ="selected" value="fonction" class="formsubmiter">{% trans "report:: fonction" %}</option>
                                <option value="societe" class="formsubmiter">{% trans "report:: societe" %}</option>
                                <option value="activite" class="formsubmiter">{% trans  "report:: activite" %}</option>
                                <option value="pays" class="formsubmiter">{% trans "report:: pays" %}</option>
                            </select>
                        </div>
                    {% else %}
                        <div>
                            <input name="tbl" type="radio" value="USR" data-action="{{ path('report_activity_users_downloads') }}" id="USR-input" class="formsubmiter" />
                            <label for="USR-input">{% trans "report:: par utilisateurs" %}</label>
                        </div>
                    {% endif %}
                    <div>
                        <input name="tbl" type="radio" value="GEN" data-action="{{ path('report_downloads') }}" id="GEN-input" class="formsubmiter" />
                        <label for="GEN-input">{% trans "report:: (telechargement) Global" %}</label>
                    </div>
                    <div>
                        <input name="tbl" type="radio" value="DAY" data-action="{{ path('report_activity_instance_days') }}" id="DAY-input" class="formsubmiter" />
                        <label for="DAY-input">{% trans "report:: (telechargement) Par jours base par base" %}</label>
                    </div>
                    <div>
                        <input name="tbl" type="radio" value="DOC" data-action="{{ path('report_documents') }}" id="DOC-input" class="formsubmiter" />
                        <label for="DOC-input">{% trans "report:: (telechargement) Par documents sur la base" %}</label>
                        <select class="options" id="precise" name="precise" style="display:none;">
                            <option value="0">{% trans "report::aucune precision" %}</option>
                            <option value="1">{% trans "report::la description contient" %}</option>
                            <option value="2">{% trans "report:: recordid" %}</option>
                        </select>
                        <input name="preciseWord" type="text" value="" class="options entersubmiter" />
                    </div>
                </div>
            {% endblock form_telechargement %}
        </form>
        {% include "report/panel_hide_button.html.twig" %}
        <div class="answers">
            <div class="content">
                {% if ajax %}
                    {% include "report/ajax_report_content.html.twig" %}
                {%endif%}
            </div>
        </div>
    </div>
{% endblock report_telechargement_layout %}

{% block report_activite_layout %}
    <div id="report-activite" class="inside-container">
        <form class="form"  >
            {% include "report/form_date_and_base.html.twig" %}
            {% block form_activite %}
                <div class="form3">
                    <div class="form_titre">{% trans "report:: 3 - Type de report" %} </div>
                    {% if anonymous %}
                        <input name="on" type="hidden" value="" checked="checked"/>
                    {% endif %}
                    <div>
                        <input name="tbl" type="radio" value="ASK" data-action="{{ path('report_questions') }}" id="ASK-input" class="formsubmiter" />
                        <label for="ASK-input">{% trans "report:: toutes les questions" %}</label>
                    </div>
                    <div>
                        <input name="tbl" type="radio" value="BESTOF" data-action="{{ path('report_activity_questions_bestof') }}" id="BESTOF-input" class="formsubmiter" />
                        <label for="BESTOF-input">{% trans "report:: Les questions les plus posees" %}</label>
                    </div>
                    <div>
                        <input name="tbl" type="radio" value="NOBESTOF" data-action="{{ path('report_activity_questions_nobestof') }}" id="NOBESTOF-input" class="formsubmiter" />
                        <label for="NOBESTOF-input">{% trans "report:: questions sans reponses" %}</label>
                    </div>
                    <div>
                        <input name="tbl" type="radio" value="SITEACTIVITY" data-action="{{ path('report_activity_instance_hours') }}" id="SITEACTIVITY-input" class="formsubmiter" />
                        <label for="SITEACTIVITY-input">{% trans "report:: activite du site" %}</label>
                    </div>
                    <div>
                        <input name="tbl" type="radio" value="WDOC" data-action="{{ path('report_activity_documents_pushed') }}" id="WDOC" class="formsubmiter" />
                        <label for="WDOC">{% trans "report:: document" %}</label>
                        <select class="options formsubmiter" style="display:inline;display:none;" id="list-select3" name="docwhat" >
                            <option selected ="selected" value="PUSHDOC" data-action="{{ path('report_activity_documents_pushed') }}" >{% trans "report:: pushe" %}</option>
                            <option value="ADDDOC" data-action="{{ path('report_activity_documents_added') }}" >{% trans "report:: ajoute" %}</option>
                            <option value="EDIDOC" data-action="{{ path('report_activity_documents_edited') }}" >{% trans "report:: edite" %}</option>
                            <option value="VALIDOC" data-action="{{ path('report_activity_documents_validated') }}" >{% trans "report:: valide" %}</option>
                            <option value="SENTDOC" data-action="{{ path('report_activity_documents_sent') }}" >{% trans "Sent" %}</option>
                        </select>
                    </div>
                </div>
            {% endblock  form_activite %}
        </form>
        {% include "report/panel_hide_button.html.twig" %}
        <div class="answers">
            <div class="content">
                {% if ajax %}
                    {% include "report/ajax_report_content.html.twig" %}
                {%endif%}
            </div>
        </div>
    </div>
{% endblock report_activite_layout %}
