{% extends "report/all_content.twig" %}

{%block dashboard_content %}	
	{% block draw_activity_hour %}{% endblock %}
	{% block draw_activity_day_all_base %}{% endblock %}
	<div id="chartdetail">
		{% block select %}{%endblock %}
		{% block draw_activity_day %}{% endblock %}
	</div>
	{% block draw_activity_added %}{% endblock %}
	{% block draw_activity_edited %}{% endblock %}
	<div class ="center" style="width:820px;">
		<div id='currentDashboard'>
			<div class="clearLeft">
				{% block connexions_downloads_table %}{% endblock %}
			</div>
			{% if not anonymous %}
				<div class="clearLeft">
						{% block top_ten_nb_docs %}{% endblock %}
						{% block top_ten_nb_prev %}{% endblock %}
				</div>
			{% endif %}
			<div class="clearLeft">
				{% block top_ten_asked_question %}{% endblock %}
				{% block top_ten_user_question %}{% endblock %}
			</div>
			<div class="clearLeft">	
			{% block top_ten_dl_doc %}{% endblock %}
			{% if not anonymous %}
				{% block top_ten_weight_doc %}{% endblock %}
			{% endif %}
			</div>
			<div class="clearLeft">
					{% block top_ten_dl_prev %}{% endblock %}
				{% if not anonymous %}
					{% block top_ten_weight_prev %}{% endblock %}
				{% endif %}
			</div>
			<div class="clearLeft">
				{% block top_ten_site %}{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}

{% block form_date_and_base %}
	<div class="form1">
			<div class="form_titre">{% trans "report:: 1 - Periode" %}</div>
			<div>
				<label for="dmin">{% trans "report:: Du (date)" %}</label>
				<input class= "dmin" name="dmin" type="text" value="{{ dashboard_array.dmin}}" size="10" />
			</div>
			<div>
				<label for="dmax">{% trans "report:: Au (date)" %}</label>
				<input class="dmax" name="dmax" type="text" value="{{dashboard_array.dmax}}" size="10" />
			</div>
		</div>
		<div class="form2">
			<div class="form_titre">{% trans "report:: 2 - Bases" %}</div>
			<div id="select_one">
			{% block base_selector %}
				<select name="popbases[]" class="multiselect" multiple="multiple" id="popbases">
				{% for the_base_coll in all_coll %}
				    <optgroup label="{{ the_base_coll.name_sbas }}">
				 	{% for a_coll in the_base_coll.sbas_collections %}
				 		<option value="{{ a_coll.sbas_id}}_{{ a_coll.coll_id }}">{{ a_coll.name }}</option>
				   	{% endfor %}
				   	</optgroup>
				{% endfor %}
				</select>
			{% endblock %}
			</div>
		</div>
{% endblock %}

{% block main_form_connexion %}
<div class="form3">
	<div class="form_titre">{% trans "report:: 3 - Type de report" %} </div>
	{% if not anonymous %}
		<div>
			<input name="tbl" type="radio" value="CNXU" id="CNXU-input" class="formsubmiter" /> 
			<label for="CNXU-input">{% trans "report:: (connexions) Par utilisateurs" %}</label>
		</div>
	{% else %}
		<div>
			<input name="tbl" type="radio" value="CNXU" id="CNXU-input" class="formsubmiter" /> 
			<label for="CNXU-input">{% trans "report:: Grouper par" %}</label>
			<select class="options" style="display:inline;display:none;" id="list-select" name="on" >
				<option selected ="selected" value="fonction" class="formsubmiter">{% trans "report:: fonction" %}</option>
				<option value="societe" class="formsubmiter">{% trans "report:: societe" %}</option>
				<option value="activite" class="formsubmiter">{% trans "report:: activite" %}</option>
				<option value="pays" class="formsubmiter">{% trans "report:: pays" %}</option>
			</select>
		</div>
	{% endif %}
	<div>
		<input name="tbl" type="radio" value="CNX" id="CNX-input" class="formsubmiter" /> 
		<label for="CNX-input">{% trans "report:: (connexions) Globales" %}</label>
	</div>
	<div>
		<input name="tbl" type="radio" value="CNXB" id="CNXB-input" class="formsubmiter" /> 
		<label for="CNXB-input">{% trans "report:: (connexions) OS et navigateurs" %}</label>
	</div>
</div>
{% endblock %}

{% block main_form_telechargement %}
<div  class="form3">
	<div class="form_titre">{%trans "report:: 3 - Type de report" %}</div>
	{% if anonymous %}
		<div>
			<input name="tbl" type="radio" value="USR" id="USR-dl" class="formsubmiter" /> 
			<label for="USR-dl">{% trans "report:: Grouper par" %}</label>
			<select class="options" style="display:inline;display:none;" id="list-select2" name="on" >
				<option selected ="selected" value="fonction" class="formsubmiter">{% trans "report:: fonction" %}</option>
				<option value="societe" class="formsubmiter">{% trans "report:: societe" %}</option>
				<option value="activite" class="formsubmiter">{% trans  "report:: activite" %}</option>
				<option value="pays" class="formsubmiter">{% trans "report:: pays" %}</option>
			</select>
		</div>
	{% else %}
		<div>
			<input name="tbl" type="radio" value="USR" id="USR-input" class="formsubmiter" /> 
			<label for="USR-input">{% trans "report:: par utilisateurs" %}</label>
		</div>
	{% endif %}
	<div>
		<input name="tbl" type="radio" value="GEN" id="GEN-input" class="formsubmiter" />
		<label for="GEN-input">{% trans "report:: (telechargement) Global" %}</label>
	</div>
	<div>
		<input name="tbl" type="radio" value="DAY" id="DAY-input" class="formsubmiter" />
		<label for="DAY-input">{% trans "report:: (telechargement) Par jours base par base" %}</label>
	</div>
	<div>
		<input name="tbl" type="radio" value="DOC" id="DOC-input" class="formsubmiter" /> 
		<label for="DOC-input">{% trans "report:: (telechargement) Par documents sur la base" %}</label>
		<select class="options" id="precise" name="precise" style="display:none;">
			<option value="0">{% trans "report::aucune precision" %}</option>			
			<option value="1">{% trans "report::la description contient" %}</option>			
			<option value="2">{% trans "report:: recordid" %}</option>											
		</select>
		<input name="preciseWord" type="text" value="" class="options entersubmiter" /> 
	</div>
</div>
{% endblock %}

{% block main_form_activite %}
<div class="form3">
	<div class="form_titre">{% trans "report:: 3 - Type de report" %} </div>
	{% if anonymous %}
		<input name="on" type="hidden" value="" checked="checked"/> 
	{% endif %}
	<div>
		<input name="tbl" type="radio" value="ASK" id="ASK-input" class="formsubmiter" /> 
		<label for="ASK-input">{% trans "report:: toutes les questions" %}</label>
	</div>
	<div>
		<input name="tbl" type="radio" value="BESTOF" id="BESTOF-input" class="formsubmiter" /> 
		<label for="BESTOF-input">{% trans "report:: Les questions les plus posees" %}</label>
	</div>
	<div>
		<input name="tbl" type="radio" value="NOBESTOF" id="NOBESTOF-input" class="formsubmiter" /> 
		<label for="NOBESTOF-input">{% trans "report:: questions sans reponses" %}</label>
	</div>
	<div>
		<input name="tbl" type="radio" value="SITEACTIVITY" id="SITEACTIVITY-input" class="formsubmiter" /> 
		<label for="SITEACTIVITY-input">{% trans "report:: activite du site" %}</label>
	</div>
	<div>
		<input name="tbl" type="radio" value="WDOC" id="WDOC" class="formsubmiter" /> 
		<label for="WDOC">{% trans "report:: document" %}</label>
		<select class="options" style="display:inline;display:none;" id="list-select3" name="docwhat" >
			<option selected ="selected" value="PUSHDOC" class="formsubmiter">{% trans "report:: pushe" %}</option>
			<option value="ADDDOC" class="formsubmiter">{% trans "report:: ajoute" %}</option>
			<option value="EDIDOC" class="formsubmiter">{% trans "report:: edite" %}</option>
		</select>
	</div>
</div>
{% endblock %}

