<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ app['locale'] }}"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="{{ app['locale'] }}"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="{{ app['locale'] }}"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="{{ app['locale'] }}" class="no-js "> <!--<![endif]-->
<html lang="{{ app['locale'] }}" style="overflow:hidden;">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if local_title is defined%}{{local_title}} | {% endif %}{{ app['conf'].get(['registry', 'general', 'title']) }} {% if module_name is defined %} - {{ module_name }} {% endif %}</title>
        {% block icon %}{% endblock %}

        {#<link type="text/css" rel="stylesheet" href="/assets/vendors/jquery-ui/css/{{ jquery_theme|default('ui-lightness') }}{% if not app.debug %}.min{% endif %}.css">#}
        <link type="text/css" rel="stylesheet" href="/assets/common/css/common{% if not app.debug %}.min{% endif %}.css?v={{ assetFileVersion }}">
        <link type="text/css" rel="stylesheet" href="/assets/vendors/jquery-datetimepicker/jquery-datetimepicker{% if not app.debug %}.min{% endif %}.css">

        {% block stylesheet %}{% endblock %}
        <!--[if lte IE 8]>
            <link type="text/css" rel="stylesheet" href="/assets/common/css/font-awesome-ie7.min.css">
            <script type="text/javascript" src="/assets/vendors/json2/json2{% if not app.debug %}.min{% endif %}.js"></script>
        <![endif]-->

        <script type="text/javascript" src="/assets/vendors/modernizr/modernizr{% if not app.debug %}.min{% endif %}.js"></script>
        <script type="text/javascript" src="/assets/vendors/jquery/jquery{% if not app.debug %}.min{% endif %}.js"></script>
        <script type="text/javascript" src="/assets/vendors/jquery-datetimepicker/jquery-datetimepicker{% if not app.debug %}.min{% endif %}.js"></script>
        <script type="text/javascript" src="/assets/common/js/common{% if not app.debug %}.min{% endif %}.js?v={{ assetFileVersion }}"></script>
        <script type="text/javascript" src="/assets/vendors/bootstrap/js/bootstrap{% if not app.debug %}.min{% endif %}.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        

        <script type="text/javascript">
            google.charts.load('42', {packages: ['corechart']});
        </script>
        <script type="text/javascript"
                src="/assets/vendors/underscore/underscore{% if not app.debug %}.min{% endif %}.js"></script>
        {% block rss %}{% endblock %}
        {% block javascript %}
            <script type="text/javascript" src="/assets/vendors/jquery-ui/jquery-ui.js"></script>
        {% endblock %}
    </head>
    <body class="PNB">
        <div id="mainContainer" class="PNB">
            {% include 'common/menubar.html.twig' %}
            <div class="PNB" id="mainContent" style="overflow: auto">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% block extra_content %}{% endblock %}
        {% block bodyJavascript %}{% endblock %}

        {% include 'common/analytics.html.twig' %}
        {% include 'common/matomo_analytics.html.twig' %}
        {% include 'common/axeptio.html.twig' %}
    </body>
</html>
