<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="{{ session.get_I18n }}">
  <head>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% if local_title is defined%}{{local_title}} | {% endif %}{{home_title}} - {{ module_name }} </title>
    <link type="text/css" rel="stylesheet" href="{{registry.get('GV_STATIC_URL')}}/skins/common/main.css">
    {% block stylesheet %}{% endblock %}
    {% block icon %}{% endblock %}
    {% block rss %}{% endblock %}
    {% block javascript %}{% endblock %}

  </head>
  <body class="PNB">
    <div id="mainContainer" class="PNB">
      {% include 'common/menubar.twig' %}
      <div class="PNB" style="top:30px;overflow-y:auto;overflow-x:auto;">
        <div class="PNB" id="mainContent" style="min-width:900px;">
                {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    {% include 'common/analytics.twig' %}
  </body>
</html>
