<!DOCTYPE html>
<html lang="{{ app['locale.I18n'] }}" style="overflow:hidden;">
    <head>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>{% if local_title is defined%}{{local_title}} | {% endif %}{{ app['phraseanet.registry'].get('GV_homeTitle') }} {% if module_name is defined %} - {{ module_name }} {% endif %}</title>

        <link type="text/css" rel="stylesheet" href="{{ path('minifier', { 'f' : 'include/jslibs/jquery-ui-1.10.3/css/'~ jquery_theme|default('ui-lightness') ~'/jquery-ui-1.10.3.custom.css' }) }}" />
        <link type="text/css" rel="stylesheet" href="{{ path('minifier', { 'f' : 'skins/build/bootstrap/css/bootstrap.css' }) }}" />
        <link type="text/css" rel="stylesheet" href="{{ path('minifier', { 'f' : 'skins/build/bootstrap/css/bootstrap-responsive.css' }) }}" />
        <link type="text/css" rel="stylesheet" href="{{ path('minifier', { 'f' : 'assets/font-awesome/css/font-awesome.css' }) }}" />
        <link type="text/css" rel="stylesheet" href="{{ path('minifier', { 'f' : 'skins/common/main.css' }) }}"/>

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="{{ path('minifier', { 'f' : 'assets/font-awesome/css/font-awesome-ie7.min.css' }) }}">
            <script type="text/javascript" src="{{ path('minifier', {'f' : 'assets/json2/json2.js'}) }}"></script>
        <![endif]-->

        <script type="text/javascript" src="{{ path('minifier', { 'f' : 'assets/jquery/jquery.js' }) }}"></script>
        <script type="text/javascript" src="{{ path('minifier', { 'f' : 'include/jslibs/jquery-ui-1.10.3.js' }) }}"></script>
        <script type="text/javascript">
            $.widget.bridge('uitooltip', $.ui.tooltip);
        </script>
        <script type="text/javascript" src="{{ path('minifier', { 'f' : 'skins/build/bootstrap/js/bootstrap.js' }) }}"></script>
        <script type="text/javascript">
            var btn = $.fn.button.noConflict(); // reverts $.fn.button to jqueryui btn
            $.fn.btn = btn; // assigns bootstrap button functionality to $.fn.btn
        </script>
        {% block stylesheet %}{% endblock %}
        {% block icon %}{% endblock %}
        {% block rss %}{% endblock %}
        {% block javascript %}{% endblock %}
    </head>
    <body class="PNB">
        <div id="mainContainer" class="PNB">
            {% include 'common/menubar.html.twig' %}
            <div class="PNB" id="mainContent" style="top:30px; min-width:900px; overflow-x:auto; overflow-y:auto;">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% block extra_content %}{% endblock %}
        {% include 'common/analytics.html.twig' %}
    </body>
</html>
