<!DOCTYPE html>
<html lang="{{ app['locale'] }}" prefix="og: http://ogp.me/ns#">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if local_title is defined%}{{local_title}} | {% endif %}{{ app['conf'].get(['registry', 'general', 'title']) }} - {{ module_name }} </title>
    <meta property="og:title" content="{% if local_title is defined%}{{local_title}} | {% endif %}{{ app['conf'].get(['registry', 'general', 'title']) }} - {{ module_name }}">
    <meta property="og:site_name" content="{{ app['conf'].get(['registry', 'general', 'title']) }}">
    <meta property="og:url" content="{{ app['request'].getUri }}">
    {% block rss %}{% endblock %}
    {% block stylesheet %}{% endblock %}
    {% block icon %}{% endblock %}
      {% block javascript %}
        <script type="text/javascript"
                src="/assets/vendors/jquery/jquery{% if not app.debug %}.min{% endif %}.js"></script>
        <script type="text/javascript"
                src="/assets/vendors/underscore/underscore{% if not app.debug %}.min{% endif %}.js"></script>
      {% endblock %}
  </head>
  <body>
    <div id="mainContainer">
      {% include 'common/menubar.html.twig' %}

        <div id="mainContent">
                {% block content %}{% endblock %}
        </div>
    </div>

    {% include 'common/analytics.html.twig' %}
    {% include 'common/matomo_analytics.html.twig' %}
    {% include 'common/axeptio.html.twig' %}
  </body>
</html>
