{% macro captcha() %}
    <div class="row-fluid">
        <div class="span12">
            {% set public_key = app["conf"].get(['registry', 'webservices', 'recaptcha-public-key']) %}
            <div class="g-recaptcha" data-theme="dark" data-sitekey="{{ public_key }}" style="margin-top:1rem;transform:scale(0.86);-webkit-transform:scale(0.86);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
        </div>
    </div>
{% endmacro %}

{% macro flashes() %}
    {% for type in app.getAvailableFlashTypes %}
        {% for message in app.getFlash(type) %}
            <div class="alert alert-{{ type }}">
                <table>
                    <tr>
                        <td class="alert-block-logo">
                            <i class="icon-2x icon-white icon-exclamation-sign"></i>
                        </td>
                        <td class="alert-block-content">{{ message }}</td>
                        <td class="alert-block-close">
                            <a href="#"><b>&times;</b></a>
                        </td>
                    </tr>
                </table>
            </div>
        {% endfor %}
    {% endfor %}
{% endmacro %}

{% macro caption_value(field, bounceable) %}
    {% autoescape false %}
    {% set terms = [] %}
    {% for data in field.values %}
        {% if data.from_thesaurus and bounceable %}
            {% set value = data.value|e|bounce(field.name, data.qjs, field.sbas_id) %}
        {% else %}
            {% set value = data.value|e %}
        {% endif %}
        {% set terms = [value]|merge(terms) %}
    {% endfor %}
    {{ terms|join(' ; ') }}
    {% endautoescape %}
{% endmacro %}

{% macro caption_field(field, bounceable, extra_classes) %}
    <div class="desc {{ extra_classes|join(' ') }}">
        <b>{{ field.label_name }}</b> :
        {{ _self.caption_value(field, bounceable|default(true))|highlight|linkify }}
    </div>
{% endmacro %}

{% macro format_caption(record, highlight, search_engine, include_business, bounceable, technical_data) %}
    {% for field in record.get_caption().get_highlight_fields(null, include_business) %}
        {% set extra_classes = ['pair'] %}
        {% if loop.index is odd %}
            {% set extra_classes = ['impair'] %}
        {% endif %}
        {{ _self.caption_field(field, bounceable|default(true), extra_classes) }}
    {% endfor %}
    {% if technical_data|default(true) and app.getAuthenticatedUser() is not none and app['settings'].getUserSetting(app.getAuthenticatedUser(), 'technical_display') == 'group' %}
        <hr/>
        {% include 'common/technical_datas.html.twig' %}
    {% endif %}
{% endmacro %}

{% macro caption(record, can_see_business, display_exif, limitedWidth = false) %}
    <dl class="{% if limitedWidth %}{% else %}dl-horizontal{% endif %}">
    {% for name, value in record.getCaption(caption_field_order(record, can_see_business)) %}
        <dt>{{ caption_field_label(record, name) }}</dt>
        <dd>{{ caption_field(record, name, value)|e|highlight }}</dd>
    {% endfor %}
    </dl>
    {% if display_exif|default(true) and app.getAuthenticator().user is not none and user_setting('technical_display') == 'group' %}
        <hr/>
        {% include 'common/technical_datas.html.twig' %}
    {% endif %}
{% endmacro %}
