{% macro format(record, url, thumb_w, thumb_h, box_w, box_h, extra_class, wrap, lazyload) %}
        {% set record_type = record.type %}
        {% set box_w = box_w|round %}
        {% set box_h = box_h|default(box_w)|round %}

        {% if record_type == 'AUDIO' %}
            {% set original_w = 320 %}
            {% set original_h = 60 %}

            {% set fit_size = {
              "width":original_w,
              "height":original_h,
              "top":0,
              "left": 0
            } %}
        {% elseif record_type == 'FLEXPAPER' %}
            {% set original_w = 800 %}
            {% set original_h = 600 %}

            {% set fit_size = {
              "width":800,
              "height":600,
              "top":0,
              "left": 0
            } %}
        {% else %}
            {% set original_h = thumb_h > 0 ? thumb_h : 120 %}
            {% set original_w =thumb_w > 0 ? thumb_w : 120 %}

            {% set fit_size = fitIn(
                {"width":original_w, "height":original_h},
                {"width":box_w, "height":box_h}
            )%}
        {% endif %}

        {% if wrap %}
        <div
            style="width:{{box_w}}px;height:{{box_h}}px;"
            class="thumb_wrapper {{extra_class|default('')}}"
        >
        {% endif %}

        {% if record_type == 'VIDEO_MP4' or record_type == 'VIDEO_FLV' %}
            {% import 'common/players/video.html.twig' as player %}
            {{ player.video_player(thumbnail, url, original_w, original_h, fit_size) }}
        {% elseif record_type == 'FLEXPAPER' %}
            {% import 'common/players/pdf.html.twig' as player %}
            {{ player.pdf_player(thumbnail, url, original_w, original_h, fit_size) }}
        {% elseif record_type == 'AUDIO_MP3' %}
            {% import 'common/players/audio.html.twig' as player %}
            {{ player.audio_player(thumbnail, url, original_w, original_h, fit_size) }}
        {% else %}
          <img class="{% if lazyload %}lazyload{% endif %} record record_image imgTips zoomable thumb" oncontextMenu="return(false);"
               style="width:{{fit_size.width}}px;height:{{fit_size.height}}px;top:{{fit_size.top}}px;"
               src="{% if lazyload %}/skins/grey.gif{% else %}{{ url }}{% endif %}" data-original="{{ url }}" ondragstart="return false;">
          <input type="hidden" name="width" value="{{original_w}}"/>
          <input type="hidden" name="height" value="{{original_h}}"/>
        {% endif %}

        {% if wrap %}
        </div>
        {% endif %}
{% endmacro %}
