{# designed to be printed in a small box #}
<div id="QuickAddUser" class="PNB10" callback="{{ callback }}">
    <form method="POST" action="{{ path('prod_push_do_add_user') }}">
        <table>
            <tr>
                <td>
                    <label for="">{{ 'First Name' | trans }} *</label>
                </td>
                <td>
                    <input name="firstname" type="text" value=""/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">{{ 'Last Name' | trans }} *</label>
                </td>
                <td>
                    <input name="lastname" type="text" value=""/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">{{ 'Email Name' | trans }} *</label>
                </td>
                <td>
                    <input name="email" type="text" value=""/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">{{ 'Job' | trans }}</label>
                </td>
                <td>
                    <input name="job" type="text" value=""/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">{{ 'Company' | trans }}</label>
                </td>
                <td>
                    <input name="company" type="text" value=""/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">{{ 'City' | trans }}</label>
                </td>
                <td>
                    <input name="city" type="text" value="" class="geoname_field"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button class="valid btn btn-inverse">{{ 'Add' | trans }}</button>
                    <button class="cancel btn btn-inverse">{{ 'Cancel' | trans }}</button>
                </td>
            </tr>
        </table>
    </form>
</div>

<script type="text/javascript">
        define([
            "jquery",
            "common/geonames"
        ], function (geonames) {
            $(document).ready(function() {
                geonames.init($('#QuickAddUser input.geoname_field'), {
                    "server": "{{ app['geonames.server-uri'] }}",
                    "limit": 40
                });

                $quickAddUser = $("#QuickAddUser");

                $("button", $quickAddUser).button();

                $("form", $quickAddUser).bind('submit', function() {
                    return false;
                });

                $("form button.cancel", $quickAddUser).bind('click', function() {
                    var dialog = $(this).closest('.ui-dialog-content');
                    if (dialog.data("ui-dialog")) {
                        dialog.dialog('destroy');
                    }

                    dialog.remove();

                    return false;
                });

                $("form button.valid", $quickAddUser).bind('click', function() {
                    var $form = $(this).closest('form');
                    var $this = $(this);

                    var callback = function() {
                        var dialog = $this.closest('.ui-dialog-content');
                        if (dialog.data("ui-dialog")) {
                            dialog.dialog('destroy').remove();
                        }
                    };

                    p4.Feedback.addUser($form, callback);

                    return false;
                });
            });
        });
    </script>
