{% macro element(wz_scope, container, contained, record, ord, user, session) %}
  {% set box_height = 110 %}
  {% if user.getPrefs('basket_title_display') == '1' %}
      {% set box_height = (box_height + 20) %}
  {% endif %}
  {% if user.getPrefs('basket_status_display') == '1' %}
      {% set box_height = (box_height + 20) %}
  {% endif %}

  {% import 'common/thumbnail.html' as thumbnail %}

  <div ondblclick="{% if wz_scope == 'groupings' %}openPreview('REG',{{ ord }},'{{container.get_base_id()}}_{{container.get_record_id()}}');{% else %}openPreview('BASK',{{ ord }},{{container.getId()}});{% endif %}"
       class="CHIM diapo CHIM_{{record.get_serialize_key()}}" style="height:{{box_height}}px;">
      {% if user.getPrefs('basket_title_display') == '1' %}
          <div class="title">
              {{record.get_title()}}
          </div>
      {% endif %}
      {% if user.getPrefs('basket_status_display') == '1' %}
          <div class="status" style="position:relative;height:20px;overflow-y:visible;z-index:15;">
              {{record.get_status_icons|raw}}
          </div>
      {% endif %}
          <div style="position:absolute;background-color:#959595;color:black;font-weight:bold;padding:3px;z-index:90;">
              {{record.get_number()}}
          </div>
    {{thumbnail.format(record.get_thumbnail,82,82, '', session, true)}}
      <div class="bottom">
          <a 
            {% if wz_scope == 'groupings' %}
              href="/prod/story/{{ container.get_sbas_id() }}/{{ container.get_record_id() }}/delete/{{ record.get_sbas_id() }}/{{ record.get_record_id() }}/" 
            {% else %}
              href="/prod/story/{{ container.getId() }}/delete/{{ contained.getId() }}/" 
            {% endif %}
            class="WorkZoneElementRemover {{ wz_scope }}" title="{% trans 'delete'%}" >
            X
          </a>
          {% if user.getPrefs('basket_caption_display') == '1' %}
              <div class="captionRolloverTips" tooltipsrc="/prod/tooltip/caption/{{record.get_sbas_id()}}/{{record.get_record_id()}}/basket/?number={{record.get_number()}}"></div>
          {% endif %}
      </div>
  </div>
{% endmacro %}