{% if totalItems == 0 %}
    {% set canDelete =  capabilitiesDelete %}
    {% set canEdit =  capabilitiesEdit %}
 {% else %}  {# can change on remote during loading assets #}
     {% set canDelete =  pubAssets[0].publication.capabilities.delete %}
     {% set canEdit =  pubAssets[0].publication.capabilities.edit %}
{% endif %}


{% if page == 1 %}
    <div class="expose_item_top" style="margin-top: 20px;">
        {% if canEdit %}
            <span class="green_button edit_expose" title="Edit" data-id="{{ publicationId }}">
                <i class="fa fa-edit"></i>
            </span>
        {% endif %}

        {% if pubAssets[0].publication.children|length == 0 %}
            {% if canDelete %}
                <button type="button" class="delete-publication btn-danger pull-right" data-publication-id="{{ publicationId }}" title="{{ 'prod:expose:publication:Delete' | trans }}" style="margin-left: 40px;">
                    <i class="fa fa-trash"></i>
                </button>
            {% endif %}
        {% else  %}
            <span>{{ 'prod:expose:publication:Parent Publication' | trans }}</span>
        {% endif %}

        <button class="btn-success refresh-publication pull-right" data-publication-id="{{ publicationId }}" title="{{ 'prod:expose:publication:Refresh Publication' | trans }}" style="margin-left: 40px;">
            <i class="fa fa-refresh" aria-hidden="true"></i>
        </button>

        <button class="btn-secondary order-assets pull-right" data-publication-id="{{ publicationId }}" style="margin-left: 5px;" disabled>
            {{ 'prod:expose:publication:Set order' | trans }}
        </button>
    </div>

    <div class="expose_item_bottom">
        <div class="expose_drag_drop">

            <input type="hidden" id="list_assets_page" value="1"/>

            <div style="margin-bottom: 10px;">
                <span class="item_numbers">{{ totalItems }} assets</span>
                <span class="pull-right" style="margin-right: 20px;">{{ 'prod:expose:publication:Info drag element and set order' | trans }}</span>
            </div>

            <div class="assets_list">

{% endif %}

{% for pubAsset in pubAssets %}
<div class="chim-wrapper" data-pub-asset-id="{{ pubAsset.id }}">
    <div class="chim-content">
        <div class="CHIM diapo">
            <div class="thumb_wrapper">
                <img
                        data-kind="image" oncontextMenu="return(false);"
                        src="{{ pubAsset.asset.thumbUrl|trim }}" data-original="{{ pubAsset.asset.thumbUrl|trim }}" ondragstart="return false;">
            </div>

            {% if canEdit %}
                <div class="set-cover" style="position: absolute;bottom: 0;cursor: pointer;" title="Set as Cover"
                     data-publication-id="{{ pubAsset.publication.id }}" data-asset-id="{{ pubAsset.asset.id }}">

                    <img src="/assets/common/images/icons/icon_story.gif" title="Set as Cover">
                </div>
            {% endif %}

            {% if canDelete %}
                <div class="bottom">
                    <a class="WorkZoneElementRemover removeAsset" data-asset-id="{{ pubAsset.asset.id }}" data-publication-id="{{ pubAsset.publication.id }}">
                        <i class="icomoon icon-circle  fa-stack-2x" aria-hidden="true"></i>
                        <i class="icomoon icon-round-close-24px   fa-stack-1x " aria-hidden="true"></i>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}

{% if page == 1 %}
            </div>
        </div>

        <div class="load_more_asset" data-publication-id="{{ publicationId }}">
            <div class="loading_more loading hidden" style="height:40px;"></div>
            <button type="button">
                {{ "Load More" | trans }}
            </button>
        </div>
    </div>
{% endif %}
