        <div class="expose-edit-wrapper">
            <div class="expose-edit-wrapper" style="margin-top: 100px">
                <br/>
                <br/>
                <br/>
                <br/>
                <form id="publication-data-form" >
                    <div class="edit-publication-block">
                        <div class="ui-widget">
                            <label>Name </label>
                            <input type="text" value="{{ publications.name }}" name="title" class="publication-field"/>
                        </div>
                        <div class="ui-widget">
                            <label>Slug: </label>
                            <input type="text" value="{{ publications.slug }}" name="slug" class=" slug publication-field"/><input type="button"
                                                                                                            class="blue_button edit_expose"
                                                                                                            value="check slug availability">
                        </div>
                        <div class="ui-widget">
                            <label>Parent publication </label>
                            <div id="publication-list-data" class="ui-widget publication_parent_wrapper ">
                                <select id="publication_parent" name="parentId" tabindex="-1" aria-hidden="true"
                                        class="publication-field">
                                    <option value="">Select a parent publication</option>
                                </select>
                            </div>
                        </div>
                        <div class="ui-widget profile-wrapper hide">
                            <label>Profile </label>
                            <select id="profile-field" name="profile" tabindex="-1" aria-hidden="true"
                                    class="publication-field">
                                <option value="">Select Profile</option>
                            </select>
                        </div>
                        <div class="ui-widget">
                            <label>Enabled </label>
                            <label class="switch">
                                <input id="enabled_combobox" type="checkbox" class="publication-field" name="enabled">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="ui-widget available-wrapper">
                            <label>Available (leave blank for permanent publication): </label>
                            <div class="available-widget">
                                <label>From </label>
                                <input type="text" value="{{ publications.config.beginsAt }}" name="beginsAt" class="use-datepicker publication-field"/>
                            </div>
                            <div class="available-widget">
                                <label>To </label>
                                <input type="text" value="{{ publications.config.expiresAt }}" name="expiresAt" class="use-datepicker publication-field"/>
                            </div>
                        </div>
                        <div class="ui-widget">
                            <label>Publicity listing </label>
                            <label class="switch">
                                <input id="publication_publiclyListed" type="checkbox" class="publication-field" name="publiclyListed">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="ui-widget access-wrapper available-wrapper">
                            <label>Access rules </label>
                            <div class="available-widget">
                                <select id="publication_securityMethod" name="securityMethod" tabindex="-1" aria-hidden="true"
                                        class="publication-field">
                                    <option value="">open access</option>
                                    <option value="password">password</option>
                                    <option value="authentication">users</option>
                                </select>
                            </div>
                            <div class="available-widget ui-widget securityOptions_wrapper visibility-hidden">
                                <input class="publication-field" type="text" name="password" placeholder="Password"
                                       id="publication_password"/>
                            </div>
                            <div class="available-widget ui-widget publication_securityMethod_error hidden"
                                 id="publication_securityMethod_error">
                                <p class="error form-error alert alert-error">Not implemented</p>
                            </div>
                        </div>
                        <div class="ui-widget">
                            <label>Layout </label>
                            <select id="publication_layout" name="layout" tabindex="-1" aria-hidden="true"
                                    class="publication-field">
                                <option value="{{ publications.layout }}" selected="selected">Select Layout</option>
                                <option value="gallery">Gallery</option>
                                <option value="mapbox">Mapbox</option>
                                <option value="download">Download</option>
                            </select>
                        </div>
                        <div class="ui-widget">
                            <label>Theme </label>
                            <select id="theme-field" name="theme" tabindex="-1" aria-hidden="true"
                                    class="publication-field">
                                <option value="" selected="selected">Select Theme</option>
                                <option value="light">Light</option>
                                <option value="dark">Dark</option>
                            </select>
                        </div>

                </form>

                <form name="publication-json" id="publication-json" class="text-center">
                    <div id="advancedSettingBlock">
                        <h3 class="toggleSetting">Advanced setting</h3>
                        <div id="advancedSettingInner" class="hidden">
                            <div>
                                    <textarea name="advancedSetting" id="advancedSetting" cols="100"
                                              rows="11"></textarea></div>

                        </div>
                    </div>
                    <div class="publication-btn-container submit-blockr">
                        <p class="text-center"><span id="pub-error" class="hidden alert alert-error"></span></p>
                        <p class="text-center"><span id="pub-success" class="hidden alert alert-success"></span></p>
                        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                            <div class="ui-dialog-buttonset">
                                <button type="button"
                                        class="close-expose-modal ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                                        role="button" aria-disabled="false"><span class="ui-button-text">Cancel</span>
                                </button>
                                <button type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" id="create-publication">
                                    Create publication {% if lst %} from {{ lst|split(';')|length }} selected {% endif %}
                                </button>

                            </div>
                        </div>
                    </div>

                </form>


            </div>


        </div>
    </div>
    <script type="text/javascript">
        $.datepicker.regional['default'] = {
            closeText: "Close",
            prevText: "{{ 'workzone:datepicker:prevText' | trans }}",
            nextText: "{{ 'workzone:datepicker:nextText' | trans }}",
            currentText: "Today",
            monthNames: ["{{ 'workzone:datepicker:january' | trans }}", "{{ 'workzone:datepicker:february' | trans }}", "{{ 'workzone:datepicker:march' | trans }}", "{{ 'workzone:datepicker:april' | trans }}", "{{ 'workzone:datepicker:may' | trans }}", "{{ 'workzone:datepicker:june' | trans }}",
                "{{ 'workzone:datepicker:july' | trans }}", "{{ 'workzone:datepicker:august' | trans }}", "{{ 'workzone:datepicker:september' | trans }}", "{{ 'workzone:datepicker:october' | trans }}", "{{ 'workzone:datepicker:november' | trans }}", "{{ 'workzone:datepicker:december' | trans }}"],
            dayNames: ["{{ 'workzone:datepicker:sunday' | trans }}", "{{ 'workzone:datepicker:monday' | trans }}", "{{ 'workzone:datepicker:tuesday' | trans }}", "{{ 'workzone:datepicker:wednesday' | trans }}", "{{ 'workzone:datepicker:thursday' | trans }}", "{{ 'workzone:datepicker:friday' | trans }}", "{{ 'workzone:datepicker:saturday' | trans }}"],
            dayNamesMin: ["D", "L", "M", "M", "J", "V", "S"],
            dateFormat: "d MM yy",
            altField: ".alternate",
            altFormat: "yy-mm-dd",
            minDate: 0

        };

        $(".use-datepicker").datepicker($.datepicker.regional['default']);
    </script>
