{% macro display_edit(app) %}
    <div id='DIALOG-expose-edit' style="display: none">

        <div class="expose-edit-wrapper">
            <form name="publication-data" id="publication-data-form-edit">
                <div class="edit-publication-block">
                    <div class="ui-widget">
                        <label>Name </label>
                        <input type="text" value="" name="title" class="publication-field"/>
                    </div>
                    <div class="ui-widget">
                        <label>Slug: </label>
                        <input type="text" value="" name="slug" class="publication-field"/><input type="button"
                                                                                                  class="blue_button edit_expose"
                                                                                                  value="check slug availability">
                    </div>
                    <div class="ui-widget">
                        <label>Parent publication </label>
                        <div id="publication-list-data-edit" class="ui-widget publication_parent_wrapper ">
                            <select id="publication_parent" name="parentId" tabindex="-1" aria-hidden="true"
                                    class="publication-field">
                                <option value="">Select a parent publication</option>
                            </select>
                        </div>
                    </div>
                    <div class="ui-widget profile-wrapper">
                        <label>Profile </label>
                        <select id="profile-field" name="profile" tabindex="-1" aria-hidden="true"
                                class="publication-field">
                            <option value="">Select Parent publication</option>
                        </select>
                    </div>
                    <div class="ui-widget">
                        <label>Enabled </label>
                        <label class="switch">
                            <input id="enabled-field" type="checkbox" class="publication-field" name="enabled">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="ui-widget available-wrapper">
                        <label>Available (leave blank for permanet publication): </label>
                        <div class="available-widget">
                            <label>From </label>
                            <input type="text" value="" name="from" class="use-datepicker publication-field"/>
                        </div>
                        <div class="available-widget">
                            <label>To </label>
                            <input type="text" value="" name="to" class="use-datepicker publication-field"/>
                        </div>
                    </div>
                    <div class="ui-widget">
                        <label>Publicity listing </label>
                        <label class="switch">
                            <input id="listing-field" type="checkbox" class="publication-field" name="listing">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="ui-widget access-wrapper">
                        <label>Access rules </label>
                        <select id="access-field" name="access" tabindex="-1" aria-hidden="true"
                                class="publication-field">
                            <option value="">open access</option>
                            <option value="password">password</option>
                            <option value="users">users</option>
                        </select>
                        <div class="ui-widget securityOptions_wrapper hidden">
                            <label>Password: </label><input class="publication-field" type="text" name="password"
                                                            id="publication_password"/>
                        </div>
                    </div>
                    <div class="ui-widget">
                        <label>Layout </label>
                        <select id="layout-field" name="layout" tabindex="-1" aria-hidden="true"
                                class="publication-field">
                            <option value="">Select Layout</option>
                        </select>
                    </div>
                    <div class="ui-widget">
                        <label>Theme </label>
                        <select id="theme-field" name="theme" tabindex="-1" aria-hidden="true"
                                class="publication-field">
                            <option value="">Select Theme</option>
                        </select>
                    </div>

                </div>
                <div class="submit-block">
                    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                        <div class="ui-dialog-buttonset">
                            <button type="button"
                                    class="close-expose-modal ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                                    role="button" aria-disabled="false"><span class="ui-button-text">Cancel</span>
                            </button>
                            <button type="button"
                                    class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                                    role="button" aria-disabled="false"><span class="ui-button-text">Validate</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>


        </div>
    </div>
    <script type="text/javascript">
        $.datepicker.regional['default'] = {
            closeText: "Close",
            prevText: "{{ 'workzone:datepicker:prevText' | trans }}",
            nextText: "{{ 'workzone:datepicker:nextText' | trans }}",
            currentText: "Today",
            monthNames: ["{{ 'workzone:datepicker:january' | trans }}", "{{ 'workzone:datepicker:february' | trans }}", "{{ 'workzone:datepicker:march' | trans }}", "{{ 'workzone:datepicker:april' | trans }}", "{{ 'workzone:datepicker:may' | trans }}", "{{ 'workzone:datepicker:june' | trans }}",
                "{{ 'workzone:datepicker:july' | trans }}", "{{ 'workzone:datepicker:august' | trans }}", "{{ 'workzone:datepicker:september' | trans }}", "{{ 'workzone:datepicker:october' | trans }}", "{{ 'workzone:datepicker:november' | trans }}", "{{ 'workzone:datepicker:december' | trans }}"],
            dayNames: ["{{ 'workzone:datepicker:sunday' | trans }}", "{{ 'workzone:datepicker:monday' | trans }}", "{{ 'workzone:datepicker:tuesday' | trans }}", "{{ 'workzone:datepicker:wednesday' | trans }}", "{{ 'workzone:datepicker:thursday' | trans }}", "{{ 'workzone:datepicker:friday' | trans }}", "{{ 'workzone:datepicker:saturday' | trans }}"],
            dayNamesMin: ["D", "L", "M", "M", "J", "V", "S"],
            dateFormat: "d MM yy",
            altField: ".alternate",
            altFormat: "yy-mm-dd",
            minDate: 0

        };

        $(".use-datepicker").datepicker($.datepicker.regional['default']);
    </script>
{% endmacro %}
