{% for publication in publications %}
    <div class="expose_basket_item basketTips ui-accordion-header ui-state-default
                    ui-corner-all header">
        <div class="top_block">
                    <div class="diapo">
                        {% for asset in publication.assets|slice(0, 1) %}
                        <img class="top_image" width="60" src="{{ asset.asset.url }}" />
                        {% endfor %}
                    </div>

                <p class="expose_item_title"><span>{{ publication.title }}</span><span class="exp_date"></span></p>

        </div>
        <div class="expose_item_deployed">
            <div class="expose_item_top"><h3>{{ publication.title }}</h3>
                <button type="button" class="green_button edit_expose"><span>Edit</span></button>
                <span>delete</span></div>
            <div class="expose_item_bottom">
                <span class="item_numbers">{{ publication.assets|length }}</span>
                <input type="button" class="green_button save_expose" value="save">
                <div id='expose_3' class="expose_drag_drop">
                    {% for asset in publication.assets %}
                        <div class="diapo">
                            <img src="{{ asset.asset.url }}">
                        </div>
                    {% endfor %}
                    Place to drop elt
                </div>
                <input type="button" class="load_more_expose" value="load More">
            </div>
        </div>
    </div>
{% endfor %}

