{% for publication in publications %}
    <div class="expose_basket_item publication-droppable basketTips ui-accordion-header ui-state-default
                    ui-corner-all header">
        <div class="top_block">
                    <div class="diapo">
                        {% for asset in publication.assets|slice(0, 1) %}
                        <img class="top_image" width="60" src="{{ asset.asset.url }}" />
                        {% endfor %}
                    </div>

                <a target="_blank" href="{{ publication.frontUrl }}" class="expose_item_title" style="color:#4990e2;"><span>{{ publication.title }}</span><span class="exp_date"></span></a>

        </div>
        <div class="expose_item_deployed">
            <div class="expose_item_top">
                <span class="green_button edit_expose" data-id="{{ publication.id }}"><i class="fa fa-edit"></i></span>
                {% if publication.children|length == 0 %}
                    <button type="button" class="delete-publication btn-danger" data-publication-id="{{ publication.id }}">
                        <i class="fa fa-trash"></i> Delete
                    </button>
                {% else  %}
                    <span>Parent publication</span>
                {% endif %}
            </div>
            <div class="expose_item_bottom">
                <div class="expose_drag_drop">
                    {% include 'prod/WorkZone/ExposePublicationAssets.html.twig' with { 'assets' : publication.assets, 'publicationId': publication.id } %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}

