{% for publication in publications %}
    {% set path = publication.slug ?? publication.id %}

    <div class="expose_basket_item publication-droppable basketTips ui-accordion-header ui-state-default
                    ui-corner-all header" style="position:relative;"
         data-publication-id="{{ publication.id }}"
         data-capabilities-edit="{{ publication.capabilities.edit }}"
         data-capabilities-delete="{{ publication.capabilities.delete }}"
         data-enabled="{{ publication.enabled }}"
         data-childrencount="{{ publication.childrenCount }}"
    >
        <div style="display:flex; align-items: center;">
            <div class="top_block" data-publication-id="{{ publication.id }}">
                <span>
                    {% if publication.cover %}
                        <img class="top_image" width="60" src="{{ publication.cover.thumbUrl }}" />
                    {% endif %}
                </span>
                <span class="expose_item_title">{{ publication.title }}</span>
            </div>
            <span style="display: inline-flex; margin-left: auto;">
                <a target="_blank" href="{{ exposeFrontBasePath ~ path }}"  style="color:#4990e2; display: inline-flex;">
                    <i class="fa fa-external-link" aria-hidden="true" style="margin-top: 3px;margin-right: 3px;"></i> {{ 'prod:expose preview' | trans }}
                </a>
                <span class="copy_expose_link" title="copy link" style="margin-left: 10px; cursor: pointer;"
                      data-link="{{ exposeFrontBasePath ~ path }}" >
                    <i class="fa fa-copy" aria-hidden="true"></i>
                </span>
            </span>
        </div>
        <div class="expose_item_deployed">
        </div>
    </div>
{% endfor %}

