{% for publication in publications %}
    <div class="expose_basket_item basketTips ui-accordion-header ui-state-default
                    ui-corner-all header">
        <div class="top_block">
                    <div class="diapo">
                        {% for asset in publication.assets|slice(0, 1) %}
                        <img class="top_image" width="60" src="{{ asset.asset.url }}" />
                        {% endfor %}
                    </div>

                <p class="expose_item_title"><span>{{ publication.title }}</span><span class="exp_date"></span></p>

        </div>
        <div class="expose_item_deployed">
            <div class="expose_item_top">
                <span class="green_button edit_expose" data-id="{{ publication.id }}"><i class="fa fa-edit"></i></span>
                <span>delete</span></div>
            <div class="expose_item_bottom">
                <span class="item_numbers">{{ publication.assets|length }}</span>
                <input type="button" class="green_button save_expose" value="save">
                <div id='expose_3' class="expose_drag_drop">
                    {% for asset in publication.assets %}
                        <div class="diapo">
                            <img src="{{ asset.asset.url }}">
                        </div>
                    {% endfor %}
                    Place to drop elt
                </div>
                <input type="button" class="load_more_expose" value="load More">
            </div>
        </div>
    </div>
    <script>
        $('.edit_expose').on('click', function () {
            //$('.publication-list').empty().html('<img src="/assets/common/images/icons/main-loader.gif" alt="loading"/>');
            $.ajax({
                type: "GET",
                url: `/prod/expose/get-publication/{{ publication.id }}?exposeName=${$("#expose_list").val()}` ,
                success: function (data) {
                    $('#DIALOG-expose-edit').empty().html(data);
                    console.log(data);
                    console.log('++');
                   // openExposeModalOnBasket();
                    if({{ publication.publiclyListed == true }}) {
                        $('#publication_publiclyListed').attr('checked','checked');
                    }
                    if({{ publication.enabled == true }}) {
                        $('#enabled_combobox').attr('checked','checked');
                    }
                    $('#publication_layout option[value={{ publication.layout}}]').attr('selected','selected');
                    $('#theme-field option[value={{ publication.theme}}]').attr('selected','selected');


                }
            });
        });
    </script>
{% endfor %}

