{% for publication in publications %}
    <div class="expose_basket_item publication-droppable basketTips ui-accordion-header ui-state-default
                    ui-corner-all header" style="position:relative;"
         data-publication-id="{{ publication.id }}" data-capabilities-edit="{{ publication.capabilities.edit }}" data-capabilities-delete="{{ publication.capabilities.delete }}">
        <div class="top_block" data-publication-id="{{ publication.id }}">
            <div class="diapo">
                {% if publication.cover %}
                    <img class="top_image" width="60" src="{{ publication.cover.thumbUrl }}" />
                {% endif %}
            </div>
            <span class="expose_item_title">{{ publication.title }}</span>
        </div>
        {% set path = publication.slug ?? publication.id %}

        <span class="pull-right" style="position:absolute; top:5px; right: 10px;">
            <a target="_blank" href="{{ exposeFrontBasePath ~ path }}"  style="color:#4990e2;">
                <i class="fa fa-external-link" aria-hidden="true"></i> {{ 'preview' | trans }}
            </a>
            <span class="pull-right copy_expose_link" title="copy link" style="margin-left: 10px; cursor: pointer;"
            data-link="{{ exposeFrontBasePath ~ path }}" >
                <i class="fa fa-clipboard" aria-hidden="true"></i>
            </span>
        </span>

        <div class="expose_item_deployed">
        </div>
    </div>
{% endfor %}

