<div style="margin:0 7px;overflow:hidden;">
{% set story_length = Story.get_children().get_elements()|length %}
    <div class="tools">

      <label>Actions</label>

      <button class="ui-corner-all TOOL_disktt_btn story_window" title="{{ 'action : exporter' | trans }}">
        <img src="/assets/common/images/icons/disktt_history.png"/>
      </button>
      <button class="ui-corner-all TOOL_print_btn story_window" title="{{ 'action : print' | trans }}">
        <img src="/assets/common/images/icons/print_history.png"/>
      </button>

      {% if app.getAclForUser(app.getAuthenticatedUser()).has_right(constant('\\ACL::CANMODIFRECORD')) %}
      <button class="ui-corner-all TOOL_ppen_btn story_window" title="{{ 'action : editer' | trans }}">
        <img src="/assets/common/images/icons/ppen_history.png"/>
      </button>
      {% endif %}

      {% if app.getAclForUser(app.getAuthenticatedUser()).has_right(constant('\\ACL::CHGSTATUS')) %}
      <button class="ui-corner-all TOOL_chgstatus_btn story_window" title="{{ 'action : status' | trans }}">
        <img src="/assets/common/images/icons/chgstatus_history.png"/>
      </button>
      {% endif %}

      {% if app.getAclForUser(app.getAuthenticatedUser()).has_right(constant('\\ACL::CANDELETERECORD')) and app.getAclForUser(app.getAuthenticatedUser()).has_right(constant('\\ACL::CANADDRECORD')) %}
      <button class="ui-corner-all TOOL_chgcoll_btn story_window" title="{{ 'action : collection' | trans }}">
        <img src="/assets/common/images/icons/chgcoll_history.png"/>
      </button>
      {% endif %}

      {% if app.getAclForUser(app.getAuthenticatedUser()).has_right(constant('\\ACL::CANPUSH')) %}
      <button class="ui-corner-all TOOL_pushdoc_btn story_window" title="{{ 'action : push' | trans }}">
        <img src="/assets/common/images/icons/push16.png"/>
      </button>
      {% endif %}

      {% if app.getAclForUser(app.getAuthenticatedUser()).has_right(constant('\\ACL::CANPUSH')) %}
      <button class="ui-corner-all TOOL_feedback_btn story_window" title="{{ 'Feedback' | trans }}">
        <img src="/assets/common/images/icons/feedback16.png"/>
      </button>
      {% endif %}
      {% if app.getAclForUser(app.getAuthenticatedUser()).has_right(cnstant('\\ACL::BAS_CHUPUB')) %}
      <button class="ui-corner-all TOOL_bridge_btn story_window" title="{{ 'action : bridge' | trans }}" data-href="{{ path("prod_bridge_manager") }}">
        <img src="/assets/common/images/icons/door.png"/>
      </button>
      <button class="ui-corner-all TOOL_publish_btn story_window" title="{{ 'action : publier' | trans }}">
        <img src="/assets/common/images/icons/rss16.png"/>
      </button>
      {% endif %}

      {% if app.getAclForUser(app.getAuthenticatedUser()).has_right(constant('\\ACL::IMGTOOLS')) %}
      <button class="ui-corner-all TOOL_imgtools_btn story_window" title="{{ 'action : outils' | trans }}">
        <img src="/assets/common/images/icons/imgtools_history.png"/>
      </button>
      {% endif %}
      <button class="ui-corner-all TOOL_trash_btn story_window" title="{{ 'action : supprimer' | trans }}">
        <img src="/assets/common/images/icons/delete.png"/>
        <input type="hidden" name="story_key" value="{{ Story.get_serialize_key() }}"/>
      </button>

    </div>
    <div class="alert_datas_changed ui-corner-all">
      {{ 'Certaines donnees du reportage ont change' | trans }}
      <a class="basket_refresher" href="#">
        {{ 'rafraichir' | trans }}
      </a>
    </div>
    {% if story_length == 0 %}
      <div style="height:120px;"></div>
    {% endif %}

    {% set basket_scope = 'groupings' %}
    {% import 'prod/WorkZone/Macros.html.twig' as Macros %}

    {% for record in Story.get_children().get_elements() %}
        <span class="wrapCHIM_{{ record.get_serialize_key() }}">
        {{ Macros.element('groupings', Story, record, record, record.getNumber()) }}
        </span>
    {% endfor %}
  </div>


