<div style="margin:0 7px;overflow:hidden;">
{% set story_length = Story.get_children().get_elements()|length %}
    <div class="tools">

      <button class="ui-corner-all TOOL_disktt_btn story_window" title="{{ 'action : exporter' | trans }}">
        <img src="/skins/prod/000000/images/disktt_history.png"/>
      </button>
      <button class="ui-corner-all TOOL_print_btn story_window" title="{{ 'action : print' | trans }}">
        <img src="/skins/prod/000000/images/print_history.png"/>
      </button>

      {% if app['acl'].get(app['authentication'].getUser()).has_right('modifyrecord') %}
      <button class="ui-corner-all TOOL_ppen_btn story_window" title="{{ 'action : editer' | trans }}">
        <img src="/skins/prod/000000/images/ppen_history.png"/>
      </button>
      {% endif %}

      {% if app['acl'].get(app['authentication'].getUser()).has_right('changestatus') %}
      <button class="ui-corner-all TOOL_chgstatus_btn story_window" title="{{ 'action : status' | trans }}">
        <img src="/skins/prod/000000/images/chgstatus_history.png"/>
      </button>
      {% endif %}

      {% if app['acl'].get(app['authentication'].getUser()).has_right('deleterecord') and app['acl'].get(app['authentication'].getUser()).has_right('addrecord') %}
      <button class="ui-corner-all TOOL_chgcoll_btn story_window" title="{{ 'action : collection' | trans }}">
        <img src="/skins/prod/000000/images/chgcoll_history.png"/>
      </button>
      {% endif %}

      {% if app['acl'].get(app['authentication'].getUser()).has_right('push') %}
      <button class="ui-corner-all TOOL_pushdoc_btn story_window" title="{{ 'action : push' | trans }}">
        <img src="/skins/icons/push16.png"/>
      </button>
      {% endif %}

      {% if app['acl'].get(app['authentication'].getUser()).has_right('push') %}
      <button class="ui-corner-all TOOL_feedback_btn story_window" title="{{ 'Feedback' | trans }}">
        <img src="/skins/icons/feedback16.png"/>
      </button>
      {% endif %}
      {% if app['acl'].get(app['authentication'].getUser()).has_right('bas_chupub') %}
      <button class="ui-corner-all TOOL_bridge_btn story_window" title="{{ 'action : bridge' | trans }}">
        <img src="/skins/icons/door.png"/>
      </button>
      <button class="ui-corner-all TOOL_publish_btn story_window" title="{{ 'action : publier' | trans }}">
        <img src="/skins/icons/rss16.png"/>
      </button>
      {% endif %}

      {% if app['acl'].get(app['authentication'].getUser()).has_right('doctools') %}
      <button class="ui-corner-all TOOL_imgtools_btn story_window" title="{{ 'action : outils' | trans }}">
        <img src="/skins/prod/000000/images/imgtools_history.gif"/>
      </button>
      {% endif %}
      <button class="ui-corner-all TOOL_trash_btn story_window" title="{{ 'action : supprimer' | trans }}">
        <img src="/skins/icons/delete.png"/>
        <input type="hidden" name="story_key" value="{{ Story.get_serialize_key() }}"/>
      </button>

    </div>
    <div class="alert_datas_changed ui-corner-all">
      {{ 'Certaines donnees du reportage ont change' | trans }}
      <a class="basket_refresher" href="#">
        {{ 'rafraichir' | trans }}
      </a>
    </div>
    {% if story_length == 0 %}
      <div style="height:120px;"></div>
    {% endif %}

    {% set basket_scope = 'groupings' %}
    {% import 'prod/WorkZone/Macros.html.twig' as Macros %}

    {% for record in Story.get_children().get_elements() %}
        <span class="wrapCHIM_{{ record.get_serialize_key() }}">
        {{ Macros.element('groupings', Story, record, record, record.get_number()) }}
        </span>
    {% endfor %}
  </div>


