{% if list is empty %}
  {{ 'You are not authorized to do this' | trans }}
{% else %}
  <div id="ListShare">
    <div>
      <h2 style="font-size:14px; margin-bottom:10px;"><b>{{ 'About Roles :' | trans }}</b></h2>
      <p>
        - {{ 'Admin can edit shares, modify content' | trans }}
      </p>
      <p>
        - {{ 'Editor can modify content' | trans }}
      </p>
      <p>
        - {{ 'Access user have readonly access' | trans }}
      </p>
    </div>
    <div style="margin-top:10px;">
      <form name="list_share_user">
        <label for="use">{{ 'Find a user' | trans }} : </label>
        <input type="text" class="search" name="user" value="" style="width:180px" />
      </form>
    </div>
    <div>
      <form name="owners">
      {% for owner in list.getOwners() %}
        <table class="owner">
          <tr>
            <td>
              <img src="/assets/common/images/icons/user.png"/>
            </td>
            <td style="width:150px;padding:5px;">
              {{ owner.getUser().getDisplayName() }}
              <input type="hidden" name="usr_id" value="{{ owner.getUser().getId() }}" />
            </td>
            <td style="padding-right:10px;min-width:100px;">
              {% if app.getAuthenticatedUser().getId() == owner.getUser().getId() %}
                {% if owner.getRole() == constant('Alchemy\\Phrasea\\Model\\Entities\\UsrListOwner::ROLE_ADMIN') %}
                  {{ 'You are Admin' | trans }}
                {% endif %}
              {% else %}
              <label>{{ 'Role' | trans }}</label>
              <select name="role" data-list-id="{{ list.getId() }}" data-user-id="{{ owner.getUser().getId() }}">
                <option {% if owner.getRole() == constant('Alchemy\\Phrasea\\Model\\Entities\\UsrListOwner::ROLE_USER') %}selected {% endif %} value="{{ constant('Alchemy\\Phrasea\\Model\\Entities\\UsrListOwner::ROLE_USER') }}">
                  {{ 'Access' | trans }}
                </option>
                <option {% if owner.getRole() == constant('Alchemy\\Phrasea\\Model\\Entities\\UsrListOwner::ROLE_EDITOR') %}selected {% endif %} value="{{ constant('Alchemy\\Phrasea\\Model\\Entities\\UsrListOwner::ROLE_EDITOR') }}">
                  {{ 'Editor' | trans }}
                </option>
                <option {% if owner.getRole() == constant('Alchemy\\Phrasea\\Model\\Entities\\UsrListOwner::ROLE_ADMIN') %}selected {% endif %} value="{{ constant('Alchemy\\Phrasea\\Model\\Entities\\UsrListOwner::ROLE_ADMIN') }}">
                  {{ 'Admin' | trans }}
                </option>
              </select>
              {% endif %}
            </td>
            <td style="width:15px">
               {% if app.getAuthenticatedUser().getId() == owner.getUser().getId() %}
                  <a href="#" class="deleter listmanager-share-delete-user-action" data-list-id="{{ list.getId() }}" data-user-id="{{ owner.getUser().getId() }}">
                    <img src="/assets/prod/images/Push/close_badge.png" title="{{ 'Remove' | trans }}"/>
                  </a>
                {% endif %}
              <a href="#" class="notifier">
                <img src="/assets/prod/images/Push/Notify.png" title="{{ 'Notify' | trans }}"/>
              </a>
            </td>
          </tr>
        </table>
      {% endfor %}
      </form>
    </div>
  </div>

  {% include "prod/templates/push.html.twig" %}
{% endif %}
