
      <div class="PNB10 lists">
        <h1>{{ 'Lists' | trans }}</h1>
        <span class="action">
          <a href="{{ path('prod_lists_list') }}" class="list_adder link">
            {{ "Add" | trans }}
          </a>
          <a href="{{ path('prod_lists_all') }}" class="list_refresh link">
            {{ "Refresh" | trans }}
          </a>
        </span>
        <ul class="lists">
          {% for list in lists %}
            {% set length = '<span class="counter">' ~ list.getEntries().count() ~ '</span>' %}
            <li class="list" style="padding:2px;">
              <a href="{{ path('prod_push_list_edit', { 'list_id' : list.getId() }) }}" class="list_link">
                {% if list.getOwner(app['authentication'].getUser(), app).getRole() >= constant('Alchemy\\Phrasea\\Model\\Entities\\UsrListOwner::ROLE_EDITOR') %}
                  <img src="/skins/prod/Push/list-icon.png" />
                {% else %}
                  <img src="/skins/icons/SHARE16.png" />
                {% endif %}
                {{ list.getName() }}
                ({{ length }})
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
