<form method="POST" action="{{ path('prod_stories_do_create') }}">

    <label>{{ 'Collection' | trans }}</label>
    <select name="base_id">
        {% for collection in app.getAclForUser(app.getAuthenticatedUser()).get_granted_base([constant('\\ACL::CANADDRECORD')]) %}
            <option value="{{ collection.get_base_id() }}">{{ collection.get_databox().get_label(app['locale']) }} / {{ collection.get_label(app['locale']) }}</option>
        {% endfor %}
    </select>

    <label>{{ 'Story name' | trans }}</label>
    <input name="name" value="" type="text"/>

    <label for="new_story_add_sel" class="checkbox">
        <input type="checkbox" name="lst" value="" id="new_story_add_sel"/>
        {{ 'Ajouter ma selection courrante' | trans }}
    </label>

  <script type="text/javascript">
    $(document).ready(function(){
      var $dialog = p4.Dialog.get(1);
      var $dialogBox = $dialog.getDomElement();

      $('input[name="lst"]', $dialogBox).val(p4.Results.Selection.serialize());

      var buttons = $dialog.getOption('buttons');

      buttons[language.create] = function(){
          $('form', $dialogBox).trigger('submit')
      };

      $dialog.setOption('buttons', buttons);

      $('form', $dialogBox).bind('submit', function(event){

        var $form = $(this);
        var dialog = $dialogBox.closest('.ui-dialog');
        var buttonPanel = dialog.find('.ui-dialog-buttonpane');

        $.ajax({
          type: $form.attr('method'),
          url: $form.attr('action'),
          data: $form.serializeArray(),
          dataType: 'json',
          beforeSend:function(){
              $(":button:contains('" + language.create + "')", buttonPanel)
              .attr("disabled", true).addClass("ui-state-disabled");
          },
          success: function(data){

            p4.WorkZone.refresh(data.WorkZone, '', true, 'story');
            p4.Dialog.Close(1);

            return;
          },
          error: function(){
              $(":button:contains('" + language.create + "')", buttonPanel)
              .attr("disabled", false).removeClass("ui-state-disabled");
          },
          timeout: function(){

          }
        });

        return false;
      });
    });
  </script>
</form>
