<h4>
    <a href="{{ path('admin_tasks_list') }} ">
        < {{ 'Return' | trans }}
    </a>
    {{ logname }}
    <a href="{{ path('admin_tasks_scheduler_log', { 'clr' : logfile.getPath() }) }} ">
        {{ 'Clear' | trans }}
    </a>
</h4>
<pre>
    {{ logfile.getContent() }}
</pre>
