
<div class="PNB10 container">
  <div class="PNB">
    <p style="text-align:center;margin:40px 20px 20px;">
       {% trans 'Vous etes actuellement deconnecte de votre compte, vous devez vous connecter pour continuer' %}
    </p>
    <table style="width:300px;margin:10px auto;">
      <tbody>
        <tr style="text-align:center;">
          <td>
            <form>
              <button class="login_button new_bridge_button">
                {% trans 'login:: connexion' %}
              </button>
              <input type="hidden" name="url" value="{{account.get_api().generate_login_url(registry, account.get_api().get_connector().get_name()) }}" />
            </form>
          </td>
          <td>
            <form method="{{r_method}}" action="{{r_action}}">
              {% for key, value in r_parameters %}
                <input type="hidden" name="{{key}}" value="{{value}}" />
              {% endfor %}
              <button class="form_submitter single_menu" >{% trans 'boutton::refresh' %}</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
