{% extends "common/indexfloat.html.twig" %}

{% set local_title = record.get_title() %}

{% block icon %}
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
{% endblock %}

{% block stylesheet %}
    <link type="text/css" rel="stylesheet" href="/assets/permaview/css/permaview{% if not app.debug %}.min{% endif %}.css">
    <style type="text/css"></style>
{% endblock %}

{% block rss %}
    {% for metaKey, metaValue in ogMetaData %}
        <meta property="{{ metaKey }}" content="{{ metaValue }}" />
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="content-container" >
        <h1>{{ record.get_title() }}</h1>

        <div class="preview">
            <iframe width="100%" height="{{ subdef.get_height() }}"
                    src="{{ app['request'].baseUrl }}/embed/{{ subdef.get_sbas_id() }}/{{ record.getRecordId() }}/{{ subdef.get_name() }}/?token={{ token }}"
                    frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="caption">
            {% include 'common/caption.html.twig' %}
        </div>
    </div>
{% endblock %}
