{% extends 'prod/Tooltip/Tooltip.html.twig' %}

{% set title %}
    app['authentication'].getUser().getDisplayName()
{% endset %}
{% set width = 300 %}
{% set maxwidth = null %}

{% block content %}
    <div class="UserTooltip" style="position:relative;width:{{ width }}px;height:100px;">
        <div class="PNB" style="width:100px;right:auto;">
            <img style="margin:14px 8px;" src="/skins/icons/user.png"/>
        </div>
        <div class="PNB" style="left:100px;">
            <h1> {{ app['authentication'].getUser().getDisplayName() }}</h1>
            <ul>
                <li>{{ app['authentication'].getUser().getEmail() }}</li>
                <li>{{ app['authentication'].getUser().getCompany() }}</li>
                <li>{{ app['authentication'].getUser().getJob() }}</li>
                <li>{{ app['authentication'].getUser().getActivity() }}</li>
            </ul>
        </div>
    </div>
{% endblock %}
