{% set box_height = 110 %}
{% if user.getPrefs('basket_title_display') == '1' %}
    {% set box_height = (box_height + 20) %}
{% endif %}
{% if user.getPrefs('basket_status_display') == '1' %}
    {% set box_height = (box_height + 20) %}
{% endif %}

{% import 'common/thumbnail.html' as thumbnail %}
{% set record = basket_element.get_record() %}

<div ondblclick="{% if basket_scope == 'groupings' %}openPreview('REG',{{basket_element.get_order()}},'{{basket.get_sbas_id()}}_{{basket.get_record_id()}}');{% else %}openPreview('BASK',{{basket_element.get_order()}},{{basket.get_ssel_id()}});{% endif %}"
    id="CHIM_{{basket_element.get_sselcont_id()}}_{{record.get_serialize_key()}}"
    sbas="{{basket_record.get_sbas_id()}}" class="CHIM diapo CHIM_{{record.get_serialize_key()}}" style="height:{{box_height}}px;">
    {% if user.getPrefs('basket_title_display') == '1' %}
        <div class="title">
            {{record.get_title()}}
        </div>
    {% endif %}
    {% if user.getPrefs('basket_status_display') == '1' %}
        <div class="status" style="position:relative;height:20px;overflow-y:visible;z-index:15;">
            {{record.get_status_icons|raw}}
        </div>
    {% endif %}
        <div style="position:absolute;background-color:#959595;color:black;font-weight:bold;padding:3px;z-index:90;">
            {{basket_element.get_record().get_number()}}
        </div>
  {{thumbnail.format(record.get_thumbnail,82,82, '', session, true)}}
    <div class="bottom">
        <span id="sselcontrem_{{basket.get_ssel_id()}}_{{basket_element.get_sselcont_id()}}" class="{{basket_scope}}"
            onmousedown="event.cancelBubble=true;return false;" onclick="removeFromBasket(this);return false;" title="{% trans 'delete'%}" >X</span>
        {% if user.getPrefs('basket_caption_display') == '1' %}
            <div class="captionRolloverTips" tooltipsrc="/prod/tooltip/caption/{{record.get_sbas_id()}}/{{record.get_record_id()}}/basket/?number={{record.get_number()}}"></div>
        {% endif %}
    </div>
</div>
