<div style="position:relative;" class="notification {% if notification['unread'] == '1' %}unread{% endif %}">
    <table style="width:100%;" cellspacing="0" cellpadding="0" border="0">
        <tr style="border-top: 1px grey solid">
            <td style="width:25px; vertical-align: top;">
                <img src="{{notification['icon']}}" style="vertical-align:middle;width:16px;margin:2px;" />
            </td>
            <td>
                <p style="margin:0;padding:0;" class="{{notification['class']}}">
                    {{notification['text']|raw}}
                    <span class="time">{{notification['created_on']}}</span>
                </p>
            </td>
            <td style="width:25px; vertical-align: bottom;">
                <span class="notification_{{notification['id']}}_read" title="{{ 'notification::read:tooltip' | trans }}" style="display: {{ notification['unread'] == '1' ? 'none' : 'inherit' }}">&#9989;</span>
                <span class="notification_{{notification['id']}}_unread" title="{{ 'notification::unread:tooltip' | trans }}" style="cursor: pointer; display: {{ notification['unread'] == '1' ? 'inherit' : 'none' }}">&#x1F441;</span>
            </td>
        </tr>
  </table>
</div>
