{% block tab_headers_wrapper %}
    <ul class="prod-icon-menu ui-tabs-nav ui-helper-reset">
        {% block tab_headers %}
            {% if GV_thesaurus %}
                <li class="proposals_WZ">
                    <a href="#proposals" class="WZtabs">
                        <img class="proposals_off" src="/assets/common/images/icons/proposition_off32.png"
                             title="{{ 'phraseanet:: propositions' | trans }}"/>
                        <img class="proposals_on" src="/assets/common/images/icons/proposition_on32.png"
                             title="{{ 'phraseanet:: propositions' | trans }}"/>
                    </a>
                </li>
                <li class="thesaurus">
                    <a href="#thesaurus_tab" class="WZtabs">
                        <img src="/assets/common/images/icons/thesaurus_32.png" title="{{ 'phraseanet:: thesaurus' | trans }}"/>
                    </a>
                </li>
            {% endif %}
            <li class="ui-corner-top baskets">
                {% set expose_activate = app['conf'].get(['phraseanet-service', 'expose-service', 'activated']) %}
                {% set hash = expose_activate ? '#baskets_wrapper' : '#baskets' %}

                <a href="{{ hash }}" class="WZbasketTab WZtabs">
                    <img src="/assets/common/images/icons/workzone32.png" title="{{ 'phraseanet:: baskets' | trans }}"/>
                    <div id="basket_menu_trigger">&#9660;</div>
                </a>
            </li>
            {% if plugins.workzone is not empty %}
                <li class="plugins">
                    <a href="#plugins" class="WZplugins">
                        <img src="/assets/common/images/icons/plugins.png" title="{{ 'phraseanet:: plugin.workzone' | trans }}"/>
                    </a>
                </li>
            {% endif %}
        {% endblock %}
    </ul>
{% endblock %}
