<ul>
  <li>
    {% set nb_view = element.get_view_count|default(0) %}
    {% if nb_view == 0 %}
      {% trans %}
        {{ nb_view }} vue
      {% endtrans %}
    {% else %}
      {% trans %}
        {{ nb_view }} vue
      {% plural nb_view %}
        {{ nb_view }} vues
      {% endtrans %}
    {% endif %}
  </li>
  {% if element.get_rating|length > 0 %}
    {% if value > 0 %}
      <li>
       {% trans %}
        {{ value }} like
       {% plural value %}
        {{ value }} likes
      {% endtrans %}
      </li>
    {% endif %}
  {% endif %}

</ul>
