{% import "common/thumbnail.html.twig" as thumbnail %}

{% extends "common/index.html.twig" %}

{% block javascript %}
<script type="text/javascript" src="{{ path('minifier', { 'f' : 'skins/lightbox/jquery.validator.mobile.js' }) }}"></script>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ path('minifier', { 'f' : 'skins/lightbox/jquery.validator.mobile.css' }) }}" />

    <style type="text/css">
        div[data-role="page"] {
            position: relative;
        }

        #content {
            position:absolute;
            top:50px;
            bottom: 0;
            right: 0;
            left: 0;
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
  {% set record = basket_element.getRecord(app) %}
<div data-role="page" id="page">
  <div data-role="header">
    <a href="{{ path('lightbox_validation', { 'basket' : basket_element.getBasket().getId() }) }}" data-rel="back" data-icon="arrow-l">Back</a>
    <h1>{{basket_element.getOrd()}} - {{record.get_title()}}</h1>
    <a rel="external" href="{{ path('lightbox') }}" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">Home</a>
  </div>
  <div id="content" data-role="content">
    {{ thumbnail.format100percent(record.get_preview()) }}
    {% if basket_element.getBasket().getValidation() %}
      {% if basket_element.getBasket().getValidation().getParticipant(app['authentication'].getUser(), app).getCanAgree() %}
        <fieldset data-role="controlgroup" data-type="horizontal" style="text-align:center;">
          <input {% if basket_element.getUserValidationDatas(app['authentication'].getUser(), app).getAgreement() == true%}checked="checked"{% endif %} type="radio" name="radio-view" id="radio-view-yes_{{basket_element.getId()}}" value="yes"  />
            <label class="agreement_radio" style="width:130px;text-align:center;" for="radio-view-yes_{{basket_element.getId()}}">{{ 'validation:: OUI' | trans }}</label>
          <input {% if basket_element.getUserValidationDatas(app['authentication'].getUser(), app).getAgreement() == false and basket_element.getUserValidationDatas(app['authentication'].getUser(), app).getAgreement() is not null %}checked="checked"{% endif %} type="radio" name="radio-view" id="radio-view-no_{{basket_element.getId()}}" value="no"  />
            <label class="agreement_radio" style="width:130px;text-align:center;" for="radio-view-no_{{basket_element.getId()}}">{{ 'validation:: NON' | trans }}</label>
        </fieldset>
      {% endif %}
      <div style="text-align:center;margin:0 0 1em 0">
        <a href="{{ path('lightbox_ajax_note_form', { 'sselcont_id' : basket_element.getId() }) }}" data-role="button" data-inline="true" data-rel="dialog" data-transition="slidedown">
          {{ 'validation:: editer ma note' | trans }}
        </a>
      </div>
      <div>
        <ul data-role="listview" id="notes_{{basket_element.getId()}}">
          {% include 'lightbox/sc_note.html.twig' %}
        </ul>
      </div>
    {% endif %}
  </div>
  <div data-role="footer">

  </div>
</div>
{% endblock %}
