{% import "common/thumbnail.html.twig" as thumbnail %}
{% extends "common/index.html.twig" %}

{% block javascript %}
  <script type="text/javascript" src="{{ path('minifier', { 'f' : 'skins/lightbox/jquery.validator.mobile.js' }) }}"></script>
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{{ path('minifier', { 'f' : 'skins/lightbox/jquery.validator.mobile.css' }) }}" />
{% endblock %}

{% block content %}
<div id="home" data-role="page">
    <div data-role="header">
    <h1>{{feed_entry.getTitle()}}</h1>
    <a rel="external" href="{{ path('lightbox') }}" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">{% trans 'Home' %}</a>
  </div>
    <div data-role="content">
    <p>
      {{feed_entry.getSubtitle()|nl2br|raw}}
    </p>
    <p>
      {% set author = feed_entry.getAuthorName() %}
      <span class="author">{% trans %}Par {{ author }}{% endtrans %}</span>
      {% set entry_length = feed_entry.getItems()|length %}
      {% trans %}{{entry_length}} documents{% endtrans %}
    </p>
    <ul class="image_set">
    {% for item in feed_entry.getItems() %}
      <li class="image_box" id="item_{{item.getId()}}">
        <a href="{{ path('lightbox_ajax_load_feeditem', { 'entry_id' : feed_entry.getId(), 'item_id' : item.getId()}) }}">
          {{thumbnail.format(item.getRecord(app).get_thumbnail(), 80, 80, '', true, false)}}
          </a>
          <input type="hidden" class="display_id" name="display_id" value="{{item.getOrd()}}" />
      </li>
    {% endfor %}
    </ul>
  </div>
    <div data-role="footer">

  </div>
</div>
{% endblock %}






