{% import "common/thumbnail.html.twig" as thumbnail %}

{% extends "common/index.html.twig" %}

{% block javascript %}
<script type="text/javascript" src="{{ path('minifier', { 'f' : 'skins/lightbox/jquery.validator.mobile.js' }) }}"></script>
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{{ path('minifier', { 'f' : 'skins/lightbox/jquery.validator.mobile.css' }) }}" />
{% endblock %}

{% block content %}
  {% set record = feed_element.getRecord(app) %}
<div data-role="page">
  <div data-role="header">
    <a href="{{ path('lightbox_feed_entry', { 'entry_id' : feed_element.getEntry().getId() }) }}" data-rel="back" data-icon="arrow-l">Back</a>
    <h1>{{feed_element.getOrd()}} - {{record.getTitle()}}</h1>
    <a rel="external" href="{{ path('lightbox') }}" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">Home</a>
  </div>
  <div data-role="content">
    {{ thumbnail.format100percent(record.get_preview(),'', record.get_thumbnail()) }}
  </div>
  <div data-role="footer">

  </div>
</div>
{% endblock %}
