{% extends "common/index.twig" %}

{% block javascript %}
  <script type="text/javascript" src="/include/minify/f=skins/lightbox/jquery.validator.mobile.js"></script>
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="/include/minify/f=skins/lightbox/jquery.validator.mobile.css" />
{% endblock %}

{% block icon %}
<link rel="shortcut icon" type="image/x-icon" href="/skins/lightbox/favicon.ico">
{% endblock %}

{% macro valid_baskets_length(baskets) %}
    {% set foo = 0 %}
    {% for item in baskets %}
        {% if item.is_valid() %}
            {% set foo = foo + 1 %}
        {% endif %}
    {% endfor %}
  {{foo}}
{% endmacro %}

{% macro baskets_length(baskets_collection) %}
    {% set foo = 0 %}
    {% for key,baskets in baskets_collection.get_baskets() %}
        {% if key == 'baskets' or key == 'recept' %}
            {% for item in baskets %}
                {% if item.is_valid() == false %}
                    {% set foo = foo + 1 %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
  {{foo}}
{% endmacro %}

{% block content %}
<div id="home" data-role="page">
    <div data-role="header">
    <h1>{{module_name}}</h1>
    <a href="#about" class="ui-btn-right">{% trans 'a propos'%}</a>
  </div>
    <div data-role="content">
    <ul data-role="listview">
      <li>
        <a href="#validation">{% trans 'Validations'%}</a>
        <span class="ui-li-count">{{_self.valid_baskets_length(baskets_collection.get_baskets().baskets)}}</span>
      </li>
      <li>
        <a href="#baskets">{% trans 'Paniers'%}</a>
        <span class="ui-li-count">{{_self.baskets_length(baskets_collection)}}</span>
      </li>
    </ul>
    <div style="margin:2em 0 0 0">
      <a href="/login/logout.php" data-role="button" rel="external">{% trans 'Deconnexion' %}</a>
    </div>
  </div>
    <div data-role="footer">

  </div>
</div>

<div id="about" data-role="page">
    <div data-role="header">
    <h1>{% trans 'a propos'%}</h1>
  </div>
    <div data-role="content">
    <p>Phraseanet Version {{session.get_version()}}</p>
    <p>
      <a href='http://www.gnu.org/licenses/gpl.html' target='_blank'>
        <img src='http{{ request.is_secure() ? 's' : '' }}://www.gnu.org/graphics/gplv3-88x31.png' style='vertical-align:middle;'/>
      </a>
    </p>
    <p>License <a href="http://www.gnu.org/licenses/gpl.html" target="_blank">GNU GPL v3</a></p>
    <p><a href='http://www.phraseanet.com/' target='_blank'>  &copy; Copyright Alchemy 2005-2010</a></p>
  </div>
    <div data-role="footer">

  </div>
</div>

<div id="validation" data-role="page">
    <div data-role="header">
     <a href="#home" data-rel="back" data-icon="arrow-l">{% trans 'Back' %}</a>
     <h1>{% trans 'Validations'%}</h1>
  </div>
    <div data-role="content">
    <p>
      {% trans 'Voici vos validations en cours' %}
    </p>
    <ul data-role="listview">
            {% for key,baskets in baskets_collection.get_baskets() %}
                {% if key == 'baskets' %}
                    {% for item in baskets %}
                        {% if item.is_valid() %}
              {% set basket_length = item.get_elements()|length%}
              <li>
                {% if item.get_first_element() %}
                <img src="{{item.get_first_element.get_record().get_thumbnail.get_url()}}" />
                {% endif %}
                <h3><a href="/lightbox/validate/{{item.get_ssel_id()}}/">{{item.get_name()}}</a></h3>
                <p>{{item.get_description()}}</p>
                <span class="ui-li-count">{{basket_length}}</span>
              </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
    </ul>
  </div>
    <div data-role="footer">

  </div>
</div>

<div id="baskets" data-role="page">
    <div data-role="header">
     <h1>{% trans 'Paniers'%}</h1>
  </div>
    <div data-role="content">
    <p>
      {% trans 'Voici vos paniers' %}
    </p>
    <ul data-role="listview">
            {% for key,baskets in baskets_collection.get_baskets() %}
                {% if key == 'baskets' or key == 'recept' %}
                    {% for item in baskets %}
                        {% if item.is_valid() == false %}
              {% set basket_length = item.get_elements()|length%}
              <li>
                {% if item.get_first_element() %}
                <img src="{{item.get_first_element.get_record().get_thumbnail.get_url()}}" />
                {% endif %}
                <h3><a href="/lightbox/validate/{{item.get_ssel_id()}}/">{{item.get_name()}}</a></h3>
                <p>{{item.get_description()}}</p>
                <span class="ui-li-count">{{basket_length}}</span>
              </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
    </ul>
  </div>
    <div data-role="footer">

  </div>
</div>
{% endblock %}
