{% import "common/thumbnail.html.twig" as thumbnail %}

{% extends "common/index.html.twig" %}

{% block javascript %}
  <script type="text/javascript" src="/assets/production/commons{% if not app.debug %}.min{% endif %}.js?v={{ assetFileVersion }}"></script>
  <script type="text/javascript" src="/assets/production/lightbox-mobile{% if not app.debug %}.min{% endif %}.js?v={{ assetFileVersion }}"></script>
  <script type="text/javascript">


    var lightboxApp = lightboxMobileApplication.bootstrap({
      lang: '{{ app.locale }}',
      baseUrl: '{{ app['request'].getUriForPath('/') }}',
      basePath: '{{ app.request.basePath|e('js') }}',
      releasable: false
    });
  </script>
{% endblock %}

{% block stylesheet %}
  <link type="text/css" rel="stylesheet" href="/assets/lightbox/css/lightbox-mobile{% if not app.debug %}.min{% endif %}.css" />
{% endblock %}

{% block content %}
<div data-role="page" data-ajax="false" id="note_form_{{basket_element.getId()}}">
  <div data-role="header">
    <h1>{{basket_element.getRecord(app).get_title}} - Note</h1>
  </div>
  <div data-role="content">
    <form action="">
        <textarea class="note_area"
          id="note_area_{{basket_element.getId()}}"
          {% if basket_element.getUserVote(app.getAuthenticatedUser(), true).getNote() == '' %}placeholder="Note"{% endif %}>{{basket_element.getUserVote(app.getAuthenticatedUser(), true).getNote()}}</textarea>
          <button type="submit" class="note_area_validate">{{ 'boutton::valider' | trans }}</button>
        <input name="sselcont_id" value="{{basket_element.getId()}}" type="hidden"/>
    </form>
  </div>
  <div data-role="footer">

  </div>
</div>
{% endblock %}
