{% import "common/thumbnail.twig" as thumbnail %}
{% extends "common/index.twig" %}

{% block javascript %}
  <script type="text/javascript" src="/include/minify/f=skins/lightbox/jquery.validator.mobile.js"></script>
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="/include/minify/f=skins/lightbox/jquery.validator.mobile.css" />
{% endblock %}

{% block content %}
<div id="home" data-role="page">
    <div data-role="header">
    <a href="/lightbox/{% if basket.is_valid() %}#validation{% else %}#baskets{% endif %}" data-rel="back" data-icon="arrow-l">{% trans 'Back' %}</a>
    <h1>{{basket.get_name()}}</h1>
    <a rel="external" href="/lightbox/" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">{% trans 'Home' %}</a>
  </div>
    <div data-role="content">
    <p>
      {% set basket_length = basket.get_elements()|length %}
      {% trans %}{{basket_length}} documents{% endtrans %}
    </p>
    <ul class="image_set">
    {% for sselcont_id, basket_element in basket.get_elements() %}
      <li class="image_box" id="sselcontid_{{basket_element.get_sselcont_id()}}">
        <div class="valid_choice valid_choice_{{basket_element.get_sselcont_id()}} {% if basket_element.get_my_agreement() == '1'%}agree{% elseif basket_element.get_my_agreement() == '-1'%}disagree{% endif %}">
        </div>
        <a href="/lightbox/ajax/LOAD_BASKET_ELEMENT/{{basket_element.get_sselcont_id()}}/">
          {{thumbnail.format(basket_element.get_record().get_thumbnail(), 80, 80, '', session, true)}}
        </a>
        <input type="hidden" class="display_id" name="display_id" value="{{basket_element.get_order()}}" />
      </li>
    {% endfor %}
    </ul>
  </div>
    <div data-role="footer">

  </div>
</div>
{% endblock %}






