<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="{{ app['locale'] }}">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ 'thesaurus:: export en topics' | trans }}</title>
        <link type="text/css" rel="stylesheet" href="/assets/thesaurus/css/thesaurus{% if not app.debug %}.min{% endif %}.css?v={{ assetFileVersion }}" />
        <style>
            .toscreen
            {
                background-color:#ffffff;
            }
            .tofiles
            {
                margin: 20px;
            }
        </style>

        <script type="text/javascript">
            function loaded()
            {
                self.focus();
            }
        </script>
    </head>
    <body id="idbody" onload="loaded();" class="dialog">
        <div class="{{ ofm }}">

            {% for lng, export in lngs %}
                <pre style='font-size: 12px;'>
                {{ export }}
                </pre>
            {% endfor %}

            {% if ofm == 'tofiles' %}
                <div class="thesaurus_confirm_bottom_block">
                    <input type="button" class="cancel_btn" value="{{ 'boutton::fermer' | trans }}" onclick=" self.close();" style="width:120px;">
                </div>
            {% endif %}
        </div>
    </body>
</html>
