{% if dlg is not none %}
    {% set opener = "window.dialogArguments.win" %}
{% else %}
    {% set opener = "opener" %}
{% endif %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="{{ app['locale'] }}">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <base target="_self">
        <title>{{ 'thesaurus:: Importer' | trans }}</title>
        <link type="text/css" rel="stylesheet" href="/assets/thesaurus/css/thesaurus{% if not app.debug %}.min{% endif %}.css?v={{ assetFileVersion }}" />
        <script type="text/javascript">
            function clkBut(button)
            {
                switch(button)
                {
                    case "submit":
                        $('.import-form').submit();
                        break;
                    case "cancel":
                            self.returnValue = null;
                        $('.close-dialog').trigger('click');
                        break;
                }
            }
            function loaded()
            {
            }
            function importDone(err)
            {
                if(!err)
                {
                    $('.close-dialog').trigger('click');
                }
                else
                {
                    alert(err);
                }
            }
        </script>
    </head>
    <body onload="loaded();" class="dialog">
        <br/>
        <form action="import.php" enctype="multipart/form-data" method="post" class="import-form" target="IFRIM">
            <input type="hidden" name="bid" value="{{ bid }}" >
            <input type="hidden" name="piv" value="{{ piv }}" >
            <input type="hidden" name="id" value="{{ id }}" >
            <input type="hidden" name="dlg" value="{{ dlg }}" >
            <div>
                <div style="float:right">{{ 'thesaurus:: langue par default' | trans }} <img src='/assets/common/images/icons/flag_18.gif' /> {{ piv }}</div>
            </div>
            <br/>
            {{ 'Fichier ASCII tabule' | trans }}
            <input type="file" name="fil" /> (max 16Mo)
            <br/>

            <div class="text-center">
                <table>
                    <tr>
                        <td style="text-align:left"><input type="checkbox" disabled="disabled" name="dlk" checked="checked">{{ 'thesaurus:: supprimer les liens des champs tbranch' | trans }}</td>
                    </tr>
                </table>
                <br/>
                <div class="thesaurus_confirm_bottom_block">
                    <input type="button" id="cancel_button" value="{{ 'boutton::annuler' | trans }}" onclick="clkBut('cancel');" >
                   <input type="button" id="submit_button" value="{{ 'boutton::valider' | trans }}" onclick="clkBut('submit');">
                </div>
            </div>
        </form>
        <iframe style="display:block; height:50px;border:0px;" name="IFRIM"></iframe>
    </body>
</html>
