<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="{{ app['locale'] }}">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ 'thesaurus:: Lier la branche de thesaurus' | trans }}</title>
        <link type="text/css" rel="stylesheet" href="/assets/thesaurus/css/thesaurus{% if not app.debug %}.min{% endif %}.css?v={{ assetFileVersion }}" />
    </head>
    <body  class="dialog">
    <center>
        <br/>
        <br/>
        <br/>
        <form onsubmit="return(false);">
            <div style="width:70%; height:200px; overflow:scroll;" class="x3Dbox">
                {% for field in field2del %}
                    {% trans with {'%field%' : field} %}thesaurus:: suppression du lien du champ %field%{% endtrans %}
                    <br/>
                {% endfor %}
                {% for candidate in candidates2del %}
                    {% set field = candidate2del["field"] %}
                    {% trans with {'%field%' : field} %}thesaurus:: suppression de la branche de mot candidats pour le champ %field%{% endtrans %}
                    <br/>
                {% endfor %}
                {% for field in branch2del %}
                    {% trans with {'%field%' : field} %}thesaurus:: suppression de la branche de mot candidats pour le champ %field%{% endtrans %}
                    <br/>
                {% endfor %}

                {% if ctchanged %}
                    {{ 'thesaurus:: enregistrement de la liste modifiee des mots candidats.' | trans }}
                    <br/>
                {% endif %}

                {% for field in field2del %}
                    {% trans with {'%field%' : field} %}thesaurus:: suppression des indexes vers le thesaurus pour le champ %field%{% endtrans %}
                    <br/>
                {% endfor %}

                {% if reindexed %}
                    {{ 'thesaurus:: reindexer tous les enregistrements' | trans }}
                    <br/>
                {% endif %}
            </div>
            <div class="thesaurus_confirm_bottom_block">
                <input type="button" value="{{ 'boutton::fermer' | trans }}"  class="cancel_btn" onclick="$('.close-dialog').trigger('click');">
            </div>
        </form>
    </center>
</body>
</html>
