
      <td>
        <div class="multi_menu">
          <div>
              <button class="trigger">{% trans 'Ajouter a' %}</button>
          </div>

          <div class="submenu" style="display:none;position:absolute;">
            <form class="action_works_single_element action_works_many_element" method="GET" action="/prod/bridge/action/{{ account.get_id() }}/moveinto/{{action_type}}/">
              <input type="hidden" name="elements_list" value="" />
              <input type="hidden" name="destination" value="{{ constant('Bridge_Api_Flickr::CONTAINER_TYPE_PHOTOSET') }}" />
              <button  class="form_multiple_submitter" style="">
                {% trans 'Photosets' %}
              </button>
            </form>
          </div>
        </div>
      </td>
      <td>
        <div class="multi_menu">
          <div>
              <button class="trigger">{% trans 'Actions' %}</button>
          </div>

          <div class="submenu" style="display:none;position:absolute;">
            <form class="action_works_single_element action_works_many_element" method="GET" action="/prod/bridge/action/{{ account.get_id() }}/deleteelement/{{action_type}}/">
              <input type="hidden" name="elements_list" value="" />
              <input type="hidden" name="destination" value="" />
              <button  class="form_multiple_submitter" style="">
                {% trans 'boutton::supprimer' %}
              </button>
            </form>
          </div>
        </div>
      </td>
