{% extends "prod/actions/Bridge/wrapper.html.twig"%}

{% set n_element = elements|length %}

{% block menu %}
  {% trans %}
  Suppression de {{n_element}} photos
  {% endtrans %}
{% endblock %}

{% block response %}
    <form method="POST" action="/prod/bridge/action/{{account.get_id()}}/{{action}}/{{element_type}}/">
      <p>
        {% set number = elements|length %}
        {% trans %}
          Etes vous sur de supprimer {{ number }} photos ?
        {% endtrans %}
      </p>
      {% for id in elements %}
        <input type="hidden" name="elements_list[]" value="{{id}}"/>
      {% endfor %}
      <input type="hidden" name="destination" value="{{ destination }}" />
      <button class="form_submitter btn btn-inverse">{% trans 'boutton::valider' %}</button>
      <button class="back_link btn btn-inverse">{% trans 'boutton::retour' %}</button>
    </form>
{% endblock %}
