{% extends "prod/actions/Bridge/wrapper.html.twig" %}

{% set n_element = elements|length %}

{% block menu %}
  {% trans with {'%n_element%' : n_element} %}Suppression de %n_element% videos{% endtrans %}
{% endblock %}

{% block response %}
    <form method="POST" action="{{ path('bridge_account_do_action', { 'account_id' : account.get_id(), 'action' : action, 'element_type' : element_type }) }}">
      <p>
        {% set number = elements|length %}
        {% trans with {'%number%' : number} %}Etes vous sur de supprimer %number% videos ?{% endtrans %}
      </p>
      {% for id in elements %}
        <input type="hidden" name="elements_list[]" value="{{id}}"/>
      {% endfor %}
      <input type="hidden" name="destination" value="{{ destination }}" />
      <button class="form_submitter btn btn-inverse">{{ 'boutton::valider' | trans }}</button>
      <button class="back_link btn btn-inverse">{{ 'boutton::retour' | trans }}</button>
    </form>
{% endblock %}
