{% import 'prod/results/macro.html.twig' as result_macro %}

<div class="entry ui-corner-all" id="entry_{{ entry.id }}">
    <table class="head">
        <tr>
            <td>
                <h1 class="title {% if entry.feed.isOwner(app.getAuthenticator().user) or entry.isPublisher(app.getAuthenticator().user) %}with_btn {% endif %}">
                    {% if feed.aggregated %}
                        <img style="height:16px;" src="{% if entry.feed.iconUrl == false %} /assets/common/images/icons/rss32.gif{% else %}/custom/feed_{{ entry.feed.id }}.jpg{% endif %}"/>
                    {% endif %}
                    {{ entry.title }}
                    {% set author = entry.authorName %}
                    <span class="author">
                            {% trans with {'%author%' : author} %}Par %author%{% endtrans %}
                        </span>
                </h1>
            </td>
            <td style="width:60px;text-align:right;">
                {% if entry.feed.isOwner(app.getAuthenticator().user) or entry.isPublisher(app.getAuthenticator().user) %}
                    <div class="feed_btn_wrapper">
                        <a class="options feed_edit feed_icon" title="{{ 'boutton::editer' | trans }}" href="{{ path('prod_feeds_entry_edit', { 'id' : entry.id }) }}">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="feed_delete feed_icon" title="{{ 'boutton::supprimer' | trans }}" href="{{ path('prod_feeds_entry_delete', { 'id' : entry.id }) }}">
                            <i class="fa fa-times-circle"></i>
                        </a>
                    </div>
                {% endif %}
            </td>
        </tr>
    </table>
    <div class="post_date">
        {% set updated_on = app['date-formatter'].getPrettyString(entry.updatedOn) %}
        {% set created_on = app['date-formatter'].getPrettyString(entry.createdOn) %}
        <span class="created_on">
                {{ created_on }}
            </span>
        {% if created_on != updated_on %}
            <span class="updated_on">
                    (
                {% trans with {'%updated_on%' : updated_on} %}Derniere mise a jour le %updated_on%{% endtrans %}
                )
                </span>
        {% endif %}
        {% if feed.aggregated %}
            <a class="ajax_answers" href="{{ path('prod_feeds_feed', { 'id' : entry.feed.id }) }}">
                {% set feed_name = entry.feed.title %}
                {% trans with {'%feed_name%' : feed_name} %}dans %feed_name%{% endtrans %}
                <img style="height:18px;" src="{% if entry.feed.iconUrl == false %}/assets/common/images/icons/rss32.gif{% else %}/custom/feed_{{ entry.feed.id }}.jpg{% endif %}"/>
            </a>
        {% endif %}
    </div>

    <p>{{ entry.getSubtitle()|nl2br|raw }}</p>

    <div class="contents selectable">
        {% for item in entry.items %}
            {% block item %}
                {% include 'prod/results/item.html.twig' with {
                    'item' : item,
                    'entry': entry,
                    'settings': {
                        'images_size': images_size,
                        'technical_display': technical_display,
                        'rollover_thumbnail': rollover_thumbnail,
                        'doctype_display': doctype_display
                    }
                } %}
            {% endblock %}
        {% endfor %}
    </div>
</div>
