{% block  content %}
    {% if results.error %}
        <div><pre>{{ results.error }}</pre></div>
    {% elseif results.warning %}
        <div>{{ results.warning }}</div>
    {% endif %}

    {#<p>#}
    {#{{ 'Votre recherche ne retourne aucun resultat' | trans }}#}
    {#</p>#}


    <div class="client_help">
        <div class="help-section">
            <h4>{{ 'help::help-section-title: sorry-no-result' | trans }}</h4>
            <ul>
                <li><p>{{ 'help::help-section-bullet: check-spelling' | trans }}</p></li>
                <li><p>{{ 'help::help-section-bullet: search-in-document' | trans }}</p></li>
                <li><p>{{ 'help::help-section-bullet: remove-advance-search' | trans }}</p></li>
                <li><p>{{ 'help::help-section-bullet: expand search' | trans }}</p></li>
            </ul>
        </div>
        <div class="help-section">
            <h4>{{ 'help::help-section-title: search-tips' | trans }}</h4>
            <ul>
                <li><p>{{ 'help::help-section-bullet: default-operator-between-terms' | trans }}</p></li>
                <li><p>{{ 'help::help-section-bullet: use-OR-between-terms' | trans }}</p></li>
                <li><p>{{ 'help::help-section-bullet: use-EXCEPT-operator' | trans }}</p></li>
                <li><p>{{ 'help::help-section-bullet: quotation-marks-allow' | trans }}</p></li>
                <li><p>{{ 'help::help-section-bullet: search-in-a-specific-field' | trans }}</p></li>
            </ul>
        </div>
        <br>
        <p class="text-center">{{ 'help::help-search: OR' | trans }}</p>
        <br>
        <p class="text-center">
          <span style="padding-top: 20px; padding-left: 25px;width:330px; height:40px; color: #fff; background: #5bb75b url('/assets/common/images/icons/refresh-white.png') no-repeat left 13px center;" class="btn btn-info btn-lg trigger-reload-search" onclick="jQuery('.reload-search').trigger('click');">{{ 'help::help-search: relaunch search without filter' | trans }}</span>
        </p>
    </div>
{% endblock %}
