{% import 'prod/results/macro.html.twig' as result_macro %}

<div style="width:{{ settings.images_size + 30}}px;"
     sbas="{{ record.databoxId }}"
     id="{{ prefix|default('IMGT') }}_{{ record.id }}"
     class="IMGT diapo {% if record.story %}grouping{% endif %} type-{{ record.type }}"
     onDblClick="openPreview('{{ record.story ? 'REG' : 'RESULT' }}', '{{ record.position|default(0) }}', '{{ record.id }}');">
    <div style="padding: 4px;">
        <div style="height:40px; position: relative; z-index: 95;margin-bottom:0;border-bottom:none;">
            {# @todo title should be localized #}
            <div class="title" style="max-height:100%" title="{{ record.title }}">
                {{ record.title }}
            </div>
            <div class="status">
                {% for flag in record_flags(record) %}
                    <img src="{{ flag.path }}" title="{{ attribute(flag.labels, app.locale) }}" />
                {% endfor %}
            </div>
        </div>

        {% if settings.rollover_thumbnail == 'caption' %}
            {% set tooltip = path('prod_tooltip_caption', { 'sbas_id' : record.databoxId, 'record_id' : record.recordId, 'context' : 'answer', 'number' : record.position|default(0) }) %}
        {% elseif settings.rollover_thumbnail == 'preview' %}
            {% set tooltip = path('prod_tooltip_preview', { 'sbas_id' : record.databoxId, 'record_id' : record.recordId }) %}
        {% endif %}

        <div class="thumb captionTips" tooltipsrc="{{ tooltip }}" style="height:{{ settings.images_size }}px; z-index:90;">
            <div class="doc_infos">
                {% if settings.doctype_display == '1' %}
                    {{ record_doctype_icon(record) }}
                {% endif %}
                <span class="duration">
                    {% if record.type == 'video' and attribute(record.exif, constant('\\media_subdef::TC_DATA_DURATION')) is defined %}
                        {{ attribute(record.exif, constant('\\media_subdef::TC_DATA_DURATION')) }}
                    {% endif %}
                </span>
            </div>
            {% set rollover = record.subdefs.containsKey('thumbnailgif') %}
            {% set extraclass = '' %}
            <div class="{% if rollover %}rollovable{% endif %}">
                {% if rollover %}
                    {% set extraclass = 'rollover-gif-out' %}
                {% endif %}

                {{ result_macro.thumbnail(record, settings.images_size, settings.images_size, extraclass) }}

                {% if rollover %}
                    {% set extraclass = 'rollover-gif-hover' %}
                    {{ result_macro.thumbnailgif(record, settings.images_size, settings.images_size, extraclass) }}
                {% endif %}
            </div>
        </div>
        <div style="height: 25px; position:relative; text-align:left;">
            <table class="bottom" style="width:100%; table-layout:fixed;">
                <tr>
                    <td style="text-align:left;text-overflow:ellipsis;overflow:hidden;">
                        {{ record.collectionName }}
                        {{ collection_logo(record.baseId) }}
                    </td>

                    {% set l_width = 30 %}

                    {% if settings.rollover_thumbnail == 'preview' %}
                        {% set l_width = l_width + 20 %}
                    {% elseif settings.technical_display == '1' %}
                        {% set l_width = l_width + 20 %}
                    {% endif %}

                    {# drop down options #}
                    <td style='text-align:right;width:{{l_width}}px;' valign='bottom'>
                        <a style="float:right;padding:0;margin:0;cursor:pointer;" class="contextMenuTrigger" id="contextTrigger_{{record.id}}">&#9660;</a>
                        <table cellspacing="0" cellpadding="0" style="display:none;" id="answerContext_{{record.id}}" class="contextMenu answercontextmenu">
                            <tbody>
                            <tr>
                                <td>
                                    <div class="context-menu context-menu-theme-vista">
                                        {% if granted_on_collection(record.baseId, 'canputinalbum') and not record.story %}
                                            <div title="" class="context-menu-item">
                                                <div class="context-menu-item-inner"
                                                     onclick="evt_add_in_chutier('{{record.databoxId}}','{{record.recordId}}',false,this);return(false);">
                                                    {{ 'action : ajouter au panier' | trans }}
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if granted_on_collection(record.baseId, 'candwnldpreview') or granted_on_collection(record.baseId, 'candwnldhd') %}
                                            <div title="" class="context-menu-item">
                                                <div class="context-menu-item-inner"
                                                     onclick="evt_dwnl('{{record.id}}',false,this);return(false);">
                                                    {{ 'action : exporter' | trans }}
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div title="" class="context-menu-item">
                                            <div class="context-menu-item-inner"
                                                 onclick="evt_print('{{record.id}}');return(false);">
                                                {{ 'action : print' | trans }}
                                            </div>
                                        </div>
                                        {% if app['conf'].get(['registry', 'actions', 'social-tools']) == 'all'
                                                or (app['conf'].get(['registry', 'actions', 'social-tools']) == 'publishers'
                                                and granted_on_databox(record.databoxId, 'bas_chupub')) %}
                                            {% if record.story is empty %}
                                                <div title="" class="context-menu-item">
                                                    <div class="context-menu-item-inner"
                                                         onclick="shareThis('{{record.baseId}}','{{record.recordId}}');">
                                                        {{ 'reponses:: partager' | trans }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        {% if record.subdefs.containsKey('preview') and has_access_subdef(record, 'preview') %}
                            <div tooltipsrc="{{ path('prod_tooltip_preview', { 'sbas_id' : record.databoxId, 'record_id' : record.recordId }) }}" class="previewTips"></div>
                        {% endif %}

                        {% if settings.rollover_thumbnail == 'preview' %}
                            <div tooltipsrc="{{ path('prod_tooltip_caption', { 'sbas_id' : record.databoxId, 'record_id' : record.recordId, 'context' : 'answer', 'number' : record.position|default(0) }) }}" class="captionRolloverTips"></div>
                        {% endif %}

                        {% if settings.technical_display == '1' %}
                            <img class="infoTips" tooltipsrc="{{ path('prod_tooltip_technical_data', { 'sbas_id' : record.databoxId, 'record_id' : record.recordId }) }}" src="/skins/icons/info.gif"/>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
