{% macro widget_prototype(form) %}
    <div class="control-group well well-small action-block expose-block">
        <div class="expose-delete-btn">
            <p> <input type="button" class="btn btn-primary btn-red delete-expose"
                       value="{{ 'admin:phrasea-service-setting:tab:expose:: Delete' | trans }}"></p>
        </div>

        <div class="expose-config-block">
            <div class="control-group alert alert-info">
                {{ form_widget(form.activate_expose) }}
                {{ form_label(form.activate_expose) }}
            </div>

            <div class="control-group alert alert-info">
                {{ form_row(form.connection_kind) }}
            </div>
        </div>

        <div class="control-group">
            {{ form_row(form.expose_name) }}
        </div>

        <div class="control-group">
            {{ form_row(form.expose_front_uri) }}
        </div>

        <div class="control-group">
            {{ form_row(form.expose_base_uri) }}
        </div>

        <div class="control-group">
            {{ form_row(form.client_secret) }}
        </div>

        <div class="control-group">
            {{ form_row(form.client_id) }}
        </div>

        <div class="control-group auth-connection-field">
            <div>
                <span class="pull-left-btn">{{ 'admin:phrasea-service-setting:tab:expose:: add Mapping' | trans }}</span><input
                        type="button" class="btn btn-primary"
                        value="{{ 'admin:phrasea-service-setting:tab:expose:: Add mapping' | trans }}"></div>
        </div>

        <div class="control-group auth-connection-field">
            <div>
                <span class="pull-left-btn">{{ 'admin:phrasea-service-setting:tab:expose:: add user' | trans }}</span><input
                        type="button" class="btn btn-primary"
                        value="{{ 'admin:phrasea-service-setting:tab:expose:: Add user' | trans }}"></div>
        </div>

        <div class="expose-save-btn">
            <p><input type="button" class="btn btn-primary btn-grey test-connection"
                      value="{{ 'admin:phrasea-service-setting:tab:expose:: connection test' | trans }}">
            </p>
        </div>

    </div>
{% endmacro %}

<h2>{{ 'admin:phrasea-service-setting:tab:expose:: Expose setting' | trans }}</h2>

{{ form_start(form, {'action': path('ps_admin_expose')}) }}
<div class="expose-header">
    <div class="control-group">
        {{ form_widget(form.activated) }}
        {{ form_label(form.activated) }}
    </div>

    <div class="control-group text-center">
        <div><input id="add-new-expose" type="button" class="btn btn-primary " data-list="#expose-list"
                    value="admin:phrasea-service-setting:tab:expose:: Add a new expose interconnection">
        </div>
        <div style="position: fixed;top: 320px;right: 120px;">
            <input type="submit" class="btn btn-primary btn-green save-expose"
                   value="{{ 'admin:phrasea-service-setting:tab:expose:: Save' | trans }}">
        </div>

    </div>
</div>

<div id="expose-list"  data-prototype="{{ _self.widget_prototype(form.exposes.vars.prototype)|e('html_attr') }}" style="height:800px;overflow-y:auto;">
    {% for expose_connection in form.exposes %}
        {{ _self.widget_prototype(expose_connection) }}
    {% endfor %}
</div>

{{ form_end(form) }}

<script type="text/javascript">
    function exposeActivation() {
        if ($('input.activate-expose').prop('checked')) {
            $('#add-new-expose').removeAttr('disabled');
        } else {
            $('#add-new-expose').attr('disabled', 'disabled');
        }
    }
    $(document).ready(function () {
        exposeActivation();

        $('input.activate-expose').on('change', function () {
            exposeActivation();
        });

        $('#add-new-expose').on('click', function () {
            collectionHolder = $('#expose-list');
            prototype = collectionHolder.attr('data-prototype');
            var newExpose = prototype.replace(/__name__/g, collectionHolder.children('.control-group').length);
            collectionHolder.append(newExpose);
        });

        $('#expose-list').on('click', '.delete-expose', function () {
            $(this).closest('.expose-block').remove();
        });

        // $('#expose-list').on('click', '.auth-connection', function () {
        //     if ($(this).prop('checked')) {
        //         $(this).closest('.expose-block').find('.auth-connection-field').show();
        //     } else {
        //         $(this).closest('.expose-block').find('.auth-connection-field').hide();
        //     }
        //
        // });
    });

</script>
