{% macro fieldInput(field, form_name, icon_name, custom_attributes, validation_messages) %}
    {% set input_name = field.vars.name %}

    {% set validation_messages = {
            "required_message" : "This field is required" |trans,
            "is_valid_message" : "This field is not valid"|trans,
            "validate_message" : "This field is not valid"|trans
        }|merge(validation_messages|default({}))
    %}

    {% set attributes = custom_attributes|default({})|merge({
            'class': app['browser'].getBrowser() == constant('Browser::BROWSER_IE') and app['browser'].getVersion() <= 8  ? '' : 'input-block-level',
            'ng-model' : input_name|camelize,
            'force-model-update' : ''
        })
    %}

    {{ form_label(field) }}

    <table class="input-table" ng-class="getInputClass('{{ input_name }}')">
        <tr>
            <td class="icon">
                <i class="{{ icon_name|default('icon-angle-right') }} icon-white"></i>
            </td>
            <td class="input">
                {{  form_widget(field, { 'attr': attributes })}}
            </td>
        </tr>
    </table>

    {% if field.vars.required %}
        <div ng-show="!{{ form_name }}.{{ input_name }}.errors.filled">
            {{ _self.fieldError(validation_messages.required_message) }}
        </div>
    {% endif %}

    <div ng-show="{{ form_name }}.{{ input_name }}.errors.filled && !{{ form_name }}.{{ input_name }}.errors.valid">
        {{ _self.fieldError(validation_messages.is_valid_message) }}
    </div>

    {% if attributes['ui-validate'] is defined %}
        <div ng-show="{{ form_name }}.{{ input_name }}.$error.validator">
            {{ _self.fieldError(validation_messages.validate_message) }}
        </div>
    {% endif %}

    {{ form_errors(field) }}
{% endmacro %}

{% macro checkboxInput (field, label = '') %}
    <div class="hidden-phone control-group">
        <div class="controls">
            <label for="{{ field.vars.id }}" class="checkbox">
                {{  form_widget(field) }}

                {{ label | default(field.vars.label) }}
            </label>
        </div>
    </div>
    <div class="visible-phone switch-control">
        <ul class="unstyle inline">
            <li>
                <div class="switch switch-small">
                    {{  form_widget(field) }}
                </div>
            </li>
            <li>{{ label | default(field.vars.label) }}</li>
        </ul>
    </div>
{% endmacro %}

{% macro providerList() %}
    <ul class="unstyled inline provider-list">
        {% for provider in app['authentication.providers'] %}
        <li>
            <a href="{{ path('login_authentication_provider_authenticate', { 'providerId' : provider.getId() } ) }}">
                <img src="{{ provider.getIconURI() }}" />
            </a>
        </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro fieldError(errors) %}
    <div class="hidden-phone popover bottom field-error">
        <div class="arrow"></div>
        <div class="popover-content">
            <table>
                <tr>
                    <td style="width:35px;"><i class="icon-warning-sign icon-white"></i></td>
                        {% if errors|keys|length >= 1 %}
                            {% for error in errors %}
                                <td>
                                    {{ error.message }}
                                </td>
                            {% endfor %}
                        {% else %}
                            <td>{{ errors}}</td>
                        {% endif %}
                    </tr>
            </table>
        </div>
    </div>

    <span class="visible-phone text-error help-block help-block-error">
        {% if errors|keys|length >=  1 %}
            {% for error in errors %}
                {{ error.message }}
            {% endfor %}
        {% else %}
            {{ errors }}
        {% endif %}
    </span>
{% endmacro %}

{% macro providerBadge(token) %}
    <div class="{{ token.getProvider().getId() }}-badge no-overflow provider-badge rounded">
        <table>
            <tr>
                <td style="width:55px;">
                    <img src="{{  token.getIdentity().getImageURI() }}"/>
                </td>
                <td>
                    <ul class="unstyled">
                        <li class="pseudo one-line">
                            <b>{{ token.getIdentity().getDisplayName() | default(token.getIdentity().getUserName()) }}</b>
                        </li>
                        <li class="email one-line">
                            {{ token.getIdentity().getEmail() }}
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
{% endmacro %}

{% macro phraseanetBadge(user) %}
    <div class="authentication-user-pres-phraseanet well">
        <ul class="unstyled">
            <li class="one-line">
                <i class="icon-user"></i>{{ user.get_display_name() }}
            </li>
            {% if user.get_email() %}
            <li class="one-line">
                <i class="icon-envelope"></i>{{ user.get_email() }}
            </li>
            {% endif %}
            {% if user.get_company() %}
            <li class="one-line">
                <i class="icon-briefcase"></i>{{ user.get_company() }}
            </li>
            {% endif %}
        </ul>
    </div>
{% endmacro %}

{% macro flashes() %}
    {% for type in ["warning", "info", "success", "error"] %}
        {% for message in app.getFlash(type) %}
            <phraseanet-flash type="{{ type }}">{{ message }}</phraseanet-flash>
        {% endfor %}
    {% endfor %}
{% endmacro %}
