{% macro audio_player(thumbnail, url, original_w, original_h, fit) %}
    {% set random = thumbnail.get_random() %}
    <div class="record record_audio audioTips" style="width:{{fit.width}}px;height:{{fit.height}}px;top:{{fit.top}}px;">
        <div id="preview_{{thumbnail.get_sbas_id()}}_{{thumbnail.get_record_id()}}_{{random}}" class="PNB" style=""></div>
        <input type="hidden" name="width" value="{{original_w}}"/>
        <input type="hidden" name="height" value="{{original_h}}"/>
    </div>
    <script type="text/javascript">
        swfobject.embedSWF(
                "/include/jslibs/audio-player/player.swf",
                "preview_{{thumbnail.get_sbas_id()}}_{{thumbnail.get_record_id()}}_{{random}}",
                "{{d_width}}", "{{d_height}}", "9.0.0", false, false, {
                    menu: "false",
                    flashvars: "playerID=2&autostart=yes&noinfo=yes&animation=no&remaining=yes&soundFile={{url}}",
                    movie: "/include/jslibs/audio-player/player.swf",
                    allowFullScreen :"true",
                    wmode: "transparent"
                }, false
        );
    </script>
{% endmacro %}
