{% if basket_element and basket_element.getBasket().getValidation() %}
    <div class="left choices">
        <table style="margin-left:10px;width:220px;height:30px;" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td class="title">{% trans 'VALIDATION' %}</td>
                    <td class="report_wrapper">
                      <a class="report" href="#">
                        {% trans 'lightbox::recaptitulatif' %}
                      </a>
                    </td>
                </tr>
            </tbody>
        </table>
    {% if basket.getValidation() %}
        <div style="margin-left:10px;width:220px;">
          {{ basket.getValidation().getValidationString(user) }}
        </div>
        <ul style="margin:10px 0 0 20px;width:200px;">
            {% for validation_data in basket_element.getValidationData() %}
                {% if validation_data.getAgreement() == true %}
                    {% set classuser = 'agree' %}
                {% elseif validation_data.getAgreement() == false %}
                    {% set classuser = '' %}
                {% else %}
                    {% set classuser = 'disagree' %}
                {% endif %}
                <li class="{% if validation_data.getParticipant().getUser().get_id() == user.get_id() %}me{% endif %} {{classuser}} userchoice">
                  {{ validation_data.getParticipant().getUser().get_display_name }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if basket_element and basket_element.getBasket().getValidation() %}
        <div class="left choices">
            <div style="height:60px;margin-top:15px;">
                <table cellspacing="0" cellpadding="0" style="width:230px;">
                    <tr>
                        <td>
                            <div style="width:70px;margin:0px auto 0;" class="ui-corner-all big_box agree_{{basket_element.getId()}} agree {% if basket_element.getValidationData().getParticipant(user).getAgreement() != true %}not_decided{% endif %}">
                                <img src="/skins/lightbox/agree-bigie6.gif" style="vertical-align:middle;"/><span>{% trans 'validation:: OUI' %}</span>
                            </div>
                        </td>
                        <td>
                            <div style="width:70px;margin:0px auto;" class="ui-corner-all big_box disagree_{{basket_element.get_sselcont_id()}} disagree {% if basket_element.getValidationData().getParticipant(user).getAgreement() != false %}not_decided{% endif %}">
                                <img src="/skins/lightbox/disagree-bigie6.gif" style="vertical-align:middle;"/><span>{% trans 'validation:: NON' %}</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    {% endif %}
    </div>
{% endif %}
