<span style="padding:10px 4px 7px;">
    {% if feed_element %}
        <button class="previous_button play" title="{{ 'boutton::precedent' | trans }}">
            <img src="/assets/lightbox/images/previe6.png" />
        </button>
        <button class="previous_button pause" title="{{ 'boutton::precedent' | trans }}">
            <img src="/assets/lightbox/images/prev_pauseie6.png" />
        </button>
        <button class="play_button" title="{{ 'boutton::demarrer' | trans }}">
            <img src="/assets/lightbox/images/playie6.png" />
        </button>
        <button class="pause_button" title="{{ 'boutton::pause' | trans }}">
            <img src="/assets/lightbox/images/pauseie6.png" />
        </button>
        <button class="next_button play" title="{{ 'boutton::suivant' | trans }}">
            <img src="/assets/lightbox/images/nextie6.png" />
        </button>
        <button class="next_button pause" title="{{ 'boutton::suivant' | trans }}">
            <img src="/assets/lightbox/images/next_pauseie6.png" />
        </button>
        <button class="download_button" title="{{ 'boutton::telecharger' | trans }}">
            <img src="/assets/lightbox/images/saveie6.png"/>
        </button>
        <form name="download_form" style="display:none;">
            <input type="hidden" name="basrec" value="{{feed_element.getRecord(app).get_serialize_key()}}"/>
        </form>
         |
    {% endif %}
</span>

