
{% block basket %}
<div id="sc_container">
    {% for element in basket.get_elements() %}
        <div class="basket_element_wrapper">
      <a href="/lightbox/ajax/LOAD_BASKET_ELEMENT/{{element.get_sselcont_id()}}/">
            <div id="scid_{{element.get_sselcont_id()}}" class="basket_element ui-corner-all {% if basket_element and basket_element.get_sselcont_id() == element.get_sselcont_id() %}selected{% endif %}">
                <div class="display_id">{{element.get_record().get_number()}}</div>
                {% if basket.is_valid() %}
                    <div class="agreement">
                        <img src="/skins/lightbox/agreeie6.gif"
                            class="agree_button {%if element.get_my_agreement() != 1 %}not_decided{%endif%} agree_{{element.get_sselcont_id()}}" />
                        <img src="/skins/lightbox/disagreeie6.gif"
                            class="disagree_button {%if element.get_my_agreement() != -1 %}not_decided{%endif%} disagree_{{element.get_sselcont_id()}}" />
                    </div>
                {% endif %}
                {{thumbnail.format(element.get_record().get_thumbnail,114,85, '', session, true)}}
                <form name="download_form" class="download_form" style="display:none;">
                    <input type="hidden" name="basrec" value="{{element.get_record().get_serialize_key()}}"/>
                </form>
        <div tooltipsrc="/prod/tooltip/preview/{{element.get_record().get_sbas_id()}}/{{element.get_record().get_record_id()}}/" class="previewTips"></div>
            </div>
      </a>
        </div>
    {% endfor %}
</div>

{% endblock basket %}
