
{% block basket %}
<div id="sc_container">
    {% for element in basket.getElements() %}
        <div class="basket_element_wrapper">
      <a href="/lightbox/ajax/LOAD_BASKET_ELEMENT/{{element.getId()}}/">
            <div id="scid_{{element.getId()}}" class="basket_element ui-corner-all {% if basket_element and basket_element.getId() == element.getId() %}selected{% endif %}">
                <div class="display_id">{{element.getRecord().get_number()}}</div>
                {% if basket.getValidation() %}
                    <div class="agreement">
                        <img src="/skins/lightbox/agreeie6.gif"
                            class="agree_button {% if element.getValidationDatas.getUserValidationDatas(user).getAgreement() != true %}not_decided{%endif%} agree_{{element.getId()}}" />
                        <img src="/skins/lightbox/disagreeie6.gif"
                            class="disagree_button {% if element.getValidationDatas.getUserValidationDatas(user).getAgreement() != false %}not_decided{%endif%} disagree_{{element.getId()}}" />
                    </div>
                {% endif %}
                {{thumbnail.format(element.getRecord().get_thumbnail,114,85, '', session, true)}}
                <form name="download_form" class="download_form" style="display:none;">
                    <input type="hidden" name="basrec" value="{{element.getRecord().get_serialize_key()}}"/>
                </form>
        <div tooltipsrc="/prod/tooltip/preview/{{element.getRecord().get_sbas_id()}}/{{element.getRecord().get_record_id()}}/" class="previewTips"></div>
            </div>
      </a>
        </div>
    {% endfor %}
</div>

{% endblock basket %}
