{% extends "lightbox/index_layout.html.twig" %}

{% import 'common/thumbnail.html.twig' as thumbnail %}
{% import 'common/macros.html.twig' as macro %}

{% block javascript %}
    <script type="text/javascript" src="/assets/common/js/common{% if not app.debug %}.min{% endif %}.js"></script>
    <script type="text/javascript" src="/assets/lightbox/js/lightboxIe6{% if not app.debug %}.min{% endif %}.js"></script>
{% endblock %}

{% block content %}
    {% set basket_element = basket.getElements().first() %}
    <div id="innerWrapper" style="top:10px;left:10px;position:relative;width:100%;height:100%;">
        <div id="innerTop" style="bottom:186px;position:relative;bottom:0;width:100%;">
            <div id="record_wrapper" class="single PNBleft" style="overflow:hidden;">
                <div id="record_main" class="record_display_box PNBleft" style="">
                    <div class="header ui-widget-header ui-corner-all left">
                        <table cellspacing="0" cellpadding="0" border="0" style="width:100%;height:100%;">
                            <tr valign="middle">
                                <td style="width:10px;"></td>
                                <td style="width:35px;text-align:center;">
                                    <div class="display_id">{% if basket_element %}{{basket_element.getOrd()}}{% endif %}</div>
                                </td>
                                <td style="text-align:left;width:auto;">
                                    <div class="title title15" title="{% if basket_element %}{{basket_element.getRecord(app).get_title}}{% endif %}">
                                        {% if basket_element %}{{basket_element.getRecord(app).get_title}}{% endif %}
                                    </div>
                                </td>
                                <td style="text-align:right;width:230px;">
                                    <div class="options">
                                        {% include 'lightbox/IE6/sc_options_box.html.twig' %}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="lightbox_container left">
                        {% if basket_element %}

                            {% set bask_prev = basket_element.getRecord(app).get_preview() %}

                            {% set width = bask_prev.get_width() %}
                            {% set height = bask_prev.get_height() %}

                            {{ thumbnail.format(bask_prev, width,height, '', false, false) }}

                        {% endif %}
                        {% include 'lightbox/selector_box.html.twig' %}
                        {% include 'lightbox/sc_note.html.twig' %}
                    </div>
                </div>
                <div id="record_compare" class="record_display_box PNBleft">
                    <div class="header ui-widget-header ui-corner-all left">
                        <table cellspacing="0" cellpadding="0" border="0" style="width:100%;height:100%;">
                            <tr valign="middle">
                                <td style="width:10px;"></td>
                                <td style="width:35px;text-align:center;">
                                    <div class="display_id"></div>
                                </td>
                                <td style="text-align:left;width:auto;">
                                    <div class="title title15" title="{% if basket_element %}{{basket_element.getRecord(app).get_title}}{% endif %}">
                                        {% if basket_element %}{{basket_element.getRecord(app).get_title}}{% endif %}
                                    </div>
                                </td>
                                <td style="text-align:right;width:230px;">
                                    <div class="options"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="lightbox_container left">
                    </div>
                </div>
            </div>
            <div id="right_column" class="PNBleft" style="width:250px;overflow-y:scroll;overflow-x:hidden;background-color:#1f1e1b;">
                <div class="right_column_title unselectable left" style="width:230px;height:30px;">
                    <table style="border:none;width:215px;height:30px;" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>
                                <img class="collapsed" src="/assets/lightbox/images/collapsedie6.gif"/>
                                <span class="caption">{{ 'notice' | trans }}</span>
                            </td>
              {% if basket.getValidation() %}
                            <td>
                                <img class="collapsed" src="/assets/lightbox/images/collapsedie6.gif"/>
                                <span class="validate highlight">{{ 'Validation' | trans }}</span>
                            </td>
              {% endif %}
                        </tr>
                    </table>
                </div>

                <div class="right_column_wrapper right_column_wrapper_caption left unselectable" style="width:230px;height:auto;{% if basket.getValidation() %}display:none;{% endif %}">
                    <div id="record_infos">
                        <div class="lightbox_container">
              {% if basket_element %}
                {% set business = app.getAclForUser(app.getAuthenticatedUser()).has_right_on_base(basket_element.getRecord(app).get_base_id(), constant('\\ACL::CANMODIFRECORD')) %}
                {{macro.caption(basket_element.getRecord(app), business, false)}}
              {% endif %}
            </div>
                    </div>
                </div>
        {% if basket.getValidation() %}
                <div style="width:230px;height:auto;" id="basket_infos" class="right_column_wrapper unselectable right_column_wrapper_user left">
                            {% include 'lightbox/IE6/agreement_box.html.twig' %}
                    <div id="basket_options" class="ui-corner-all unselectable left" style="height:35px;xmargin-top:10px;">
                        {% include 'lightbox/IE6/basket_options.html.twig' %}
                    </div>
                </div>
        {% endif %}
            </div>
        </div>
        <div id="innerBottom" style="position:relative;bottom:0;width:100%;height:196px;">
            <div class="" style="height:30px;width:100%;">
                <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <select id="navigation">
                                <optgroup label="{{ 'Validations' | trans }}">
                                {% for item in baskets_collection %}
                                    {% if item.getValidation() %}
                                        <option {% if basket.getId() == item.getId() %} selected="selected" {% endif %}
                                            value="{{item.getId()}}">{{item.getName()}}</option>
                                    {% endif %}
                                {% endfor %}
                                </optgroup>
                                <optgroup label="{{ 'Paniers' | trans }}">
                                {% for item in baskets_collection %}
                                  {% if item.getValidation() is null %}
                                      <option {% if basket.getId() == item.getId() %} selected="selected" {% endif %}
                                          value="{{item.getId()}}">{{item.getName()}}</option>
                                  {% endif %}
                                {% endfor %}
                                </optgroup>
                            </select>
                            <button class="ui-corner-all basket_downloader" title="{{ 'boutton::telecharger tous les documents' | trans }}">
                                <img src="/assets/lightbox/images/save.png"/>
                            </button>
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="" style="width:100%;position:relative;height:166px;overflow-x:hidden;overflow-y:hidden;">
                <div class="" id="sc_wrapper" style="width:100%;position:relative;overflow-x:auto;overflow-y:hidden;">
                    {% include 'lightbox/IE6/sc_container.html.twig' %}
                </div>
            </div>
        </div>
    </div>
    <div id="report" style="display:none;">
    </div>
    <div id="dialog_dwnl" title="{{ 'action : exporter' | trans }}" style="display:none;"></div>

{% endblock %}


