{% extends "login/layout/sidebar-layout.html.twig" %}

{% import "login/common/macros.html.twig" as auth_macro %}

{% block sidebar %}
    <div class="well-large sidebar-block last-item">
        <div class="row-fluid">
            <div class="span12 authentication-sidebar-title">
                <div class="text-title">{% trans "Choose a new password" %}</div>
            </div>
        </div><!-- /row -->
        <div class="row-fluid">
             <div class="span12" ng-controller="passwordChangeFormCtrl">
                 <form novalidate name="passwordChangeForm" ng-submit="submit();">
                     <div class="row-fluid">
                          <div class="span12">
                               <label for="login-password">
                                    {% trans "Password" %}*
                                </label>
                                <table class="input-table" ng-class="getInputClass('password')">
                                    <tr>
                                        <td class="icon"><i class="icon-lock icon-white"></i></td>
                                        <td>
                                            <input
                                                id="login-password"
                                                name="password"
                                                value=""
                                                class="input-block-level"
                                                type="password"
                                                placeholder=""
                                                required
                                                ng-model="password"
                                                force-model-update
                                            >
                                        </td>
                                    </tr>
                                </table>
                                <div ng-show="!passwordChangeForm.password.errors.filled">
                                    {{ auth_macro.fieldError("This field is required") }}
                                </div>
                                {#{% verbatim %}
                                <tt>passwordChangeForm.password.$valid = {{passwordChangeForm.password.$valid}}</tt><br>
                                <tt>passwordChangeForm.password.$error = {{passwordChangeForm.password.$error}}</tt><br>
                                <tt>passwordChangeForm.$valid = {{passwordChangeForm.$valid}}</tt><br>
                                <tt>passwordChangeForm.password.errors.filled = {{passwordChangeForm.password.errors.filled}}</tt><br>
                                {% endverbatim %}#}

                          </div>
                    </div>
                     <div class="row-fluid">
                        <div class="span12">
                            <label for="login-password-confirm">
                                    {% trans "Confirm your password" %}*
                            </label>
                            <table class="input-table" ng-class="getInputClass('passwordConfirm')">
                                <tr>
                                    <td class="icon"><i class="icon-lock icon-white"></i></td>
                                    <td>
                                        <input
                                            id="login-password-confirm"
                                            name="passwordConfirm"
                                            value=""
                                            class="input-block-level"
                                            type="password"
                                            placeholder=""
                                            required
                                            ng-model="passwordConfirm"
                                            force-model-update
                                            ui-validate=" '$value==password' "
                                            ui-validate-watch=" 'password' "
                                        >
                                    </td>
                                </tr>
                            </table>
                            <div ng-show="passwordChangeForm.passwordConfirm.$error.validator">
                                {{ auth_macro.fieldError("Passwords do not match!") }}
                            </div>
                            {#{% verbatim %}
                            <tt>passwordChangeForm.passwordConfirm.$valid = {{passwordChangeForm.passwordConfirm.$valid}}</tt><br>
                            <tt>passwordChangeForm.passwordConfirm.$error = {{passwordChangeForm.passwordConfirm.$error}}</tt><br>
                            <tt>passwordChangeForm.$valid = {{passwordChangeForm.$valid}}</tt><br>
                            <tt>passwordChangeForm.passwordConfirm.errors.filled = {{passwordChangeForm.passwordConfirm.errors.filled}}</tt><br>
                            <tt>passwordChangeForm.passwordConfirm.$error.validator = {{passwordChangeForm.passwordConfirm.$error.validator}}</tt><br>
                            {% endverbatim %}#}
                        </div>
                    </div>


                   <div class="row-fluid">
                        <div class="span12">
                            <button type="submit" class="btn btn-success btn-trigger ">{% trans "Validate" %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /row -->
    </div>
{% endblock %}
