{% extends "login/layout/sidebar-layout.html.twig" %}

{% import "login/common/macros.html.twig" as auth_macro %}

{% block sidebar %}
    <div class="well-large sidebar-block last-item">
        <div class="row-fluid">
            <div class="span12">
                <div class="text-title">{% trans "Forgot your password?" %}</div>
                <div class="sidebar-hint">
                    {% trans "Enter your e-mail address to retrieve your password" %}
                </div>
            </div>
        </div><!-- /row -->
        <div class="row-fluid">
             <div class="span12" ng-controller="forgottenPasswordFormCtrl">
                 <form novalidate name="forgottenPasswordForm" ng-submit="submit();">
                     <div class="row-fluid">
                        <div class="span12">
                            <div class="span12">
                                <label for="login-email">
                                    {% trans "E-mail" %}*
                                </label>
                                <table class="input-table" ng-class="getInputClass('email')">
                                    <tr>
                                        <td class="icon"><i class="icon-envelope icon-white"></i></td>
                                        <td>
                                            <input
                                                id="login-email"
                                                name="email"
                                                value=""
                                                class="input-block-level"
                                                type="email"
                                                placeholder=""
                                                required
                                                ng-model="email"
                                                force-model-update
                                            >
                                        </td>
                                    </tr>
                                </table>
                                <div ng-show="!forgottenPasswordForm.email.errors.filled">
                                    {{ auth_macro.fieldError("This field is required") }}
                                </div>
                                <div ng-show="forgottenPasswordForm.email.errors.filled && !forgottenPasswordForm.email.errors.valid">
                                    {{ auth_macro.fieldError("Thes field is not valid") }}
                                </div>
                                  {#{% verbatim %}
                                <tt>forgottenPasswordForm.email.$valid = {{forgottenPasswordForm.email.$valid}}</tt><br>
                                <tt>forgottenPasswordForm.email.$error = {{forgottenPasswordForm.email.$error}}</tt><br>
                                <tt>forgottenPasswordForm.$valid = {{forgottenPasswordForm.$valid}}</tt><br>
                                <tt>forgottenPasswordForm.email.errors.filled = {{forgottenPasswordForm.email.errors.filled}}</tt><br>
                                <tt>forgottenPasswordForm.email.errors.valid = {{forgottenPasswordForm.email.errors.valid}}</tt><br>
                                {% endverbatim %}#}
                          </div>
                        </div>
                     </div>
                      <div class="row-fluid">
                        <div class="span12">
                            <button id="submit-form-login" type="submit" class="btn span12  btn-success btn-trigger">{% trans "Send" %}</button>
                        </div>
                     </div>
                </form>
            </div>
        </div><!-- /row -->
{% endblock %}
        
