{% extends 'account/base.html.twig' %}


{% block title %}
    {% trans 'admin::compte-utilisateur changer mon mot de passe' %}
{% endblock %}

{% block head %}

<script type="text/javascript" language="javascript" src="/include/minify/f=include/jslibs/jquery.validate.js,include/jslibs/jquery.validate.password.js"></script>

<script type="text/javascript" >
{% if tokenize %}
    $(document).ready(function() {
        $.validator.passwordRating.messages = {
            "similar-to-username": "{% trans 'forms::le mot de passe est trop similaire a l\'identifiant' %}",
            "too-short": "{% trans 'forms::la valeur donnee est trop courte' %}",
            "very-weak": "{% trans 'forms::le mot de passe est trop simple' %}",
            "weak": "{% trans 'forms::le mot de passe est trop simple' %}",
            "good": "{% trans 'forms::le mot de passe est bon' %}",
            "strong": "{% trans 'forms::le mot de passe est tres bon' %}"
        }

        $("#password-reset").validate(
        {
            rules: {
                form_password_confirm: {
                    required:true
                }
            },
            messages: {
                form_password_confirm : {
                    equalTo:'{% trans 'forms::les mots de passe ne correspondent pas' %}'
                }
            },
            errorPlacement: function(error, element) {
                error.prependTo( element.parent().parent().next().find('.form_alert') );
            }
        });

        $('#form_password').rules("add",{
            password: "#form_login"
        });

        $('#form_password_confirm').rules("add",{
            equalTo: "#form_password"
        });

        $("#form_password").valid();
    });
{% endif %}
</script>
{% endblock %}

{% block menu %}

{% endblock %}

{% block content %}

{% if tokenize %}

    {% if app.request.get('salt') %}
        <div class="notice" style="text-align: center; margin: 20px 40px; padding: 10px; font-weight: bold; font-size: 14px;">
            {% trans 'Pour ameliorer la securite de l\'application, vous devez mettre a jour votre mot de passe.' %}<br/>
            {% trans 'Cette tache ne pouvant etre automatisee, merci de bien vouloir la realiser.' %}
        </div>
    {% endif %}

    <form name="send" action="/login/forgot-password/" method="POST" id="password-reset" style="width: 600px; margin: 0 auto;">
        <table cellspacing="0" cellpadding="0" border="0">
            <tr style="height: 30px;">
                <td style="width: 33%;"><label for="form_password">{% trans 'admin::compte-utilisateur nouveau mot de passe' %} :</label></td>
                <td style="width: 33%;">
                    <div class="form_input">
                        <input autocomplete="off" type="password" value="" id="form_password" name="form_password"/>
                    </div>
                </td>
                <td style="width: 33%;">
                    <div class="form_alert">
                        {% if passwordMsg is not none  %}
                            {{ passwordMsg }}
                        {% endif %}
                        <div class="password-meter">
                            <div class="password-meter-message">&nbsp;</div>
                            <div class="password-meter-bg">
                                <div class="password-meter-bar"></div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td>
                    <label for="form_password" >{% trans 'admin::compte-utilisateur confirmer le mot de passe' %} :</label></td>
                <td>
                    <div class="form_input">
                        <input autocomplete="off" type="password" value="" id="form_password_confirm" name="form_password_confirm"/>
                    </div>
                </td>
                <td>
                    <div class="form_alert">
                        {% if passwordMsg is not none  %}
                            {{ passwordMsg }}
                        {% endif %}
                    </div>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td></td>
                <td>
                    <input type="hidden" value="{{ app.request.get('token') }}" name="token"/>
                    <input type="submit" value="valider"/>
                </td>
                <td>
                    <a class="link" href="/" target="_self">{% trans 'login:: Retour a l\'accueil' %}</a>
                </td>
            </tr>
        </table>
    </form>

{% endif %}

{% if not tokenize %}
    <form name="send" action="/login/forgot-password/" method="POST" style="width: 600px; margin: 0 auto;">
        {% if errorMsg is not none  %}
            <div style="background:#00a8FF;">{{ errorMsg }}</div>
        {% endif %}

        {% if sentMsg is not none %}
            <div style="background:#00a8FF;">{{ sentMsg }}</div>
        {% endif %}

        <div style="margin-top: 20px; font-size: 16px; font-weight: bold;">
            {% trans 'login:: Forgot your password' %}
        </div>
        <div style="margin-top: 20px;">
            {% trans 'login:: Entrez votre adresse email' %}
        </div>
        <div style="margin-top: 20px;">
            <input name="mail" type="text" style="width:100%">
        </div>
        <div style="margin-top: 10px;">
            <input type="submit" value="{% trans 'boutton::valider' %}"/>
            <a style="margin-left: 120px;" class="link" href="/" target="_self">{% trans 'login:: Retour a l\'accueil' %}</a>
        </div>
    </form>
{% endif %}

{% endblock %}
