        <title>{{module_name}}</title>
        <meta content="{{meta_description}}" name="description"/>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta content="{{meta_keywords}}" name="keywords"/>
        <meta content="phraseanet" name="generator"/>

{% for feed in feeds %}
    {% set link = feed.get_homepage_link(registry, 'rss') %}
    <link rel="alternate" type="{{ link.get_mimetype() }}" title="{{ link.get_title() }}" href="{{ link.get_href() }}" />
    {% set link = feed.get_homepage_link(registry, 'atom') %}
    <link rel="alternate" type="{{ link.get_mimetype() }}" title="{{ link.get_title() }}" href="{{ link.get_href() }}" />
{% endfor %}

        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <link REL="stylesheet" TYPE="text/css" HREF="/login/home.css" />
        <script type="text/javascript" language="javascript" src="/include/minify/f=include/jslibs/jquery-1.5.2.js,include/jslibs/jquery.cookie.js,login/home.js"></script>
