<div style="height:130px;position:relative;">
        <div style="height:95px;width:220px;float:right;margin:25px 10px 0;">
                <div style="margin-top:0px;height:20px;">
                    {{login.get_register_link|raw}}
                    {{login.get_guest_link|raw}}
                </div>
                <div style="margin-top:10px;height:20px;">
                  <a target="_self" class="link" rel="external" href="/account/forgot-password/">
                    {% trans 'login:: Forgot your password' %}
                  </a>
                </div>
                <div style="margin-top:10px;height:25px;">
                    <div style="float:left;text-align:left;">
                        <input {% if maintenance == true %}disabled{% endif %} tabindex="5"
                            type="submit" value="{% trans 'login:: connexion' %}"/>
            <input tabindex="4" class="checkbox" type="checkbox" name="remember" id="remember-me" value="1" />
            <label for="remember-me">{% trans 'login::Remember me' %}</label>
                    </div>
                </div>
        </div>
        {{captcha_system|raw}}
        <div style="height:110px;width:310px;float:right;margin:10px 20px 0 10px;">
                <div>
          <div class="notice notice_cookie" style="display:none;">
            {% trans 'login::erreur: Les cookies sont desactives sur votre navigateur' %}
          </div>
          {% if logged_out == 'user' %}
          <div class="notice">
            {% trans 'Vous etes maintenant deconnecte. A bientot.' %}
          </div>
          {% endif %}
                    {{errorWarning|raw}}{{confirmWarning|raw}}
                </div>
                <div style="margin-top:10px;">
                    <div style="margin-top:3px;">{% trans 'admin::compte-utilisateur identifiant' %}</div>
                    <div style="margin-top:3px;">
                        <input {% if maintenance == true %}disabled{% endif %} tabindex="1" name="login"
                            id="login" type="text" style="width:100%" />
                    </div>
                </div>
                <div style="margin-top:10px;">
                    <div style="margin-top:3px;">{% trans 'admin::compte-utilisateur mot de passe' %}</div>
                    <div style="margin-top:3px;"><input {% if maintenance == true %}disabled{% endif %} tabindex="2" name="pwd" id="pwd"
                        value="" type="password" style="width:100%" />
                    </div>
                </div>
        </div>
</div>
<div style="height:360px;margin-top:0px;">
    <object id="o"
      classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
      width="930"
      height="360">
        <param name="wmode" value="transparent">
        <param name="movie"
          value="http{{ request.is_secure() ? 's' : '' }}://apps.cooliris.com/embed/cooliris.swf" />
        <param name="allowFullScreen" value="true" />
        <param name="allowScriptAccess" value="always" />
        <param name="flashvars"
          value="feed=/feeds/cooliris/&glowColor=#0077BC&style=dark&backgroundColor=#000000&showChrome=false&showEMbed=false&showSearch=false" />
        <embed wmode="transparent" type="application/x-shockwave-flash"
          src="http{{ request.is_secure() ? 's' : '' }}://apps.cooliris.com/embed/cooliris.swf"
          flashvars="feed=/feeds/cooliris/&glowColor=#0077BC&style=dark&backgroundColor=#000000&showChrome=false&showEMbed=false&showSearch=false"
          width="930"
          height="360"
          allowFullScreen="true"
          allowScriptAccess="always">
          </embed>
    </object>
</div>
