
<div style="width:545px;float:left;position:relative;height:490px;">
    <div style="margin:10px 0 0 10px;position:relative;float:left;">
            <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
                codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
                width="525" height="470" align="top" id="slideshow_as2" >
            <param name="allowScriptAccess" value="sameDomain" />
            <param name="movie" value="/include/player_homelink.swf" />
            <param name="quality" value="high" />
            <param name="wmode" value="transparent" />
            <param name="flashvars" value="xmls=/feeds/aggregated/rss/?zh=470&amp;zw=525" />
            <embed flashvars="xmls=/feeds/cooliris/?zh=470&amp;zw=525" src="/include/player_homelink.swf"
                quality="high" bgcolor="#000000" width="525" height="470" name="slideshow_as2" align="top"
                allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
            </object>
    </div>
</div>

<div style="width:370px;float:right;height:490px;position:relative;">
        <div style="margin:60px 25px 0 15px;">
            <div>
        <div class="notice notice_cookie" style="display:none;">
          {% trans 'login::erreur: Les cookies sont desactives sur votre navigateur' %}
        </div>
        {% if logged_out == 'user' %}
        <div class="notice">
          {% trans 'Vous etes maintenant deconnecte. A bientot.' %}
        </div>
        {% endif %}
                {{errorWarning|raw}}{{confirmWarning|raw}}
            </div>
            <div style="margin-top:20px;">
                <div style="margin-top:3px;">{% trans 'admin::compte-utilisateur identifiant' %}</div>
                <div style="margin-top:3px;"><input {% if maintenance == true %}disabled{% endif %} tabindex="1" name="login"
                    id="login" value="" type="text" style="width:100%" /></div>
            </div>
            <div style="margin-top:20px;">
                <div style="margin-top:3px;">{% trans 'admin::compte-utilisateur mot de passe' %}</div>
                <div style="margin-top:3px;"><input {% if maintenance == true %}disabled{% endif %} tabindex="2" name="pwd"
                    id="pwd" value="" type="password" style="width:100%" /></div>
                <div style="text-align:right;margin-top:3px;">
                  <a target="_self" class="link" rel="external" href="/account/forgot-password/">
                    {% trans 'login:: Forgot your password' %}
                  </a>
                </div>
            </div>
            {{captcha_system|raw}}
            <div style="margin-top:10px;">
                <div><input tabindex="4" class="checkbox" type="checkbox" name="remember" id="remember-me" value="1" />
                    <label for="remember-me">{% trans 'login::Remember me' %}</label></div>
            </div>
            <div style="margin-top:10px;height:25px;">
                <div style="float:right;text-align:right;"><input {% if maintenance == true %}disabled{% endif %}
                    tabindex="5" type="submit" value="{% trans 'login:: connexion' %}"/></div>
            </div>
            <div style="margin-top:20px;">
               {{login.get_register_link|raw}}
            </div>
            <div style="margin-top:10px;">
                {{login.get_guest_link|raw}}
            </div>
        </div>
</div>
