{% extends "login/layout/sidebar-layout.html.twig" %}

{% import "login/common/macros.html.twig" as auth_macro %}

{% block title %}
    {% trans "Register" %}
{% endblock %}

{% block sidebar %}
    <div class="well-large sidebar-block last-child">

        <div class="row-fluid">
            <div class="span12">
                <div class="text-title">
                    {% trans "Completion of your registration" %}
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                {{ auth_macro.providerBadge("facebook-badge","http://profile.ak.fbcdn.net/hprofile-ak-ash4/188043_268328669948930_728750033_q.jpg","Monsieur Grincheux","mr.grincheux@email.com") }}
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12 sidebar-hint">
                {% trans "Please complete the information to complete your registration" %}
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <form class="authentication-sidebar-form">
                    <div class="row-fluid">
                        <div class="span12">
                            {{ auth_macro.fieldInput(form.firstName, form.vars.name, 'icon-user') }}
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            {{ auth_macro.fieldInput(form.lastName, form.vars.name, 'icon-user') }}
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            {{ auth_macro.fieldInput(form.email, form.vars.name, 'icon-envelope') }}
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span12">
                            {{ auth_macro.fieldInput(form.company, form.vars.name, 'icon-briefcase') }}
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span12">
                            {{ auth_macro.fieldInput(form.job, form.vars.name, 'icon-briefcase') }}
                        </div>
                    </div>

                    <div class="sidebar-hint">
                        * {% trans "Mandatory fields" %}
                    </div>

                    <div class="row-fluid">
                        <div class="span12">
                            {% set label %}
                                <a href="{{ path("login_cgus") }}">
                                    {% trans "I have read the terms of use" %}
                                </a>
                            {% endset %}

                            {{ auth_macro.checkboxInput("terms-of-use",label,"terms_of_use") }}
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span12">
                            <button type="submit" class="btn btn-success btn-trigger">
                                {% trans "Resquest access" %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
