{% extends 'account/base.html.twig' %}

{% block title %}
    {% trans 'login:: register' %}
{% endblock %}

{% block head %}
<script type="text/javascript" language="javascript" src="include/jslibs/jquery.validate.js,include/jslibs/jquery.validate.password.js,include/jslibs/jquery.validate.login.js"></script>
<script type="text/javascript">

{% set sep = msg = rules = '' %}
{% set message1 = 'forms::ce champ est requis' | trans %}
{% set message2 = 'forms::la valeur donnee est trop courte' | trans %}
{% set message3 = 'forms::les mots de passe ne correspondent pas' | trans %}
{% set message4 = 'forms::l\'email semble invalide' | trans | e('js') %}
{% set message5 = 'login invalide (5 caracteres sans accents ni espaces)' | trans | e('js') %}

{% for ar, ver in arrayVerif if ver is not false %}
    {% if ar != 'form_password' %}
        {% if loop.first %}
            {% set sep = ',' %}
        {% endif %}

        {% set rules = rules ~ sep ~ ar ~ ':{required:true}' %}
        {% set msg = msg ~ sep ~ ar ~ ': {' %}
        {% set msg = msg ~ 'required : "' ~ message1 ~ '"' %}

        {% if ar == 'form_login' or ar == 'form_password' %}
            {% set msg = msg ~ ' ,minlength: "' ~ message2 ~ '"' %}
        {% endif %}
        {% if ar == 'form_password' %}
            {% set msg = msg ~ ' ,minlength: "' ~ message2 ~ '"' %}
        {% endif %}
        {% if ar == 'form_password_confirm' %}
            {% set msg = msg ~ ' ,equalTo: "' ~ message3 ~ '"' %}
        {% endif %}
        {% if ar == 'form_email' %}
            {% set msg = msg ~ ',email:"' ~ message4 ~ '"' %}
        {% endif %}

        {% set msg = msg ~ ',login:"' ~ message5 ~ '"' %}
        {% set msg = msg ~ '}' %}
    {% endif %}
{% endfor %}


    $(document).ready(function() {

        $.validator.passwordRating.messages = {
            "similar-to-username": "{% trans 'forms::le mot de passe est trop similaire a l\'identifiant' %}",
            "too-short": "{% trans 'forms::la valeur donnee est trop courte' %}",
            "very-weak": "{% trans 'forms::le mot de passe est trop simple' %}",
            "weak": "{% trans 'forms::le mot de passe est simple' %}",
            "good": "{% trans 'forms::le mot de passe est bon' %}",
            "strong": "{% trans 'forms::le mot de passe est tres bon' %}"
        }

        $("#register").validate(
        {
            rules: {
                {{ rules }}
            },
            messages: {
                {{ msg }}
            },
            errorPlacement: function(error, element) {
                error.prependTo( element.parent().next() );
            }
        }
    );

        $('#form_email').rules("add",{email:true});

        $('#form_login').rules("add",{
            minlength: 5
        });

        $('#form_password').rules("add",{password: "#form_login"});
        $('#form_password_confirm').rules("add",{equalTo: "#form_password"});


        $("#form_password").valid();

        initialize_geoname_field($('#form_geonameid'));
    });

</script>
{% endblock %}

{% block content %}
    <form id="register" class="form-horizontal" name="creation" action="/login/register/" method="post">
        <div id="form_register_table" style="font-size: 11px; margin: 0 auto;">
            <div class="control-group">
                <label class="form_label control-label" for="form_login">
                    {% if arrayVerif['form_login'] is not none and arrayVerif['form_login'] == true %}<span class="requiredField">*</span>{% endif %}
                    {% trans 'admin::compte-utilisateur identifiant' %}<br/>
                    <span style="font-size: 10px;">{% trans '5 caracteres minimum' %}</span>
                </label>
                <div class="controls">
                    <input type="text" id="form_login" class="input_element" name="form_login" autocomplete="off" value="{{ parm['form_login'] }}" />
                    <p class="form_alert help-block">{#<?php echo isset($needed['form_login']) ? $needed['form_login'] : '' ?>#}</p>
                </div>
            </div>
            <div class="control-group">
                <label class="form_label control-label" for="form_password">
                    {% if arrayVerif['form_password'] is not none and arrayVerif['form_password'] == true %}<span class="requiredField">*</span>{% endif %}
                    {% trans 'admin::compte-utilisateur mot de passe' %}<br/>
                    <span style="font-size: 10px;">{% trans '8 caracteres minimum' %}</span>
                </label>
                <div class="controls">
                    <input type="password" id="form_password" class="input_element password" name="form_password" autocomplete="off" value="{{ parm['form_password'] }}" />
                    <p class="form_alert help-block">
                        <span style="color: #FFF;">{% trans 'Resistance du mot de passe' %}</span><br/>
                        {#<?php echo isset($needed['form_password']) ? $needed['form_password'] : '' ?>#}
                        <div class="password-meter">
                            <p class="password-meter-message">&nbsp;</p>
                            <div class="password-meter-bg">
                                <div class="password-meter-bar"></div>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
            <div class="control-group">
                <label class="form_label control-label" for="form_password_confirm">
                    {% if arrayVerif['form_password_confirm'] is not none and arrayVerif['form_password_confirm'] == true %}<span class="requiredField">*</span>{% endif %}
                    <span style="font-size: 10px;">{% trans 'Confirmation' %}</span>
                </label>
                <div class="controls">
                    <input type="password" id="form_password_confirm" class="input_element" name="form_password_confirm" autocomplete="off" type="password" value="{{ parm['form_password_confirm'] }}" />
                    <p class="form_alert help-block">{#<?php echo isset($needed['form_password_confirm']) ? $needed['form_password_confirm'] : '' ?>#}</p>
                </div>
            </div>
            <div style="margin: 20px 0;">
                <a href="#" onclick="$('#password_infos').slideToggle();return false;" style="color: #FFF; font-size: 13px;">{% trans 'admin::compte-utilisateur A propos de la securite des mots de passe' %}</a>
                <div id="password_infos" style="display: none;">
                    <p style="text-align: center; margin: 20px 0 0;">
                        {% trans 'admin::compte-utilisateur Les mots de passe doivent etre clairement distincts du login et contenir au moins deux types parmis les caracteres suivants :' %}
                    </p>
                    <ul style="text-align: left; width: 300px;">
                        <li>{% trans 'admin::compte-utilisateur::securite caracteres speciaux' %}</li>
                        <li>{% trans 'admin::compte-utilisateur::securite caracteres majuscules' %}</li>
                        <li>{% trans 'admin::compte-utilisateur::securite caracteres minuscules' %}</li>
                        <li>{% trans 'admin::compte-utilisateur::securite caracteres numeriques' %}</li>
                    </ul>
                </div>
            </div>
            <hr />
            <div class="control-group">
                <label class="form_label control-label" for="form_email">
                    {% if arrayVerif['form_email'] is not none and arrayVerif['form_email'] == true %}<span class="requiredField">*</span>{% endif %}
                    {% trans 'admin::compte-utilisateur email' %}
                </label>
                <div class="controls">
                    <input type="text" id="form_email" class="input_element" name="form_email" autocomplete="off" value="{{ parm['form_email'] }}" />
                    <p class="form_alert help-block">{#<?php echo isset($needed['form_email']) ? $needed['form_email'] : '' ?>#}</p>
                </div>
            </div>
            <div class="control-group">
                <label class="form_label control-label" for="form_city">
                    {% if arrayVerif['form_geonameid'] is not none and arrayVerif['form_geonameid'] == true %}<span class="requiredField">*</span>{% endif %}
                    {% trans 'admin::compte-utilisateur ville' %}
                </label>
                <div class="controls">
                    <input type="text" id="form_geonameid" class="input_element geoname_field" name="form_geonameid" geonameid="{{ parm['form_geonameid'] }}" value="{{ geonames.name_from_id(parm['form_geonameid']) }}" />
                    <p class="form_alert help-block">{#<?php echo isset($needed['form_geonameid']) ? $needed['form_geonameid'] : '' ?>#}</p>
                </div>
            </div>
            <div class="control-group">
                <label class="form_label control-label">
                    {% trans 'admin::compte-utilisateur sexe' %}
                </label>
                <div class="controls">
                    <label class="radio">
                        <input type="radio" class="radio" name="form_gender" style="width: 10px;"{% if parm["form_gender"] == 0 %}checked{% endif %} value="0" />
                        {% trans 'admin::compte-utilisateur:sexe: mademoiselle' %}
                    </label>
                    <label class="radio">
                        <input type="radio" class="radio" name="form_gender" style="width: 10px;"{% if parm["form_gender"] == 1 %}checked{% endif %} value="1" />
                        {% trans 'admin::compte-utilisateur:sexe: madame' %}
                    </label>
                    <label class="radio">
                        <input type="radio" class="radio" name="form_gender" style="width: 10px;"{% if parm["form_gender"] == 2 %}checked{% endif %} value="2" />
                        {% trans 'admin::compte-utilisateur:sexe: monsieur' %}
                    </label>
                    <p class="form_alert help-block">{#<?php echo isset($needed['form_gender']) ? $needed['form_gender'] : '' ?>#}</p>
                </div>
            </div>
            <div class="control-group">
                <label class="form_label control-label" for="form_lastname">
                    {% if arrayVerif['form_lastname'] is not none and arrayVerif['form_lastname'] == true %}<span class="requiredField">*</span>{% endif %}
                    {% trans 'admin::compte-utilisateur nom' %}
                </label>
                <div class="controls">
                    <input type="text" id="form_lastname" class="input_element" name="form_lastname" autocomplete="off" value="{{ parm['form_lastname'] }}" />
                    <p class="form_alert help-block">{#<?php echo isset($needed['form_lastname']) ? $needed['form_lastname'] : '' ?>#}</p>
                </div>
            </div>
            <div class="control-group">
                <label class="form_label control-label" for="form_firstname">
                    {% if arrayVerif['form_firstname'] is not none and arrayVerif['form_firstname'] == true %}<span class="requiredField">*</span>{% endif %}
                    {% trans 'admin::compte-utilisateur prenom' %}
                </label>
                <div class="controls">
                    <input type="text" id="form_firstname" class="input_element" name="form_firstname" autocomplete="off" value="{{ parm['form_firstname'] }}" />
                    <p class="form_alert help-block">{#<?php echo isset($needed['form_firstname']) ? $needed['form_firstname'] : '' ?>#}</p>
                </div>
            </div>
            <div class="control-group">
                <label class="form_label control-label" for="form_job">
                    {% if arrayVerif['form_job'] is not none and arrayVerif['form_job'] == true %}<span class="requiredField">*</span>{% endif %}
                    {% trans 'admin::compte-utilisateur poste' %}
                </label>
                <div class="controls">
                    <input type="text" id="form_job" class="input_element" name="form_job" autocomplete="off" value="{{ parm['form_job'] }}" />
                    <p class="form_alert help-block">{#<?php echo isset($needed['form_job']) ? $needed['form_job'] : '' ?>#}</p>
                </div>
            </div>
            <div class="control-group">
                <label class="form_label control-label" for="form_activity">
                    {% if arrayVerif['form_activity'] is not none and arrayVerif['form_activity'] == true %}<span class="requiredField">*</span>{% endif %}
                    {% trans 'admin::compte-utilisateur activite' %}
                </label>
                <div class="controls">
                    <input type="text" id="form_activity" class="input_element" name="form_activity" autocomplete="off" value="{{ parm['form_activity'] }}" />
                    <p class="form_alert help-block">{#<?php echo isset($needed['form_activity']) ? $needed['form_activity'] : '' ?>#}</p>
                </div>
            </div>
            <div class="control-group">
                <label class="form_label control-label" for="form_phone">
                    {% if arrayVerif['form_phone'] is not none and arrayVerif['form_phone'] == true %}<span class="requiredField">*</span>{% endif %}
                    {% trans 'admin::compte-utilisateur telephone' %}
                </label>
                <div class="controls">
                    <input type="text" id="form_phone" class="input_element" name="form_phone" autocomplete="off" value="{{ parm['form_phone'] }}" />
                    <p class="form_alert help-block">{#<?php echo isset($needed['form_phone']) ? $needed['form_phone'] : '' ?>#}</p>
                </div>
            </div>
            <div class="control-group">
                <label class="form_label control-label" for="form_fax">
                    {% if arrayVerif['form_fax'] is not none and arrayVerif['form_fax'] == true %}<span class="requiredField">*</span>{% endif %}
                    {% trans 'admin::compte-utilisateur fax' %}
                </label>
                <div class="controls">
                    <input type="text" id="form_fax" class="input_element" name="form_fax" autocomplete="off" value="{{ parm['form_fax'] }}" />
                    <p class="form_alert help-block">{#<?php echo isset($needed['form_fax']) ? $needed['form_fax'] : '' ?>#}</p>
                </div>
            </div>
            <div class="control-group">
                <label class="form_label control-label" for="form_company">
                    {% if arrayVerif['form_company'] is not none and arrayVerif['form_company'] == true %}<span class="requiredField">*</span>{% endif %}
                    {% trans 'admin::compte-utilisateur societe' %}
                </label>
                <div class="controls">
                    <input type="text" id="form_company" class="input_element" name="form_company" autocomplete="off" value="{{ parm['form_company'] }}" />
                    <p class="form_alert help-block">{#<?php echo isset($needed['form_company']) ? $needed['form_company'] : '' ?>#}</p>
                </div>
            </div>
            <div class="control-group">
                <label class="form_label control-label" for="form_address">
                    {% if arrayVerif['form_address'] is not none and arrayVerif['form_address'] == true %}<span class="requiredField">*</span>{% endif %}
                    {% trans 'admin::compte-utilisateur adresse' %}
                </label>
                <div class="controls">
                    <input type="text" id="form_address" class="input_element" name="form_address" autocomplete="off" value="{{ parm['form_address'] }}" />
                    <p class="form_alert help-block">{#<?php echo isset($needed['form_address']) ? $needed['form_address'] : '' ?>#}</p>
                </div>
            </div>
            <div class="control-group">
                <label class="form_label control-label" for="form_zip">
                    {% if arrayVerif['form_zip'] is not none and arrayVerif['form_zip'] == true %}<span class="requiredField">*</span>{% endif %}
                    {% trans 'admin::compte-utilisateur code postal' %}
                </label>
                <div class="controls">
                    <input id="form_zip" autocomplete="off" type="text" value="{{ parm['form_zip'] }}" class="input_element" name="form_zip" />
                    <p class="form_alert help-block">{#<?php echo isset($needed['form_zip']) ? $needed['form_zip'] : '' ?>#}</p>
                </div>
            </div>
            <hr />
        </div><!-- /form_register_table -->

        {% if registry.get('GV_autoselectDB') %}
            <div style="display: none;">
        {% endif %}

            <p style="width: 600px; height: 20px; text-align: center; margin: 0 auto;">
                {% trans 'admin::compte-utilisateur actuellement, acces aux bases suivantes : ' %}
            </p>
            <p class="requiredField" style="width: 600px; height: 20px; text-align: center; margin: 0 auto;">
                {#<?php echo isset($needed['demand']) ? 'Vous n\'avez selectionne aucune base' : '' ?>#}
            </p>

            <div style="width: 600px; text-align: center; margin: 0 5px;">


                <table  border="0" style="table-layout:fixed" cellspacing=0 width="590">
                    <tr>
                        <td  style="width:240px; text-align:right">&nbsp;</td>
                        <td  width="25px" style="width:25px">&nbsp;</td>
                        <td  style="width:325px;">&nbsp;</td>
                    </tr>

                    {% for sbasId, baseInsc in inscriptions %}
                        {% if (baseInsc['CollsCGU'] or baseInsc['Colls']) and baseInsc['inscript'] %}
                            <tr>
                                <td colspan="3" style="text-align: center;">
                                    <h3 style="margin: 15px 0pt 2px;" class="inscriptbase">{{ sbasId |sbas_names }}</h3>
                                </td>
                            </tr>
                            {% if baseInsc['Colls'] %}
                                {% if baseInsc['CGU'] %}
                                    <tr>
                                        <td colspan="3" style="text-align: center;">
                                            {% trans 'login::register: L\'acces aux bases ci-dessous implique l\'acceptation des Conditions Generales d\'Utilisation (CGU) suivantes' %}<br/>
                                            <a class="inscriptlink" href="/include/cguUtils.php?action=PRINT&bas=' . $sbasId . '">{% trans 'login::register::CGU: ouvrir dans une nouvelle fenetre' %}</a>
                                        </td>
                                    </tr>
                                {% endif %}
                                {% for collId, collName in baseInsc['Colls'] %}
                                    {% set baseId = sbasId |baseFromColl(collId) %}
                                    {% set ch = "checked" %}
                                    {% if not is_null(demandes) and not demandes['baseId'] %}
                                        {% set ch = "" %}
                                    {% endif %}
                                    <tr>
                                        <td style="text-align: right;">{{ collName }}</td>
                                        <td></td>
                                        <td class="TD_R" style="width: 200px;">
                                            <input type="checkbox" class="checkbox" {{ ch }} name="demand[]" value="{{ baseId }}" style="width: 15px;" >
                                            <span>{% trans 'login::register: Faire une demande d\'acces' %}</span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            {% if baseInsc['CollsCGU'] %}
                                {% for collId, collDesc in baseInsc['CollsCGU'] %}
                                    {% set baseId = sbasId |baseFromColl(collId) %}
                                    {% set ch = "checked" %}
                                    {% if not is_null(demandes) and not demandes['baseId'] %}
                                        {% set ch = "" %}
                                    {% endif %}
                                    <tr>
                                        <td colspan="3" style="text-align: center;">
                                            <hr style="width: 80%"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="text-align:center;">
                                            {% trans 'login::register: L\'acces aux bases ci-dessous implique l\'acceptation des Conditions Generales d\'Utilisation (CGU) suivantes' %}<br/>
                                            <a class="inscriptlink" href="/include/cguUtils.php?action=PRINT&bas={{ sbasId }}&col={{ collId }}">{% trans 'login::register::CGU: ouvrir dans une nouvelle fenetre' %}</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">{{ collDesc['name'] }}</td>
                                        <td></td>
                                        <td class="TD_R" style="width: 200px;">
                                            <input style="width:15px;" class="checkbox" type="checkbox" {{ ch }} name="demand[]" value="{{ baseId }}" >
                                            <span>{% trans 'login::register: Faire une demande d\'acces' %}</span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                </table>

            </div>

        {% if registry.get('GV_autoselectDB') %}
            </div>
        {% endif %}

        <input type="hidden" value="{{ lng }}" name="lng">
        <div style="margin: 10px 0; text-align: center;">
            <input type="submit" class="btn" value="{% trans 'boutton::valider' %}" />
        </div>
    </form>

    <script type="text/javascript">

        $('.tab').hover(function(){
            $(this).addClass('active');
        }, function(){
            $(this).removeClass('active');
        });
    </script>
{% endblock %}
