{% extends "login/layout/sidebar-layout.html.twig" %}

{% import "login/common/macros.html.twig" as auth_macro %}
{% import "common/macros.html.twig" as macro %}

{% block title %}
    {% trans "Register" %}
{% endblock %}

{% block sidebar %}
    <div class="well-large sidebar-block">
        <div class="row-fluid">
            <div class="span12">
                <div class="text-title">
                    {% trans "Inscription" %}
                </div>
                <div class="sidebar-hint">
                    {% trans %}
                        Complete the fields below to register on {{ home_title }}!
                    {% endtrans %}
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                {{ auth_macro.flashes() }}
                <form
                     novalidate
                     name="registerForm"
                     method="POST"
                     action="{{ path("login_register_classic") }}"
                     data-geonames-server-adress="{{ app['geonames.server-uri'] }}"
                >
                    {% if form.vars.errors|length > 0 %}
                        <div class="row-fluid">
                            <div class="span12">
                                {{ form_errors(form) }}
                            </div>
                        </div>
                    {% endif %}

                    <div class="row-fluid">
                        <div class="span12">
                            {{ auth_macro.fieldInput(form.email, "registerForm", 'icon-envelope') }}
                        </div>
                    </div>

                    {{ auth_macro.repeatedInput(form.password, "registerForm", 'icon-lock') }}

                    {% for field in app['registration.fields'] %}
                        {% set name = field['name'] %}
                        {% if name in app['registration.optional-fields']|keys %}
                            <div class="row-fluid">
                                <div class="span12">
                                    {{ auth_macro.fieldInput(attribute(form, name|camelize), "registerForm") }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                    <div class="row-fluid">
                        <div class="span12">
                            {% set label %}
                                <a href="{{ path("login_cgus") }}">
                                    {% trans "I have read the terms of use" %}
                                </a>
                            {% endset %}

                            {{ auth_macro.checkboxInput(form['accept-tou'], label) }}
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span12">
                            {{ auth_macro.selectInput(form.collections) }}
                        </div>
                    </div>

                    {{ form_rest(form) }}

                    {% if recaptcha_display %}
                        <div class="row-fluid">
                            <div class="span12">
                                {{ macro.captcha() }}
                            </div>
                        </div>
                    {% endif %}

                    <div class="row-fluid">
                        <div class="span12">
                            <button type="submit" class="btn btn-success btn-trigger">
                                {% trans "Request access" %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ path('minifier', {'f': 'assets/zxcvbn/zxcvbn-async.js,/scripts/apps/login/home/register.js'}) }}"></script>
{% endblock %}
