{% macro format_diapo(record) %}
    {% import 'common/thumbnail.html.twig' as thumbnail %}
    <div class="diapo">
        {{thumbnail.format(record.get_thumbnail(), 100, 100, '', true, false)}}
    </div>
{% endmacro %}

<style type="text/css">
    .record_list .sortable.ui-sortable-placeholder{
        width:112px;
        height:118px;
        position:relative;
        float:left;
    }
</style>

<div class="PNB" style="height:200px;bottom:auto;">
    <div class="PNB10 record_list" style="overflow:auto;">
        {% for record in publishing %}
            <div class="sortable" style="position:relative;float:left;">
                {{ _self.format_diapo(record) }}
                <form>
                    <input type="hidden" name="sbas_id" value="{{record.get_sbas_id()}}" />
                    <input type="hidden" name="record_id" value="{{record.get_record_id()}}" />
                </form>
            </div>
        {% endfor %}
    </div>
</div>

<form class="main_form" method="post" action="{{ path('prod_feeds_entry_create') }}">
    <input type="hidden" name="lst" value="{{ publishing.serializedList() }}" />
    <div class="PNB" style="top:200px; bottom:50px;">
        <div class="PNB" style="width:50%; right:auto;">
            <div class="PNB10 fields">
                {% set title = '' %}
                {% set desc = '' %}
                {% if publishing.basket() is not null %}
                    {% set title = publishing.basket().getName() %}
                    {% set desc = publishing.basket().getDescription() %}
                {% endif %}
                <input class="required_text checkbox" type="checkbox" name="notify" id="feed_add_notify" value="1" />
                <label for="feed_add_notify">{{ 'Notify users about this publication' | trans }}</label><br/>
                <label for="feed_add_title">{{ 'publication : titre' | trans }}</label>
                <input class="required_text" type="text" name="title" id="feed_add_title" value="{{title}}" />
                <label for="feed_add_subtitle">{{ 'publication : sous titre' | trans }}</label>
                <textarea id="feed_add_subtitle" name="subtitle">{{desc}}</textarea>
                <label for="feed_add_author_name">{{ 'publication : autheur' | trans }}</label>
                <input class="required_text" type="text" name="author_name" id="feed_add_author_name" value="{{ app['authentication'].getUser().getDisplayName() }}" />
                <label for="feed_add_author_mail">{{ 'publication : email autheur' | trans }}</label>
                <input class="required_text" type="text" name="author_mail" id="feed_add_author_mail" value="{{ app['authentication'].getUser().getEmail() }}" />
            </div>
        </div>
        <div class="PNB" style="width:50%;left:auto;">
            <div class="PNB10 feeds">
                <h1>{{ 'Fils disponibles' | trans }}</h1>
                <div class="list">
                    {% for feed in feeds %}
                        {% if feed.isPublisher(app['authentication'].getUser()) %}
                            <div class="feed {% if loop.index is odd%}odd{% endif %}">
                                <span>{{ feed.getTitle() }}</span>
                                {% if feed.isPublic() %}
                                    <img src="/skins/icons/ligth-on.png" title="{{ 'This feed is public' | trans }}"/>
                                {% endif %}
                                <input type="hidden" name="feed_proposal[]" value="{{ feed.getId() }}"/>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <input type="hidden" value="" name="feed_id" />
                </div>
            </div>
        </div>
    </div>
    <div class="PNB" style="top:auto; height:50px; text-align:center;">
        <div class="PNB10">
            <button class="valid_form btn btn-inverse">{{ 'boutton::publier' | trans }}</button>
            <button class="close_dialog btn btn-inverse">{{ 'boutton::annuler' | trans }}</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function(){
        $('#modal_feed .record_list').sortable({
            stop:function(event, ui){
                var lst = [];
                $('#modal_feed .record_list .sortable form').each(function(i, el){
                    lst.push($('input[name="sbas_id"]', el).val()+'_'+$('input[name="record_id"]', el).val());
                });
                $('#modal_feed form.main_form input[name="lst"]').val(lst.join(';'));
            }
        });
    });
</script>
