
{% macro format_diapo(record) %}
  {% import 'common/thumbnail.html.twig' as thumbnail %}
  <div class="diapo">
    {{thumbnail.format(record.get_thumbnail(), 100, 100, '', true, false)}}
  </div>
{% endmacro %}

<style type="text/css">
.record_list .sortable.ui-sortable-placeholder{
  width:112px;
  height:118px;
  position:relative;
  float:left;
}
</style>
<div class="PNB" style="height:200px;bottom:auto;">
  <div class="PNB10 record_list" style="overflow:auto;">
  {% for content in entry.getItems() %}
    <div class="sortable" style="position:relative;float:left;">
      {{ _self.format_diapo(content.getRecord(app)) }}
      <form>
        <input type="hidden" name="item_id" value="{{content.getId()}}" />
      </form>
    </div>
  {% endfor %}
  </div>
</div>
<form method="post" action="{{ path('prod_feeds_entry_update', { 'id' : entry.getId() }) }}" class="entry_update main_form">
  <input type="hidden" name="sorted_lst" value="" />
  <div class="PNB" style="top:200px;bottom:50px;">
    <div class="PNB" style="width:50%;right:auto;">
      <div class="PNB10 fields">
        <div><label for="feed_add_title">{{ 'publication : titre' | trans }}</label></div>
        <div><input class="required_text" type="text" name="title" id="feed_add_title" value="{{ entry.getTitle() }}" /></div>
        <div><label for="feed_add_subtitle">{{ 'publication : sous titre' | trans }}</label></div>
        <div><textarea id="feed_add_subtitle" name="subtitle">{{ entry.getSubtitle() }}</textarea></div>
        <div><label for="feed_add_author_name">{{ 'publication : autheur' | trans }}</label></div>
        <div><input class="required_text" type="text" name="author_name" id="feed_add_author_name" value="{{ entry.getAuthorName() }}" /></div>
        <div><label for="feed_add_author_mail">{{ 'publication : email autheur' | trans }}</label></div>
        <div><input class="required_text" type="text" name="author_mail" id="feed_add_author_mail" value="{{ entry.getAuthorEmail() }}" /></div>
      </div>
    </div>
    <div class="PNB" style="width:50%;left:auto;">
      <div class="PNB10 feeds">
        <h1>{{ 'Fils disponibles' | trans }}</h1>
        <div class="list">
          {% set feed_id = entry.getFeed().getId() %}
          {% for feed in feeds %}
             {% if feed.isPublisher(app['authentication'].getUser()) %}
                <div class="feed {% if loop.index is odd%}odd{% endif %} {% if feed_id == feed.getId() %}selected{% endif %}">
                    <span>{{ feed.getTitle() }}</span>
                    <input type="hidden" value="{{ feed.getId() }}"/>
                </div>
            {% endif %}
          {% endfor %}
          <input type="hidden" value="{{ feed_id }}" name="feed_id" />
          <input type="hidden" value="{{ entry.getId() }}" name="entry_id" />
        </div>

      </div>
    </div>
  </div>
  <div class="PNB" style="top:auto;height:50px;text-align:center;">
    <div class="PNB10">
      <button class="valid_form btn btn-inverse">{{ 'boutton::mettre a jour' | trans }}</button>
      <button class="close_dialog btn btn-inverse">{{ 'boutton::annuler' | trans }}</button>
    </div>
  </div>
</form>
<script type="text/javascript">
  $(document).ready(function(){
    $('#modal_feed .record_list').sortable({
      stop:function(event, ui){
        var lst = [];
        $('#modal_feed .record_list form').each(function(i, el){
          lst.push($('input[name="item_id"]', el).val()+'_'+(i+1));
        });
        $('#modal_feed form.main_form input[name="sorted_lst"]').val(lst.join(';'));
      }
    });
  });
</script>
