<div id="lazaretBox" class="container-fluid">

    {% if lazaretFiles is not none %}
        {% if lazaretFiles|length > 0 %}
            <div class="btn-group" style="text-align:center; padding:5px 0;">
                <button class="btn empty-lazaret" title="{{ "Empty quarantine" | trans }}">
                    <img src="/skins/icons/delete.png">{{ "Empty quarantine" | trans }}
                </button>
            </div>

            <ul class="unstyled">
                {% for file in lazaretFiles %}
                    <li class="row-fluid wrapper-item well">
                       {{ _self.lazaretElement(app, file) }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            {{ "No document in quarantine" | trans }}
        {% endif %}
    {% else %}
        {{ "You do not have enough rights to access quarantine" | trans }}
    {% endif %}
</div>

<script>
    $('document').ready(function(){
        var scope = $('#lazaretBox');

        $("#tab-lazaret").scrollTop(0);

        function getLazaretId(el){
            return el.closest('div.lazaret-file').find('input[name=lazaret_file]').val();
        }

        function getDestinationId(el){
            return el.closest('div.lazaret-file').find('input[name=lazaret_file_destination]').val();
        }

        function startAjax(button){
            button.closest(".btn-group").find('button').attr('disabled', true);
            button.closest(".btn-group").addClass('loading');
        }

        function stopAjax(button){
            button.closest(".btn-group").find('button').attr('disabled', false);
            button.closest(".btn-group").removeClass('loading');
        }

        function reloadContent(force){
            var nbItems = scope.find(".wrapper-item").length;

            if( nbItems === 0 || force === true) {
                $.ajax({
                    url:'/prod/lazaret/',
                    beforeSend: function(){
                        $("#lazaretBox").empty().append(language.loading );
                    },
                    success: function(data) {
                        scope.empty().append(data);
                    },
                    error : function() {
                        $("#lazaretBox").empty().append(language.errorAjaxRequest);
                    }
                });
            }
        }

        $(".records-subititution", scope).bind('click', function(){
            $(this).closest('.lazaret-proposals').find('.records-subititution').removeClass("thumb-selected");
            $(this).closest('.lazaret-proposals').find('.thumbnail').css({'border-color': 'white'})
            $(this).find('.thumbnail').css({'border-color': 'blue'});
            $(this).addClass("thumb-selected");
        });

        // empty lazaret
        $('button.empty-lazaret', scope).bind('click', function(){

            if(!confirm("{{ "Empty quarantine will remove all items, are you sure you want to continue ?" | trans }}")) {
                return false;
            }

            var that = $(this);
            $.ajax({
                type : 'POST',
                url: '/prod/lazaret/empty/',
                dataType: 'json',
                data : {
                },
                beforeSend: function(){
                    startAjax(that);
                },
                success: function(data){
                    if(data.success){

                    }else{
                        var html = _.template($("#alert_error_tpl").html(), {
                             content:data.message
                        });

                        that.closest(".btn-group").before( html );
                    }
                },
                error: function(){
                    stopAjax(that);
                    var html = _.template($("#alert_error_tpl").html(), {
                        content:language.errorAjaxRequest
                    });

                    that.closest(".btn-group").before( html );
                },
                complete: function(){
                    stopAjax(that);
                    reloadContent(true);
                }
            });
        });

        //add lazaret file click action
        $("button.add-lazaret", scope).bind('click', function(){
            var that = $(this);
            var lazaretId = getLazaretId(that);
            var destinationCollectionId = getDestinationId(that);

            $.ajax({
                type : 'POST',
                url: '/prod/lazaret/'+lazaretId+'/force-add/',
                dataType: 'json',
                data : {
                    bas_id:destinationCollectionId,
                    keep_attributes: 1
                },
                beforeSend: function(){
                    startAjax(that);
                },
                success: function(data){
                    if(data.success){
                        that.closest(".wrapper-item").remove();
                    }else{
                        var html = _.template($("#alert_error_tpl").html(), {
                             content:data.message
                        });
                        that.closest(".thumbnail").append(html);
                    }
                },
                error: function(){
                   var html = _.template($("#alert_error_tpl").html(), {
                        content:language.errorAjaxRequest
                   });
                   that.closest(".thumbnail").append(html);
                },
                complete: function(){
                    stopAjax(that);
                    reloadContent();
                }
            });
        });

        //delete lazaret file click action
        $("button.delete-lazaret", scope).bind('click', function(){
            var that = $(this);
            var lazaretId = getLazaretId(that);

            $.ajax({
                type : 'POST',
                url: '/prod/lazaret/'+lazaretId+'/deny/',
                dataType: 'json',
                beforeSend: function(){
                    startAjax(that);
                },
                success: function(data){
                    if(data.success){
                        that.closest(".wrapper-item").remove();
                    }else{
                       var html = _.template($("#alert_error_tpl").html(), {
                            content:data.message
                       });
                       that.closest(".thumbnail").append(html);
                    }
                },
                error: function(){
                    var html = _.template($("#alert_error_tpl").html(), {
                        content:language.errorAjaxRequest
                    });
                    that.closest(".thumbnail").append(html);
                },
                complete: function(){
                    stopAjax(that);
                    reloadContent();
                }
            });
        });

        //substitute lazaret file click action
        $("button.subtitute-lazaret", scope).bind('click', function(){
            var that = $(this);
            var lazaretId = getLazaretId(that);
            var nbProposals = $('.records-subititution', $(this).closest('.wrapper-item')).length;

            if(nbProposals > 1){ // we got more than one proposals
                var elements = $(".thumb-selected", $(this).closest('.wrapper-item'));
                var nbElement = elements.length;
            }else if(nbProposals == 1){
                var elements = $(this).closest('.wrapper-item').find(".records-subititution");
                var nbElement = 1
            }
            else{
                return false;
            }

            if(nbElement === 0){
                alert(language.selectOneRecord);
                return false;
            }else if(nbElement > 1){
                alert(language.onlyOneRecord);
                return false;
            }

            var recorThumb = elements.first().find('.record-thumb');
            var recordId = recorThumb.find('input[name=record_id]').val();

            $.ajax({
                type : 'POST',
                url: '/prod/lazaret/'+lazaretId+'/accept/',
                dataType: 'json',
                data:{
                    record_id: recordId
                },
                beforeSend: function(){
                   startAjax(that);
                },
                success: function(data){
                    if(data.success){
                        that.closest(".wrapper-item").remove();
                    }else{
                        var html = _.template($("#alert_error_tpl").html(), {
                            content:data.message
                        });
                        that.closest(".thumbnail").append(html);
                    }
                },
                error: function(){
                    var html = _.template($("#alert_error_tpl").html(), {
                        content:language.errorAjaxRequest
                    });
                    that.closest(".thumbnail").append(html);
                },
                complete: function(){
                    stopAjax(that);
                    reloadContent();
                }
            });
        });
    });
</script>

{% macro lazaretElement(app, file) %}
    {% import "common/thumbnail.html.twig" as thumb %}
    {% set records = file.getRecordsToSubstitute(app) %}
    <div class="lazaret-file span4">
        <h5>{{ "Last uploaded version" | trans }}</h5>
        <ul class="thumbnails">
            <li class="span12" >
                <div class="thumbnail">
                    <img src="/prod/lazaret/{{ file.getId() }}/thumbnail/"/>
                    <div class="caption">
                        <p>{{ "Filename" | trans }} : <span class="info">{{ file.getOriginalName() }}</span></p>
                        <p>{{ "Date" | trans }} : <span class="info">{{ app['date-formatter'].getPrettyString(file.getCreated()) }}</span></p>
                        {% if file.getSession().getUser(app) is not none %}
                            <p>
                                {% set username = '<a href="#" class="username userTips" tooltipsrc="' ~ path('prod_tooltip_user', { 'usr_id' : file.getSession().getUser(app).get_id() }) ~ '/">' ~ file.getSession().getUser(app).get_display_name() ~ '</a>' %}
                                {% trans with {'%username%' : username} %}Uploaded by : %username%{% endtrans %}
                            </p>
                        {% endif %}
                        <p>{{ "Collection" | trans }} : <span class="info">{{ file.getCollection(app).get_label(app['locale.I18n']) }}</span></p>
                    </div>
                    <div class="caption">
                        {% for check in file.getChecks() %}
                            <p>{{ check.getMessage(app['translator']) }}</p>
                        {% endfor %}
                    </div>
                    <div class="btn-group" style="text-align:center; padding:5px;">
                        <button class="btn add-lazaret" title="{{ "Add" | trans }}">
                            <img src="/skins/icons/add.png">{{ "Add" | trans }}
                        </button>
                        <button class="btn delete-lazaret" title="{{ "Delete" | trans }}">
                            <img src="/skins/icons/delete.png">{{ "Delete" | trans }}
                        </button>
                        {% if records|length > 0 %}
                            <button class="btn subtitute-lazaret" title="{{ "Substitute" | trans }}">
                                <img src="/skins/icons/reload.png">{{ "Substitute" | trans }}
                            </button>
                        {% endif %}
                    </div>
                </div>
            </li>
        </ul>
        {# Store lazaret file id in hidden input #}
        <input type="hidden" name="lazaret_file" value="{{ file.getId() }}"/>
        {# Store lazaret file destination #}
        <input type="hidden" name="lazaret_file_destination" value="{{ file.getBaseId() }}"/>
    </div>
    {% set record_count = records|length %}
    {% if record_count  > 0 %}
        <div class="lazaret-proposals span8">
            <h5>
            {% if record_count <= 1 %}
                {% trans %}A record matches the unique identifier :{% endtrans %}
            {% else %}
                {% trans with {'%record_count%' : record_count} %}%record_count% records match the unique identifier :{% endtrans %}
            {% endif %}
            </h5>
            <ul class="thumbnails">
                {% for record in records %}
                    {% if app['acl'].get(app['authentication'].getUser()).has_right_on_base(record.get_base_id(), "canaddrecord")
                        and app['acl'].get(app['authentication'].getUser()).has_right_on_base(record.get_base_id(), "candeleterecord") %}
                        <li class="records-subititution span3">
                            <div class="thumbnail">
                                <div class="record-thumb" style="text-align:center;">
                                    {{ thumb.format(record.get_thumbnail(), 169, 180, "", false, false) }}
                                    <input name="record_id" value="{{ record.get_record_id() }}" type="hidden"/>
                                </div>
                                <div class="caption">
                                    <p><b>{{ record.get_title() }}</b></p>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endmacro %}

