<div class="page-header">
    <h1>{{ 'admin:: record index' | trans }}</h1>
</div>

<div>
    <select id="es-databoxId" style="margin-left: 30px;">
        <option value="">{{ 'button::choose databox' | trans }}</option>
        {% for databoxId in databoxIds %}
            <option value="{{ databoxId }}">{{ databoxId | sbas_labels(app) }}</option>
        {% endfor %}
    </select>

    <input id="es-recordId" type="number" placeholder="recordId" style="margin-bottom: 0px;margin-left: 30px;">

    <button class="btn btn-success find-record-index" style="margin-left: 30px;">{{ 'admin:: find record' | trans }}</button>
</div>

<div style="margin-top:30px;">
    <pre id="admin-es-record-display" style="height: 400px;overflow-y: scroll;width: 60%;margin-left: 30px;">

    </pre>
</div>

<div style="margin-top:40px; margin-left: 30px; padding-bottom: 30px;">
    <button class="btn btn-success get-record-subdef">{{ 'admin:: ger record subdef' | trans }}</button>

    <div style="margin-top:20px;" id="record-subdefs">
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function() {
        $('.find-record-index').on('click', function() {
            let recordId = $('input#es-recordId').val();
            let databoxId = $('select#es-databoxId').val();
            if (databoxId == '' || recordId < 1) {
                alert("Wrong databoxId or recordId value !");
            } else {
                $.ajax({
                    type: 'GET',
                    url: '/admin/inspector/record/',
                    dataType: 'json',
                    data: {
                        databoxId: databoxId,
                        recordId: recordId
                    },
                    success: function (data) {
                        $('#right-ajax #admin-es-record-display').empty().html(JSON.stringify(data, null, 2));

                    }
                });
            }
        });

        $('.get-record-subdef').on('click', function() {
            let recordId = $('input#es-recordId').val();
            let databoxId = $('select#es-databoxId').val();
            if (databoxId == '' || recordId < 1) {
                alert("Wrong databoxId or recordId value !");
            } else {
                $.ajax({
                    type: 'GET',
                    url: '/admin/inspector/record/subdef/',
                    data: {
                        databoxId: databoxId,
                        recordId: recordId
                    },
                    success: function (data) {
                        $('#right-ajax #record-subdefs').empty().html(data);
                    }
                });
            }
        });
    });
</script>
