<h1>{{ 'admin::workermanager:tab:workerconfig: title' |trans }}</h1>
<p class="alert alert-danger">
    {{ 'admin::workermanager:tab:workerconfig: warning' |trans }}
</p>

<p>{{ 'admin::workermanager:tab:workerconfig: Set up the delay between two attempts per queue! (if not set, default 10000 millisecond)' |trans }}</p>
{{ form_start(form, {'action': path('worker_admin_configuration')}) }}

{{ form_widget(form) }}

{{ form_end(form) }}

