<h1>{{ 'admin::workermanager:tab:pullassets: description' |trans }}</h1>

{{ form_start(form, {'action': path('worker_admin_pullAssets')}) }}

<div class="control-group">
    {{ form_row(form.UploaderApiBaseUri) }}
</div>

<div class="control-group">
    {{ form_row(form.clientSecret) }}
</div>

<div class="control-group">
    {{ form_row(form.clientId) }}
</div>

<div class="control-group">
    {{ form_row(form.pullInterval) }}
</div>

<div class="control-group">
    <button class="btn btn-primary start-pull-mode">{{ "admin::workermanager:tab:pullassets: Initialize pull assets"|trans }}</button>

    <button class="btn btn-danger stop-pull-mode">{{ 'admin::workermanager:tab:pullassets: Stop pull assets' | trans }}</button>
</div>

{{ form_end(form) }}

<script type="text/javascript">
    $("#worker-pull-assets").on('click', '.stop-pull-mode', function(e) {
        e.preventDefault();
        if (confirm("Warning! You are about to stop pull mode!")) {
            $.ajax({
                type: "POST",
                url: "/admin/worker-manager/purge-queue",
                dataType: 'json',
                data : {
                    queueName : "pull-queue"
                },
                success: function (data) {
                    console.log(data);
                    return false;
                }
            });
        }
    });

    $("#worker-pull-assets").on('click', '.start-pull-mode', function(e) {
        e.preventDefault();
        $('form[name="worker_pullAssets"]').submit();
    });

</script>
