
<div class="PNB10" style="overflow-y: auto;overflow-x:hidden; bottom: 130px;">
    <table cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td class="title title15">{{ 'VALIDATION' | trans }}</td>
                <td class="report_wrapper">
                  <a class="report btn btn-info" href="#">
                    {{ 'lightbox::recaptitulatif' | trans }}
                  </a>
                </td>
            </tr>
        </tbody>
    </table>
    {% if basket.isVoteBasket() %}
        <div>{{ basket.getVoteString(app, app.getAuthenticatedUser()) }}</div>
        <ul>
            {% for choice in basket_element.getVotes(true) %}
              {% if basket.getParticipant(app.getAuthenticatedUser()).getCanSeeOthers() or choice.getParticipant().getUser() == app.getAuthenticatedUser() %}
                {% if choice.getAgreement() == true %}
                    {% set classuser = 'agree' %}
                {% elseif choice.getAgreement() is null %}
                    {% set classuser = '' %}
                {% else %}
                    {% set classuser = 'disagree' %}
                {% endif %}
                {% set participant = choice.getParticipant().getUser() %}

                {% if choice.getParticipant().getCanAgree() %}
                    <li class="{% if participant.getId() == app.getAuthenticatedUser().getId() %}me{% endif %} {{classuser}} userchoice">{{participant.getDisplayName()}}</li>
                {% endif %}
              {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
</div>
<div class="PNB user_infos">
{% if basket_element and basket_element.getBasket().isVoteBasket() and (basket.isVoteFinished() != true) and basket.getParticipant(app.getAuthenticatedUser()).getCanAgree() %}
    <div class="PNB choices">
        <div style="height:60px;">
          {% set agreement = basket_element.getUserVote(app.getAuthenticatedUser(), true).getAgreement() %}
            <div class="ui-corner-all big_box agree_{{basket_element.getId()}} agree {% if agreement is null or agreement == false  %}not_decided{% endif %}">
                <img src="/assets/lightbox/images/agree-big.png"/><span class="title15">{{ 'validation:: OUI' | trans }}</span>
            </div>
        </div>
        <div style="height:60px;">
            <div class="ui-corner-all big_box disagree_{{basket_element.getId()}} disagree {% if agreement is null or agreement == true %}not_decided{% endif %}">
                <img src="/assets/lightbox/images/disagree-big.png"/><span class="title15">{{ 'validation:: NON' | trans }}</span>
            </div>
        </div>
    </div>
{% endif %}
    {% if basket_element.getBasket().isVoteBasket() %}
        <button class="comment_button btn btn-mini btn-inverse">
            <i class="fa fa-comment icon-white" aria-hidden="true"></i>
            {% set n = 0 %}
            {% for vote in basket_element.getVotes() %}
                {% if vote.getNote() %}
                    {% set n = n+1 %}
                {% endif %}
            {% endfor %}
            {{ n }}
        </button>
    {% endif %}
</div>
