{% extends "common/index_bootstrap.html.twig" %}

{% import 'common/thumbnail.html.twig' as thumbnail %}
{% import 'common/caption_templates/preview.html.twig' as caption %}

{% block javascript %}
    <script type="text/javascript" src="/include/jslibs/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="/include/jslibs/jquery-ui-1.8.17/js/jquery-ui-1.8.17.custom.min.js"></script>
        <script type="text/javascript" src="/include/minify/g=lightbox"></script>
        <script type="text/javascript" src="/include/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
{% endblock %}

{% block stylesheet %}
    <link type="text/css" rel="stylesheet"
        href="/include/minify/f=include/jslibs/jquery.contextmenu.css,include/jslibs/jquery-ui-1.8.17/css/ui-lightness/jquery-ui-1.8.17.custom.css,skins/lightbox/lightbox.css" media="screen"/>
  {% endblock %}



{% block content %}
    <div class="PNB10">
        <div class="PNB" id="top_container">
            <div id="record_wrapper" class="PNB single" style="right:250px;">
                <div id="record_main" class="PNB record_display_box" style="bottom:auto;right:auto;">
                    <div class="header PNB ui-widget-header ui-corner-all unselectable">
                        <table cellspacing="0" cellpadding="0" border="0" style="width:100%;height:100%;">
                            <tr valign="middle">
                                <td style="width:10px;"></td>
                                <td style="width:35px;text-align:center;">
                                    <div class="display_id">{% if first_item %}{{first_item.get_ord()}}{% endif %}</div>
                                </td>
                                <td style="text-align:left;width:auto;">
                                    <div class="title title15" title="{% if first_item %}{{first_item.get_record().get_title|e}}{% endif %}">
                                        {% if first_item %}{{first_item.get_record().get_title|raw}}{% endif %}
                                    </div>
                                </td>
                                <td style="text-align:right;width:230px;">
                                    <div class="options">
                    {% set feed_element = first_item %}
                                        {% include 'lightbox/feed_options_box.html.twig' %}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="container PNB">
                    {% if first_item %}
                        {% if app['phraseanet.user'].ACL().has_preview_grant(first_item.get_record()) %}
                            {% set bask_prev = first_item.get_record().get_preview() %}
                        {% else %}
                            {% set bask_prev = first_item.get_record().get_thumbnail() %}
                        {% endif %}
                        {{thumbnail.format(bask_prev,bask_prev.get_width(),bask_prev.get_height(),'',session, false, false)}}
                    {% endif %}
                    </div>
                </div>
                <div id="record_compare" class="PNB record_display_box">
                    <div class="header PNB ui-widget-header ui-corner-all unselectable">
                        <table cellspacing="0" cellpadding="0" border="0" style="width:100%;height:100%;">
                            <tr valign="middle">
                                <td style="width:10px;"></td>
                                <td style="width:35px;text-align:center;">
                                    <div class="display_id"></div>
                                </td>
                                <td style="text-align:left;width:auto;">
                                    <div class="title title15" title="{% if first_item %}{{first_item.get_record().get_title|e}}{% endif %}">
                                        {% if first_item %}{{first_item.get_record().get_title}}{% endif %}
                                    </div>
                                </td>
                                <td style="text-align:right;width:230px;">
                                    <div class="options"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="container PNB">
                    </div>
                </div>
            </div>
            <div id="right_column" class="PNB">
                <div class="right_column_title title15 unselectable">
                    {% trans 'notice'%}
                </div>
                <div class="right_column_wrapper caption right_column_wrapper_caption PNB">
                    <div id="record_infos" class="PNB">
                        <div class="container PNB">
              {% set business = app['phraseanet.user'].ACL().has_right_on_base(first_item.get_record().get_base_id(), 'canmodifrecord') %}
              {% if first_item %}
                {{caption.format_caption(first_item.get_record(), '', null, business)}}
              {% endif %}
            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="PNB unselectable" id="bottom_container">
            <div class="PNB" style="height:30px;bottom:auto;">
                <table border="0" cellspacing="0" cellpadding="0" style="width:100%;">
                    <tr>
                        <td style="width:20px;">
                        </td>
                        <td style="width:40px;">
                            <button class="ui-corner-all basket_downloader" title="{% trans 'boutton::telecharger tous les documents' %}">
                                <img src="/skins/lightbox/save.png"/>
                            </button>
                        </td>
                        <td>
                            <hr/>
                        </td>
                        <td style="width:20px;">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="PNB" style="top:30px;">
                <div id="left_scroller" class="PNB clickable">
                </div>
                <div class="PNB" id="sc_wrapper">
                    {% include 'lightbox/feed_container.html.twig' %}
                </div>
                <div id="right_scroller" class="PNB clickable">
                </div>
            </div>
        </div>
    </div>
    <div id="dialog_dwnl" title="{% trans 'action : exporter' %}" style="display:none;"></div>
{% endblock %}


