{% extends "lightbox/index_layout.html.twig" %}

{% import 'common/thumbnail.html.twig' as thumbnail %}
{% import 'common/macros.html.twig' as macro %}

{% block javascript %}
    <script type="text/javascript" src="/assets/common/js/common{% if not app.debug %}.min{% endif %}.js"></script>
    <script type="text/javascript" src="/assets/lightbox/js/lightbox{% if not app.debug %}.min{% endif %}.js"></script>
{% endblock %}

{% block stylesheet %}
    <link type="text/css" rel="stylesheet" href="/assets/lightbox/css/lightbox{% if not app.debug %}.min{% endif %}.css" media="screen"/>
  {% endblock %}

{% block content %}
    <div class="PNB10">
        <div class="PNB" id="top_container">
            <div id="record_wrapper" class="PNB single" style="right:250px;">
                <div id="record_main" class="PNB record_display_box" style="bottom:auto;right:auto;">
                    <div class="header PNB ui-widget-header ui-corner-all unselectable">
                        <table cellspacing="0" cellpadding="0" border="0" style="width:100%;height:100%;">
                            <tr valign="middle">
                                <td style="width:10px;"></td>
                                <td style="width:35px;text-align:center;">
                                    <div class="display_id">{% if first_item %}{{first_item.getOrd()}}{% endif %}</div>
                                </td>
                                <td style="text-align:left;width:auto;">
                                    <div class="title title15" title="{% if first_item %}{{first_item.getRecord(app).get_title|e}}{% endif %}">
                                        {% if first_item %}{{first_item.getRecord(app).get_title|raw}}{% endif %}
                                    </div>
                                </td>
                                <td style="text-align:right;width:230px;">
                                    <div class="options">
                    {% set feed_element = first_item %}
                                        {% include 'lightbox/feed_options_box.html.twig' %}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="lightbox_container PNB record_display_box">
                    {% if first_item %}
                        {% if app.getAclForUser(app.getAuthenticatedUser()).has_access_to_subdef(first_item.getRecord(app), 'preview') %}
                            {% set bask_prev = first_item.getRecord(app).get_preview() %}
                        {% else %}
                            {% set bask_prev = first_item.getRecord(app).get_thumbnail() %}
                        {% endif %}
                        {{thumbnail.format(bask_prev,bask_prev.get_width(),bask_prev.get_height(),'', false, false)}}
                    {% endif %}
                    </div>
                </div>
                <div id="record_compare" class="PNB record_display_box">
                    <div class="header PNB ui-widget-header ui-corner-all unselectable">
                        <table cellspacing="0" cellpadding="0" border="0" style="width:100%;height:100%;">
                            <tr valign="middle">
                                <td style="width:10px;"></td>
                                <td style="width:35px;text-align:center;">
                                    <div class="display_id"></div>
                                </td>
                                <td style="text-align:left;width:auto;">
                                    <div class="title title15" title="{% if first_item %}{{first_item.getRecord(app).get_title|e}}{% endif %}">
                                        {% if first_item %}{{first_item.getRecord(app).get_title}}{% endif %}
                                    </div>
                                </td>
                                <td style="text-align:right;width:230px;">
                                    <div class="options"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="lightbox_container PNB record_display_box">
                    </div>
                </div>
            </div>
            <div id="right_column" class="PNB">
                <div class="right_column_title title15 unselectable">
                    {{ 'notice' | trans }}
                </div>
                <div class="right_column_wrapper caption right_column_wrapper_caption PNB">
                    <div id="record_infos" class="PNB">
                        <div class="lightbox_container PNB">
              {% set business = app.getAclForUser(app.getAuthenticatedUser()).has_right_on_base(first_item.getRecord(app).get_base_id(), constant('\\ACL::CANMODIFRECORD')) %}
              {% if first_item %}
                {{macro.caption(first_item.getRecord(app), business, false, true)}}
              {% endif %}
            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="PNB unselectable" id="bottom_container">
            <div class="PNB" style="height:30px;bottom:auto;">
                <table border="0" cellspacing="0" cellpadding="0" style="width:100%;">
                    <tr>
                        <td style="width:20px;">
                        </td>
                        <td style="width:40px;">
                            <button class="ui-corner-all basket_downloader" title="{{ 'boutton::telecharger tous les documents' | trans }}">
                                <img src="/assets/lightbox/images/save.png"/>
                            </button>
                        </td>
                        <td>
                            <hr/>
                        </td>
                        <td style="width:20px;">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="PNB" style="top:30px;">
                <div id="left_scroller" class="PNB clickable">
                </div>
                <div class="PNB" id="sc_wrapper">
                    {% include 'lightbox/feed_container.html.twig' %}
                </div>
                <div id="right_scroller" class="PNB clickable">
                </div>
            </div>
        </div>
    </div>
    <div id="dialog_dwnl" title="{{ 'action : exporter' | trans }}" style="display:none;"></div>
{% endblock %}


