
{% block basket %}
<div id="sc_container">
    {% for element in basket.getElements() %}
        <div class="basket_element_wrapper">
      <a href="{{ path('lightbox_ajax_load_basketelement', { 'sselcont_id' : element.getId() }) }}">
        <div id="scid_{{element.getId()}}" class="basket_element ui-corner-all {% if basket_element and basket_element.getId() == element.getId() %}selected{% endif %}">
          {% set record = element.getRecord(app).setNumber(loop.index) %}
          <div class="display_id">{{record.getNumber()}}</div>
          {% if basket.isVoteBasket() %}
            <div class="agreement">
                {% set userVote = element.getUserVote(app.getAuthenticatedUser(), true) %}
              <img src="/assets/lightbox/images/agree.png"
                class="agree_button {%if userVote.getAgreement() == false or userVote.getAgreement() is null %}not_decided{%endif%} agree_{{element.getId()}}" />
              <img src="/assets/lightbox/images/disagree.png"
                class="disagree_button {%if userVote.getAgreement() == true or userVote.getAgreement() is null %}not_decided{%endif%} disagree_{{element.getId()}}" />
            </div>
          {% endif %}
          {{thumbnail.format(element.getRecord(app).get_thumbnail,114,85, '', true, false)}}
          <form name="download_form" class="download_form" style="display:none;">
            <input type="hidden" name="basrec" value="{{element.getRecord(app).get_serialize_key()}}"/>
          </form>
          <div tooltipsrc="{{ path('prod_tooltip_preview', { 'sbas_id' : element.getRecord(app).get_sbas_id(), 'record_id' : element.getRecord(app).get_record_id() }) }}" class="previewTips"></div>
        </div>
      </a>
        </div>
    {% endfor %}
</div>

{% endblock basket %}
