{% if basket_element and basket_element.getBasket().isVoteBasket() %}
<div class="notes_wrapper">
    <div class="notes_overlay"></div>
    <div class="notes well-small">
        <div class="well-small">
            <h2 class="title15">{{ 'validation:: votre note' | trans }}</h2>
        </div>
        <hr/>
        {% for vote in basket_element.getVotes() %}
            {% if vote.getNote() != '' %}
                <div class="note_wrapper ui-corner-all {% if vote.getParticipant().getUser().getId() == app.getAuthenticatedUser().getId() %}my_note{% endif %} ">
                    <span class="note_author title15">
                      {{vote.getParticipant().getUser().getDisplayName()}}
                    </span> : {{ vote.getNote()|nl2br }}
                </div>
          {% endif %}
        {% endfor %}

        <form>
            <textarea>{{basket_element.getUserVote(app.getAuthenticatedUser(), true).getNote()}}</textarea>
            <div class="buttons">
                <button class="note_closer ui-corner-all">
                  {{ 'boutton::fermer' | trans }}
                </button>
                <button class="note_saver ui-corner-all" id="note_saver_{{basket_element.getId()}}">
                  {{ 'boutton::enregistrer' | trans }}
                </button>
            </div>
        </form>
    </div>
</div>
{% endif %}
