<span style="padding:10px 4px 7px;">
    {% if basket_element %}
        <button class="previous_button play btn btn-mini" title="{{ 'boutton::precedent' | trans }}">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </button>
        <button class="previous_button pause btn btn-mini btn-inverse" title="{{ 'boutton::precedent' | trans }}" style="display:none">
            <i class="fa fa-chevron-left icon-white" aria-hidden="true"></i>
        </button>
        <button class="play_button btn btn-mini" title="{{ 'boutton::demarrer' | trans }}">
            <i class="fa fa-play" aria-hidden="true"></i>
        </button>
        <button class="pause_button btn btn-mini" title="{{ 'boutton::pause' | trans }}" style="display:none">
            <i class="fa fa-pause" aria-hidden="true"></i>
        </button>
        <button class="next_button play btn btn-mini" title="{{ 'boutton::suivant' | trans }}">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </button>
        <button class="next_button pause btn btn-mini btn-inverse" title="{{ 'boutton::suivant' | trans }}" style="display:none">
            <i class="fa fa-chevron-right icon-white" aria-hidden="true"></i>
        </button>
        <button class="download_button btn btn-mini btn-inverse" title="{{ 'boutton::telecharger' | trans }}">
            <i class="fa fa-arrow-circle-o-down icon-white" aria-hidden="true"></i>
        </button>
        <form name="download_form" style="display:none;">
            <input type="hidden" name="basrec" value="{{basket_element.getRecord(app).get_serialize_key()}}"/>
        </form>
         |
        {% if basket_element.getBasket().getValidation() %}
            <button class="comment_button btn btn-mini btn-inverse">
                <i class="fa fa-pencil-square-o icon-white" aria-hidden="true"></i>
                {% set n = 0 %}
                {% for validationData in basket_element.getValidationDatas() %}
                  {% if validationData.getNote() %}
                    {% set n = n+1 %}
                  {% endif %}
                {% endfor %}
                {{ n }}
            </button>
        {% endif %}
    {% endif %}
</span>

