<span style="padding:10px 4px 7px;">
    {% if basket_element %}
        <button class="previous_button play btn btn-mini" title="{{ 'boutton::precedent' | trans }}">
            <img class="lightbox-icon" src="/assets/lightbox/images/chevron-left-solid.svg"/>
        </button>
        <button class="previous_button pause btn btn-mini btn-inverse" title="{{ 'boutton::precedent' | trans }}" style="display:none">
             <img class="lightbox-icon" src="/assets/lightbox/images/chevron-left-solid.svg"/>
        </button>
        <button class="play_button btn btn-mini" title="{{ 'boutton::demarrer' | trans }}">
            <img class="lightbox-icon" src="/assets/lightbox/images/play-solid.svg"/>
        </button>
        <button class="pause_button btn btn-mini" title="{{ 'boutton::pause' | trans }}" style="display:none">
            <img class="lightbox-icon" src="/assets/lightbox/images/pause-solid.svg"/>
        </button>
        <button class="next_button play btn btn-mini" title="{{ 'boutton::suivant' | trans }}">
            <img class="lightbox-icon" src="/assets/lightbox/images/chevron-right-solid.svg"/>
        </button>
        <button class="next_button pause btn btn-mini btn-inverse" title="{{ 'boutton::suivant' | trans }}" style="display:none">
            <img class="lightbox-icon" src="/assets/lightbox/images/chevron-right-solid.svg"/>
        </button>
        <button class="download_button btn btn-mini btn-inverse" title="{{ 'boutton::telecharger' | trans }}">
             <img class="lightbox-icon" src="/assets/lightbox/images/file-download-solid.svg"/>
        </button>
        <form name="download_form" style="display:none;">
            <input type="hidden" name="basrec" value="{{basket_element.getRecord(app).get_serialize_key()}}"/>
        </form>
         |

    {% endif %}
</span>

