
<h3 style="color: red">POC/Experimental. The OK button will <u>NOT</u> edit records.</h3>

{% if error %}

    {{ error }}

{% else %}

    {% if rejected_cnt > 0 %}
        you don't have rights to edit {{ rejected_cnt }} record(s)
    {% endif %}

    <form id="DroppedOnTH_form">
        <table>
            <tr>
                <th>value</th>
                <th><span class="fieldSelected" style="display: none">operation</span></th>
                <th>to field</th>
            </tr>
        {% if up_paths|length > 1 %}
            <tr class="moreFields">
                <td colspan="3">
                    <button>+</button>&nbsp;Other value(s)...
                </td>
            </tr>
        {% endif %}
        {% set n=1 %}
        {% for tid,up_path in up_paths %}
            {% set cl = (n == up_paths|length) ? "" : "class='other' style='display:none'"%}
            <tr {{ cl|raw }}>
                <td>
{#                    {% if up_path.synonyms|length == 1 %} #}{# too bad : we must use a select event for one option...  #}
{#                        {% set synonym = up_path.synonyms|first %}#}
{#                        <input type="text" class="uneditable-input" value={{ synonym.value }} /> #}{# bad align because we changed "select" margins #}
{#                    {% else %}#}
                    <select class="synonym _{{ n }}">
                    {% for synonym in up_path.synonyms %}
                        <option {{ synonym.selected ? "selected" : "" }}>{{ synonym.value }}</option>
                    {% endfor%}
                    </select>
{#                    {% endif %}#}
                </td>
                <td>
                    <select class="actionSelect _{{ n }}">
                        <option class="mono" value="set">set to</option>
                        <option class="multi" value="add">add to</option>
                        <option class="multi" value="replace">replace all</option>
                        {# do NOT mix the following 2 options as one #}
                        <option class="mono" value="delete">delete from</option>
                        <option class="multi" value="delete">remove from</option>
                    </select>
                </td>
                <td>
                    <select class="fieldSelect" data-n="{{ n }}">
                        {% set sel="" %}
                        {% if n == up_paths|length %}
                            <option data-multi="0">select...</option>
                            {% if up_path.fields|length == 1 %}
                                {% set sel="selected" %}
                            {% endif %}
                        {% else %}
                            <option data-multi="0">none</option>
                        {% endif %}
                        {% for field in up_path.fields  %}
                            <option {{ sel }} data-multi="{{ field.is_multi() ? 1 : 0 }}" value="{{ field.get_name() }}">{{ field.get_name() }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            {% set n = n+1 %}
        {% endfor %}
        </table>
    </form>
{% endif %}

<script type="application/javascript">
    // let $container = $('#DroppedOnTH_form');

    let dlg = dialog.get({{ dlg_level }});
    // todo : find dlg container by .widget() ?
    let $container = dlg.getDomElement().parent(); // the whole dlg, including title & buttons

    // todo : fix black-dialog-wrap
    // $container.addClass('black-dialog-wrap');
    dlg.setOption("title", "editing {{ received_cnt }} record(s)");
    dlg.setOption("buttons",
        [
            {
                class: "fieldSelected",
                text: "Ok",
                style: "display:none",
                click: function() {
                    // don't submit the complex form, better build json
                    let data = [];
                    $(' .fieldSelect').filter(function () { return $(this).prop('selectedIndex')>0;}).each(function () {
                        let n = $(this).data('n');
                        let action = $(' .actionSelect._'+n, $container).val();
                        if(action === 'replace') {
                            // replace ll multi-v needs a "replace_by" arg
                            data.push({
                                'field_name':   $(this).val(),
                                'action':       action,
                                'replace_with': $(' .synonym._' + n, $container).val()
                            });
                        }
                        else {
                            data.push({
                                'field_name': $(this).val(),
                                'action':     action,
                                'value':      $(' .synonym._' + n, $container).val()
                            });
                        }
                    });
                    data = {
                        'records': {{ records|json_encode|raw }},
                        'actions': {
                            'metadatas': data
                        }
                    };

                    console.log(data);

                    $.ajax({
                            url: "{{ path('prod_edit_applyJSAction') }}",
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(data),
                            success: function (data, textStatus) {
                                console.log(data);
                                dlg.close();
                            }
                        },
                    );
                }
            },
            {
                text: "Cancel",
                click: function() {
                    $( this ).dialog( "close" );
                }
            }
        ]
    );

    /**
     * when a destination field is selected, show/hide the "multi" radio
     */
    $(' .fieldSelect', $container)
        .change(function () {
            let select = $(this);
            let n = select.data('n');

            // show only possible actions, depending on field is mono/multi
            let actionSelect = $(' .actionSelect._'+n, $container);
            let multi = !!$('option:eq(' + select.prop('selectedIndex') + ')', select).data('multi');
            $(' OPTION.mono', actionSelect).toggle(!multi);
            $(' OPTION.multi', actionSelect).toggle(multi);
            // set default action
            actionSelect.prop('selectedIndex', multi ? 1 : 0); // 1=add : 0=set

            // if at least one destination field is set, show some elements
            let oneFieldSet = false;
            $(' .fieldSelect', $container).each(function () {
                let n = $(this).data('n');
                if($(this).prop('selectedIndex') > 0) {
                    $(' .actionSelect._'+n).show();
                    oneFieldSet = true;
                }
                else {
                    $(' .actionSelect._'+n).hide();
                }
            });
            $(' .fieldSelected', $container).toggle(oneFieldSet);
        })
        .change();  // enforce initial update


    $(' .moreFields BUTTON', $container).click(function () {
        $(' .moreFields', $container).hide();
        $(' .other').show();
        return false;
    })

</script>