<div class="page-header">
    <h1>{% trans 'Phrasea search-engine configuration' %}</h1>
</div>

<form method="post" action="{{ path('admin_searchengine_post') }}">
    <fieldset>
        <legend>{% trans 'Date fields available for search' %}</legend>
        {% for field in date_fields %}
            <label class="checkbox">
                <input type="checkbox" name="date_fields[]" value="{{ field }}" {% if field in configuration['date_fields'] %}checked="checked"{% endif %} >
                {{ field }}
            </label>
        {% endfor %}
    </fieldset>
    <fieldset>
        <legend>{% trans 'Default sort' %}</legend>
        <select name="default_sort">
            {% for sort, sort_name in available_sort %}
                <option value="{{ sort }}" {%if configuration['default_sort'] == sort %}selected="selected"{% endif %}>{{ sort_name }}</option>
            {% endfor %}
        </select>
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-warning">{% trans 'boutton::valider' %}</button>
    </div>
</form>
