{#
    variable "provider_name" should be setted The current provider name
    variable "recaptcha_display" should be setted Tell whether the recaptch should be displayed
    variable "recaptacha" should be setted  The recaptcha object
 #}

{% extends "login/layout/sidebar-layout.html.twig" %}

{% import "common/macros.html.twig" as macro %}
{% import "login/common/macros.html.twig" as auth_macro %}

{% block title %}
    {% trans "Login" %}
{% endblock %}

{% block sidebar %}
    <div class="well-large sidebar-block">
        <div class="row-fluid">
            <div class="span12">
                <div class="text-title">{% trans "Connexion" %}</div>
                <div class="match-hint">
                    {% trans %}
                       Your {{ provider_name }} account matchs a Phraseanet account
                    {% endtrans %}
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                {{ auth_macro.providerBadge("facebook-badge","http://profile.ak.fbcdn.net/hprofile-ak-ash4/188043_268328669948930_728750033_q.jpg","Monsieur Grincheux","mr.grincheux@email.com") }}
            </div>
        </div>
        <div class="row-fluid">
             <div class="span12">
                 <div class="text-center well-small">
                    <img src="/skins/login/img/link.png" style="height:30px;"/>
                 </div>
            </div>
        </div>
        <div class="row-fluid">
             <div class="span12">
                {{ auth_macro.phraseanetBadge("Monsieur Grincheux","mr.grincheux@email.com", "Alchemy") }}
            </div>
        </div>
    </div>
    <div class="well-large sidebar-block">
        <div class="row-fluid">
            <div class="span12 sidebar-hint-large">
                {% trans "Login to link your account" %}
            </div>
        </div>
        <div class="row-fluid">
             <div class="span12">
                 {{ auth_macro.alert() }}
                 <form
                     ng-controller="LoginFormController"
                     novalidate
                     name="{{ form.vars.name }}"
                     ng-submit="submit();"
                     action="{{ path("login_authentication_provider_bind") }}"
                     method="POST"
                     check-form-submission
                    >
                    <div class="row-fluid hidden">
                        <div class="span12">
                            {{ auth_macro.fieldInput(form.email, form.vars.name, 'icon-envelope') }}
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span12">
                            {{ auth_macro.fieldInput(form.password, form.vars.name, 'icon-lock') }}
                        </div>
                    </div>

                     <div class="text-right">
                         <a class="forget-password-link" href="{{ path("login_forgot_password") }}">{% trans "Forgot password?" %}</a>
                     </div>

                    {% if recaptcha_display %}
                        <div class="row-fluid">
                            <div class="span12">
                                {{ macro.captcha(recaptcha) }}
                            </div>
                         </div>
                    {% endif %}

                     <div class="row-fluid">
                        <div class="span12">
                            <button type="submit" class="btn btn-success btn-trigger">{% trans "Connexion" %}</button>
                        </div>
                     </div>
                </form>
            </div>
        </div>
    </div>
    <div class="well-large sidebar-block {% if not login.register_enabled(app) %}last-child{% endif %}">
        <div class="row-fluid">
            <div class="span12 text-center">
              {% trans "These informations do not match?" %}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12 text-center">
               <a href="{{ path("homepage") }}" class="btn btn-info btn-trigger">{% trans "Use my Phraseanet account" %}</a>
            </div>
        </div>
    </div>
    {% include "login/include/register-link-block.html.twig" with {"login" : login, "last_item" : login.register_enabled(app)} %}
{% endblock %}
