{% import 'common/thumbnail.html' as thumbnail %}

{% for element in basket.getElements() %}
  <div id="ORDER_{{ element.getId() }}" class="CHIM diapo" style="height:130px;overflow:hidden;">
    <div class="title" title="{{ element.getRecord().get_title() }}" style="position:relative;z-index:1200;height:30px;overflow:visible;text-align:center;">
      <span>{{ element.getRecord().get_title() }}</span>
      {{ thumbnail.format(element.getRecord().get_thumbnail(), 80, 80, '', session) }}
      <form style="display:none;">
        <input type="hidden" name="id" value="{{ element.getId() }}"/>
        <input type="hidden" name="title" value="{{ element.getRecord().get_title() }}"/>
        <input type="hidden" name="default" value="{{ element.getOrd() }}"/>
      </form>
    </div>
  </div>

  <form method="POST" action="/prod/baskets/{{ basket.getId() }}/reorder/">

  </form>
{% endfor %}
