{% extends "report/base.twig" %}

{% block all_content %}
    {# MAIN MENU #}


    <div id="dashboard-table" >
        <div style="width:320px;">
            <div id="periode_dash" class="center" >{{ dashboard_array.dmin }} au {{ dashboard_array.dmax }}</div>
            <div id="liste_dash"  class="center">{{ dashboard_array.liste_base }}</div>
            <ul class="edgetoedge">
                {% for key, value in dashboard_array.all_sbas_desc %}
                    <li class="arrow base_{{key}}"><a href="#">{{ value.name }}</a></li>
                {% endfor %}
            </ul>

            {% for key, value in dashboard_array.base %}

            {% endfor %}
        </div>
        {%block dashboard_content %}
            {% block connexions_downloads_table %}{% endblock %}
            {% block top_ten_nb_docs %}{% endblock %}
            {% block top_ten_nb_prev %}{% endblock %}
            {% block top_ten_dl_doc %}{% endblock %}
            {% block top_ten_dl_prev %}{% endblock %}
            {% block top_ten_site %}{% endblock %}
            {% block top_ten_weight_doc %}{% endblock %}
            {% block top_ten_weight_prev %}{% endblock %}
            {% block top_ten_asked_question %}{% endblock %}
            {% block top_ten_user_question %}{% endblock %}
            {% block draw_activity_hour %}{% endblock %}
            {% block draw_activity_day %}{% endblock %}
            {% block draw_activity_added %}{% endblock %}
            {% block draw_activity_edited %}{% endblock %}
        {% endblock %}
    </div>

    {%block content %}{% endblock %}
{% endblock %}
