{% for r_a in records_acl %}
    <tr>
        <td>{{ r_a.sbas_id | sbas_labels(app) }}</td>
        <td>{{ r_a.record_id }}</td>
        <td>{{ r_a.document }}</td>
        <td>{{ r_a.preview }}</td>
        <td>{{ r_a.type }}</td>
        <td>{{ r_a.pusher_name }}</td>
    </tr>
{% endfor %}

{% if feed_entries is defined %}
    {% if feed_entries | length > 0 %}
        <ul>
            {% for f_e in feed_entries %}
                <li>{{ f_e.title }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p> No publication</p>
    {% endif %}
{% endif %}

{% for b_e in basket_elements %}
    <tr>
        <td>{{ b_e.getSbasId() | sbas_labels(app) }}</td>
        <td>{{ b_e.getRecordId() }}</td>
        <td>{{ b_e.basket.name }}</td>
    </tr>
{% endfor %}
