{% if not isAvailable %}
    <p>{{ 'No permalink available.' | trans }}</p>
{% else %}
    {%  if preview.permalinkUrl is not empty %}
        <div id="share">
            <div id="tweet" class="well-large">
                <p>
                    <a href="http://www.twitter.com/home/?status={{ preview.permaviewUrl }}" target="_blank">
                        <img src="/assets/common/images/icons/twitter.ico" title="share this on twitter" style="vertical-align:middle;padding:0 5px;"/>
                        {% trans %}Send to Twitter{% endtrans %}
                    </a>
                </p>
                <p>
                    <a href="http://www.facebook.com/sharer.php?u={{ preview.permaviewUrl }}" target="_blank">
                        <img src="/assets/common/images/icons/facebook.ico" title="share on facebook" style="vertical-align:middle;padding:0 5px;"/>
                        {% trans %}Send to Facebook{% endtrans %}
                    </a>
                </p>

                <form action="#">
                    <div class="form-group clearfix">
                        <label>{% trans %}Resource URL{% endtrans %}</label>
                        <input class="input-block-level" readonly="readonly" type="text" value="{{ preview.permalinkUrl }}"
                               id="permalinkUrl"/>

                        <p class="pull-right">
                            <a href="{{ preview.permalinkUrl }}" target="_blank">{{ 'previewLinkLabel' | trans }}</a> &nbsp;&nbsp;
                            <a href="#" class="" id="permalinkUrlCopy">{{ 'copyClipboardLabel' | trans }}</a>
                        </p>
                    </div>
                    <div class="form-group clearfix">
                        <label>{% trans %}Detailed view URL{% endtrans %}</label>
                        <input class="input-block-level" readonly="readonly" type="text" value="{{ preview.permaviewUrl }}" id="permaviewUrl"/>
                        <p class="pull-right">
                            <a href="{{ preview.permaviewUrl }}" target="_blank">{{ 'previewLinkLabel' | trans }}</a> &nbsp;&nbsp;
                            <a href="#" class="" id="permaviewUrlCopy">{{ 'copyClipboardLabel' | trans }}</a>
                        </p>
                    </div>
                    <div class="form-group clearfix">
                        {#{% if type == 'image' %}#}
                        <label>{% trans %}Embed code{% endtrans %}</label>
                        {% spaceless %}
                            <textarea class="input-block-level" rows="4" readonly="true" id="embedRecordUrl">
                                <iframe width="{{ preview.width }}" height="{{ preview.height }}" src="{{ preview.embedUrl }}" frameborder="0" allowfullscreen></iframe>
                            </textarea>
                        {% endspaceless %}
                        <p class="pull-right">
                            <a href="{{ preview.embedUrl }}" target="_blank">{{ 'previewLinkLabel' | trans }}</a> &nbsp;&nbsp;
                            <a href="#" class="" id="embedCopy">{{ 'copyClipboardLabel' | trans }}</a>
                        </p>
                    </div>
                    {#{% endif %}#}
                </form>
            </p>
        </div>
    {% else %}
        <div>{{ 'No URL available' | trans }}</div>
    {% endif %}
{% endif %}
